image-component {
  .flex-center;
  background-color: fade(@graphite, 12%);
  width: 100%;
  height: 100%;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-loaded {
  cursor: pointer;
}

.image-loading {
  position: absolute;
}
