<!-- Utilities -->
<script src="/script/util/ArrayUtil.js"></script>
<script src="/script/util/Crypto.js"></script>
<script src="/script/util/DebugUtil.js"></script>
<script src="/script/util/EmojiUtil.js"></script>
<script src="/script/util/Environment.js"></script>
<script src="/script/util/util.js"></script>
<script src="/script/util/protobuf.js"></script>
<script src="/script/util/KeyboardUtil.js"></script>
<script src="/script/util/LocalizerUtil.js"></script>
<script src="/script/util/marked.js"></script>
<script src="/script/util/moment.js"></script>
<script src="/script/util/NumberUtil.js"></script>
<script src="/script/util/ObjectUtil.js"></script>
<script src="/script/util/PromiseQueue.js"></script>
<script src="/script/util/scroll-helpers.js"></script>
<script src="/script/util/StorageUtil.js"></script>
<script src="/script/util/StringUtil.js"></script>
<script src="/script/util/TimeUtil.js"></script>
<script src="/script/util/CountryCodes.js"></script>
<script src="/script/util/worker.js"></script>
<script src="/script/util/URLUtil.js"></script>
<script src="/script/util/ValidationUtil.js"></script>
<script src="/script/util/ValidationUtilError.js"></script>
<!-- Config -->
<script src="/script/config.js"></script>
<!-- Audio -->
<script src="/script/audio/AudioError.js"></script>
<script src="/script/audio/AudioRepository.js"></script>
<script src="/script/audio/AudioPreference.js"></script>
<script src="/script/audio/AudioType.js"></script>
<script src="/script/audio/AudioPlayingType.js"></script>
<!-- Authentication -->
<script src="/script/auth/AccessTokenError.js"></script>
<script src="/script/auth/AuthError.js"></script>
<script src="/script/auth/AuthService.js"></script>
<script src="/script/auth/AuthRepository.js"></script>
<script src="/script/auth/SignOutReason.js"></script>
<script src="/script/auth/URLParameter.js"></script>
<!-- Service -->
<script src="/script/service/BackendClientError.js"></script>
<script src="/script/service/BackendClient.js"></script>
<script src="/script/service/BackendEnvironment.js"></script>
<script src="/script/service/QueueState.js"></script>
<!-- Initialization -->
<script src="/script/main/auth.js"></script>
<!-- Storage -->
<script src="/script/storage/StorageError.js"></script>
<script src="/script/storage/StorageKey.js"></script>
<script src="/script/storage/StorageRepository.js"></script>
<script src="/script/storage/StorageSchemata.js"></script>
<script src="/script/storage/StorageService.js"></script>
<!-- Localization -->
<script src="/script/localization/strings-init.js"></script>
<script src="/script/localization/translations/webapp-cs.js"></script>
<script src="/script/localization/translations/webapp-da.js"></script>
<script src="/script/localization/translations/webapp-de.js"></script>
<script src="/script/localization/translations/webapp-el.js"></script>
<script src="/script/localization/translations/webapp-es.js"></script>
<script src="/script/localization/translations/webapp-et.js"></script>
<script src="/script/localization/translations/webapp-fi.js"></script>
<script src="/script/localization/translations/webapp-fr.js"></script>
<script src="/script/localization/translations/webapp-hr.js"></script>
<script src="/script/localization/translations/webapp-hu.js"></script>
<script src="/script/localization/translations/webapp-it.js"></script>
<script src="/script/localization/translations/webapp-lt.js"></script>
<script src="/script/localization/translations/webapp-nl.js"></script>
<script src="/script/localization/translations/webapp-pl.js"></script>
<script src="/script/localization/translations/webapp-pt.js"></script>
<script src="/script/localization/translations/webapp-ro.js"></script>
<script src="/script/localization/translations/webapp-ru.js"></script>
<script src="/script/localization/translations/webapp-sk.js"></script>
<script src="/script/localization/translations/webapp-sl.js"></script>
<script src="/script/localization/translations/webapp-tr.js"></script>
<script src="/script/localization/translations/webapp-uk.js"></script>
<script src="/script/localization/webapp.js"></script>
<script src="/script/localization/Localizer.js"></script>
<!-- Tracking -->
<script src="/script/tracking/attribute/ConversationType.js"></script>
<script src="/script/tracking/attribute/DeleteType.js"></script>
<script src="/script/tracking/attribute/MessageType.js"></script>
<script src="/script/tracking/attribute/PlatformType.js"></script>
<script src="/script/tracking/attribute/UserType.js"></script>
<script src="/script/tracking/EventName.js"></script>
<script src="/script/tracking/EventTrackingRepository.js"></script>
<script src="/script/tracking/Helpers.js"></script>
<script src="/script/tracking/SuperProperty.js"></script>
<!-- Assets -->
<script src="/script/assets/AssetUploadFailedReason.js"></script>
<script src="/script/assets/AssetURLCache.js"></script>
<script src="/script/assets/AssetRemoteData.js"></script>
<script src="/script/assets/AssetRetentionPolicy.js"></script>
<script src="/script/assets/AssetTransferState.js"></script>
<script src="/script/assets/AssetType.js"></script>
<script src="/script/assets/AssetService.js"></script>
<script src="/script/assets/AssetMapper.js"></script>
<script src="/script/assets/AssetMetaDataBuilder.js"></script>
<script src="/script/assets/AssetCrypto.js"></script>
<!-- Backup -->
<script src="/script/backup/Error.js"></script>
<script src="/script/backup/BackupRepository.js"></script>
<script src="/script/backup/BackupService.js"></script>
<!-- Broadcast -->
<script src="/script/broadcast/BroadcastRepository.js"></script>
<script src="/script/broadcast/BroadcastService.js"></script>
<!-- Cache -->
<script src="/script/cache/CacheRepository.js"></script>
<!-- Calling: Enums -->
<script src="/script/calling/enum/CallMessageType.js"></script>
<script src="/script/calling/enum/CallState.js"></script>
<script src="/script/calling/enum/CallStateGroup.js"></script>
<script src="/script/calling/enum/PropertyState.js"></script>
<script src="/script/calling/enum/SDPNegotiationMode.js"></script>
<script src="/script/calling/enum/SDPSource.js"></script>
<script src="/script/calling/enum/TerminationReason.js"></script>
<script src="/script/calling/enum/VideoOrientation.js"></script>
<!-- Calling: Rtc -->
<script src="/script/calling/rtc/DataChannelState.js"></script>
<script src="/script/calling/rtc/ICEConnectionState.js"></script>
<script src="/script/calling/rtc/ICEGatheringState.js"></script>
<script src="/script/calling/rtc/SDPType.js"></script>
<script src="/script/calling/rtc/SignalingState.js"></script>
<script src="/script/calling/rtc/StatsType.js"></script>
<!-- Calling: Entities -->
<script src="/script/calling/entities/CallEntity.js"></script>
<script src="/script/calling/entities/CallMessageEntity.js"></script>
<script src="/script/calling/entities/FlowEntity.js"></script>
<script src="/script/calling/entities/FlowAudioEntity.js"></script>
<script src="/script/calling/entities/ParticipantEntity.js"></script>
<!-- Calling -->
<script src="/script/calling/CallError.js"></script>
<script src="/script/calling/CallingRepository.js"></script>
<script src="/script/calling/CallingService.js"></script>
<script src="/script/calling/CallMessageBuilder.js"></script>
<script src="/script/calling/CallMessageMapper.js"></script>
<script src="/script/calling/SDPMapper.js"></script>
<!-- Connect -->
<script src="/script/connect/ConnectError.js"></script>
<script src="/script/connect/ConnectGoogleService.js"></script>
<script src="/script/connect/ConnectService.js"></script>
<script src="/script/connect/ConnectRepository.js"></script>
<script src="/script/connect/ConnectSource.js"></script>
<script src="/script/connect/PhoneBook.js"></script>
<!-- Client -->
<script src="/script/client/ClientEntity.js"></script>
<script src="/script/client/ClientError.js"></script>
<script src="/script/client/ClientMapper.js"></script>
<script src="/script/client/ClientRepository.js"></script>
<script src="/script/client/ClientService.js"></script>
<script src="/script/client/ClientType.js"></script>
<!-- Conversation -->
<script src="/script/conversation/AccessMode.js"></script>
<script src="/script/conversation/AccessRole.js"></script>
<script src="/script/conversation/AccessState.js"></script>
<script src="/script/conversation/ClientMismatchHandler.js"></script>
<script src="/script/conversation/ConversationCellState.js"></script>
<script src="/script/conversation/ConversationError.js"></script>
<script src="/script/conversation/ConversationMapper.js"></script>
<script src="/script/conversation/ConversationRepository.js"></script>
<script src="/script/conversation/ConversationService.js"></script>
<script src="/script/conversation/ConversationServiceNoCompound.js"></script>
<script src="/script/conversation/ConversationStateHandler.js"></script>
<script src="/script/conversation/ConversationStatus.js"></script>
<script src="/script/conversation/ConversationStatusIcon.js"></script>
<script src="/script/conversation/ConversationType.js"></script>
<script src="/script/conversation/ConversationVerificationState.js"></script>
<script src="/script/conversation/ConversationVerificationStateHandler.js"></script>
<script src="/script/conversation/EventBuilder.js"></script>
<script src="/script/conversation/EventMapper.js"></script>
<script src="/script/conversation/TimestampType.js"></script>
<!-- Cryptography -->
<script src="/script/cryptography/CryptographyError.js"></script>
<script src="/script/cryptography/CryptographyMapper.js"></script>
<script src="/script/cryptography/CryptographyRepository.js"></script>
<script src="/script/cryptography/CryptographyService.js"></script>
<script src="/script/cryptography/GenericMessageType.js"></script>
<!-- Ephemeral -->
<script src="/script/ephemeral/ephemeralTimings.js"></script>
<!-- Events -->
<script src="/script/event/Backend.js"></script>
<script src="/script/event/Client.js"></script>
<script src="/script/event/EventError.js"></script>
<script src="/script/event/EventRepository.js"></script>
<script src="/script/event/EventType.js"></script>
<script src="/script/event/EventTypeHandling.js"></script>
<script src="/script/event/NotificationHandlingState.js"></script>
<script src="/script/event/NotificationService.js"></script>
<script src="/script/event/WebApp.js"></script>
<script src="/script/event/WebSocketService.js"></script>
<!-- Extensions -->
<script src="/script/extension/GiphyService.js"></script>
<script src="/script/extension/GiphyRepository.js"></script>
<script src="/script/extension/GiphyContentSizes.js"></script>
<!-- Integration -->
<script src="/script/integration/IntegrationMapper.js"></script>
<script src="/script/integration/IntegrationRepository.js"></script>
<script src="/script/integration/IntegrationService.js"></script>
<script src="/script/integration/ProviderEntity.js"></script>
<script src="/script/integration/ServiceEntity.js"></script>
<script src="/script/integration/ServiceTag.js"></script>
<!-- Lifecycle -->
<script src="/script/lifecycle/LifecycleService.js"></script>
<script src="/script/lifecycle/LifecycleRepository.js"></script>
<script src="/script/lifecycle/UpdateSource.js"></script>
<!-- Link Previews -->
<script src="/script/links/LinkPreviewError.js"></script>
<script src="/script/links/LinkPreviewHelpers.js"></script>
<script src="/script/links/LinkPreviewMetaDataType.js"></script>
<script src="/script/links/LinkPreviewProtoBuilder.js"></script>
<script src="/script/links/LinkPreviewRepository.js"></script>
<script src="/script/links/LinkPreviewBlackList.js"></script>
<!-- GeoLocation -->
<script src="/script/location/GeoLocation.js"></script>
<!-- Media -->
<script src="/script/media/MediaConstraintsHandler.js"></script>
<script src="/script/media/MediaDevicesHandler.js"></script>
<script src="/script/media/MediaDeviceType.js"></script>
<script src="/script/media/MediaElementHandler.js"></script>
<script src="/script/media/MediaEmbeds.js"></script>
<script src="/script/media/MediaError.js"></script>
<script src="/script/media/MediaParser.js"></script>
<script src="/script/media/MediaRepository.js"></script>
<script src="/script/media/MediaStreamError.js"></script>
<script src="/script/media/MediaStreamErrorTypes.js"></script>
<script src="/script/media/MediaStreamHandler.js"></script>
<script src="/script/media/MediaStreamSource.js"></script>
<script src="/script/media/MediaStreamInfo.js"></script>
<script src="/script/media/MediaType.js"></script>
<script src="/script/media/VideoQualityMode.js"></script>
<!-- Motion -->
<script src="/script/motion/MotionDuration.js"></script>
<!-- Notification -->
<script src="/script/notification/PermissionStatusState.js"></script>
<script src="/script/notification/NotificationError.js"></script>
<script src="/script/notification/NotificationPreference.js"></script>
<script src="/script/notification/NotificationRepository.js"></script>
<!-- Properties -->
<script src="/script/properties/PropertiesEntity.js"></script>
<script src="/script/properties/PropertiesRepository.js"></script>
<script src="/script/properties/PropertiesService.js"></script>
<script src="/script/properties/PropertiesType.js"></script>
<!-- Search -->
<script src="/script/search/FullTextSearch.js"></script>
<script src="/script/search/SearchService.js"></script>
<script src="/script/search/SearchRepository.js"></script>
<!-- Team -->
<script src="/script/team/TeamEntity.js"></script>
<script src="/script/team/TeamError.js"></script>
<script src="/script/team/TeamMapper.js"></script>
<script src="/script/team/TeamMemberEntity.js"></script>
<script src="/script/team/TeamPermission.js"></script>
<script src="/script/team/TeamRepository.js"></script>
<script src="/script/team/TeamRole.js"></script>
<script src="/script/team/TeamService.js"></script>
<!-- Telemetry: App Init -->
<script src="/script/telemetry/app_init/AppInitStatistics.js"></script>
<script src="/script/telemetry/app_init/AppInitStatisticsValue.js"></script>
<script src="/script/telemetry/app_init/AppInitTelemetry.js"></script>
<script src="/script/telemetry/app_init/AppInitTimings.js"></script>
<script src="/script/telemetry/app_init/AppInitTimingsStep.js"></script>
<!-- Telemetry: Calling -->
<script src="/script/telemetry/calling/CallSetupSteps.js"></script>
<script src="/script/telemetry/calling/CallSetupStepsOrder.js"></script>
<script src="/script/telemetry/calling/CallSetupTimings.js"></script>
<script src="/script/telemetry/calling/FlowTelemetry.js"></script>
<script src="/script/telemetry/calling/CallTelemetry.js"></script>
<script src="/script/telemetry/calling/CallLogger.js"></script>
<!-- User -->
<script src="/script/user/AvailabilityMapper.js"></script>
<script src="/script/user/AvailabilityType.js"></script>
<script src="/script/user/ConnectionStatus.js"></script>
<script src="/script/user/ConsentType.js"></script>
<script src="/script/user/ConsentValue.js"></script>
<script src="/script/user/UserError.js"></script>
<script src="/script/user/UserService.js"></script>
<script src="/script/user/UserMapper.js"></script>
<script src="/script/user/UserConnectionMapper.js"></script>
<script src="/script/user/UserRepository.js"></script>
<script src="/script/user/UserHandleGenerator.js"></script>
<!-- View Models -->
<script src="/script/view_model/ActionsViewModel.js"></script>
<script src="/script/view_model/ImageDetailViewViewModel.js"></script>
<script src="/script/view_model/LoadingViewModel.js"></script>
<script src="/script/view_model/MainViewModel.js"></script>
<script src="/script/view_model/ModalsViewModel.js"></script>
<script src="/script/view_model/ShortcutsViewModel.js"></script>
<script src="/script/view_model/WarningsViewModel.js"></script>
<script src="/script/view_model/VideoCallingViewModel.js"></script>
<script src="/script/view_model/WindowTitleViewModel.js"></script>
<!-- View Models: Bindings -->
<script src="/script/view_model/bindings/CommonBindings.js"></script>
<script src="/script/view_model/bindings/ConversationListBindings.js"></script>
<script src="/script/view_model/bindings/ListBackgroundBindings.js"></script>
<script src="/script/view_model/bindings/LocalizationBindings.js"></script>
<script src="/script/view_model/bindings/MessageListBindings.js"></script>
<script src="/script/view_model/bindings/VideoCallingBindings.js"></script>
<!-- View Models: Content -->
<script src="/script/view_model/ContentViewModel.js"></script>
<script src="/script/view_model/content/CollectionDetailsViewModel.js"></script>
<script src="/script/view_model/content/CollectionViewModel.js"></script>
<script src="/script/view_model/content/ConnectRequestsViewModel.js"></script>
<script src="/script/view_model/content/EmojiInputViewModel.js"></script>
<script src="/script/view_model/content/GiphyViewModel.js"></script>
<script src="/script/view_model/content/GroupCreationViewModel.js"></script>
<script src="/script/view_model/content/HistoryExportViewModel.js"></script>
<script src="/script/view_model/content/HistoryImportViewModel.js"></script>
<script src="/script/view_model/content/InputBarViewModel.js"></script>
<script src="/script/view_model/content/MessageListViewModel.js"></script>
<script src="/script/view_model/content/PreferencesAboutViewModel.js"></script>
<script src="/script/view_model/content/PreferencesAccountViewModel.js"></script>
<script src="/script/view_model/content/PreferencesAVViewModel.js"></script>
<script src="/script/view_model/content/PreferencesDeviceDetailsViewModel.js"></script>
<script src="/script/view_model/content/PreferencesDevicesViewModel.js"></script>
<script src="/script/view_model/content/PreferencesOptionsViewModel.js"></script>
<script src="/script/view_model/content/TitleBarViewModel.js"></script>
<!-- View Models: Panel -->
<script src="/script/view_model/PanelViewModel.js"></script>
<script src="/script/view_model/panel/AddParticipantsViewModel.js"></script>
<script src="/script/view_model/panel/ConversationDetailsViewModel.js"></script>
<script src="/script/view_model/panel/GroupParticipantUserViewModel.js"></script>
<script src="/script/view_model/panel/GroupParticipantServiceViewModel.js"></script>
<script src="/script/view_model/panel/GuestOptionsViewModel.js"></script>
<script src="/script/view_model/panel/ParticipantDevicesViewModel.js"></script>
<!-- View Models: List -->
<script src="/script/view_model/ListViewModel.js"></script>
<script src="/script/view_model/list/ArchiveViewModel.js"></script>
<script src="/script/view_model/list/ConversationListViewModel.js"></script>
<script src="/script/view_model/list/PreferencesListViewModel.js"></script>
<script src="/script/view_model/list/StartUIViewModel.js"></script>
<script src="/script/view_model/list/TakeoverViewModel.js"></script>
<script src="/script/view_model/list/TemporaryGuestViewModel.js"></script>
<!-- Knockout components -->
<script src="/script/components/accentColorPicker.js"></script>
<script src="/script/components/availabilityState.js"></script>
<script src="/script/components/deviceCard.js"></script>
<script src="/script/components/deviceRemove.js"></script>
<script src="/script/components/ephemeralTimer.js"></script>
<script src="/script/components/fullSearch.js"></script>
<script src="/script/components/groupList.js"></script>
<script src="/script/components/image.js"></script>
<script src="/script/components/inputElement.js"></script>
<script src="/script/components/inputLevel.js"></script>
<script src="/script/components/serviceList.js"></script>
<script src="/script/components/topPeople.js"></script>
<script src="/script/components/participantAvatar.js"></script>
<script src="/script/components/list/participantItem.js"></script>
<script src="/script/components/userProfile.js"></script>
<script src="/script/components/userInput.js"></script>
<script src="/script/components/userList.js"></script>
<script src="/script/components/guestModeToggle.js"></script>
<script src="/script/components/icons.js"></script>
<script src="/script/components/logos.js"></script>
<script src="/script/components/loadingBar.js"></script>
<script src="/script/components/asset/assetHeader.js"></script>
<script src="/script/components/asset/videoAsset.js"></script>
<script src="/script/components/asset/audioAsset.js"></script>
<script src="/script/components/asset/fileAsset.js"></script>
<script src="/script/components/asset/linkPreviewAsset.js"></script>
<script src="/script/components/asset/locationAsset.js"></script>
<script src="/script/components/asset/controls/audioSeekBar.js"></script>
<script src="/script/components/asset/controls/seekBar.js"></script>
<script src="/script/components/asset/controls/mediaButton.js"></script>
<script src="/script/components/calling/chooseScreen.js"></script>
<script src="/script/components/calling/deviceToggleButton.js"></script>
<script src="/script/components/list/conversationListCallingCell.js"></script>
<script src="/script/components/list/conversationListCell.js"></script>
<script src="/script/components/list/groupAvatar.js"></script>
<!-- Entities -->
<script src="/script/message/CallMessageType.js"></script>
<script src="/script/message/MessageCategory.js"></script>
<script src="/script/message/MessageCategorization.js"></script>
<script src="/script/message/EphemeralStatusType.js"></script>
<script src="/script/message/StatusType.js"></script>
<script src="/script/message/ReactionType.js"></script>
<script src="/script/message/SuperType.js"></script>
<script src="/script/message/SystemMessageType.js"></script>
<script src="/script/message/VerificationMessageType.js"></script>
<script src="/script/entity/message/Asset.js"></script>
<script src="/script/entity/message/Text.js"></script>
<script src="/script/entity/message/LinkPreview.js"></script>
<script src="/script/entity/message/File.js"></script>
<script src="/script/entity/message/Location.js"></script>
<script src="/script/entity/message/MediumImage.js"></script>
<script src="/script/entity/message/Message.js"></script>
<script src="/script/entity/message/DeleteMessage.js"></script>
<script src="/script/entity/message/SystemMessage.js"></script>
<script src="/script/entity/message/MemberMessage.js"></script>
<script src="/script/entity/message/MissedMessage.js"></script>
<script src="/script/entity/message/ContentMessage.js"></script>
<script src="/script/entity/message/RenameMessage.js"></script>
<script src="/script/entity/message/PingMessage.js"></script>
<script src="/script/entity/message/CallMessage.js"></script>
<script src="/script/entity/message/DecryptErrorMessage.js"></script>
<script src="/script/entity/message/VerificationMessage.js"></script>
<script src="/script/entity/User.js"></script>
<script src="/script/entity/Connection.js"></script>
<script src="/script/entity/Conversation.js"></script>
<!-- View -->
<script src="/script/ui/AvailabilityContextMenu.js"></script>
<script src="/script/ui/ContextMenu.js"></script>
<script src="/script/ui/ShortcutType.js"></script>
<script src="/script/ui/Shortcut.js"></script>
<script src="/script/ui/WindowHandler.js"></script>
<!-- Main -->
<script src="/script/main/app.js"></script>
