<!-- Components -->
<script src="/ext/js/webapp-module-namespace/Namespace.js"></script>
<script src="/ext/js/webapp-module-image-rotation/ImageFile.js"></script>
<script src="/ext/js/webapp-module-image-rotation/ImageFileRotator.js"></script>
<script src="/ext/js/webapp-module-bubble/webapp-module-bubble.js"></script>
<script src="/ext/js/webapp-module-modal/webapp-module-modal.js"></script>
<script src="/ext/js/webapp-module-logger/Logger.js"></script>
<script src="/ext/js/webapp-module-image-compressor/ImageCompressor.js"></script>
