<div id="self-profile" class="self-profile self-profile-hidden" data-bind="with: $root.self_profile">
  <!-- ko if: user() -->
    <div>
      <input-element class="self-profile-name" params="value: user().name, change: change_username, placeholder: z.string.profile_username_placeholder" data-uie-name="enter-name" data-bind="l10n_tooltip: z.string.tooltip_profile_rename"></input-element>
      <div class="self-profile-mail" data-bind="text: user().email()" data-uie-name="enter-email"></div>
      <div class="self-profile-phone" data-bind="text: user().display_phone()" data-uie-name="enter-phone"></div>

      <div class="self-profile-settings-button button-round button-round-dark icon-more"
           id="show-settings"
           data-bind="electron_remove, click: toggle_settings_menu, l10n_tooltip: z.string.tooltip_profile_preferences"
           data-bubble="#setting-bubble"
           data-placement="bottom-left"
           data-uie-name="do-settings-menu"></div>

      <div class="self-profile-footer">
        <label class="self-profile-camera-button button-round button-round-dark button-round-xl icon-library" data-bind="l10n_tooltip: z.string.tooltip_profile_picture">
          <input id="self-upload-file-input"
                 type="file" accept="image/jpg,image/jpeg,image/png,image/bmp"
                 data-bind="file_select: click_on_change_picture"
                 data-uie-name="do-select-picture"/>
        </label>
        <accent-color-picker class="self-profile-color-picker" params="user: user(), selected: change_accent_color" data-uie-name="enter-accent-color"></accent-color-picker>
      </div>
    </div>
    #include('self/settings-menu.htm')
    #include('self/self-about.htm')
  <!-- /ko -->
</div>
