<div id="setting-bubble" class="bubble">
  <ul class="bubble-menu">
    <li data-bind="click: toggle_settings, l10n_text: z.string.profile_preferences" data-uie-name="go-settings"></li>
    <li data-bind="click: toggle_about, l10n_text: z.string.profile_about" data-uie-name="go-about"></li>
    <li data-bind="click: show_support_page, l10n_text: z.string.profile_support" data-uie-name="go-support"></li>
    <li data-bind="click: logout, l10n_text: z.string.profile_sign_out" data-uie-name="do-sign-out"></li>
  </ul>
</div>
