version: 2
updates:
  # Webapp configs
  - package-ecosystem: npm
    directory: '/apps/webapp/app-config'
    schedule:
      interval: daily
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'

  # Webapp frontend dependencies
  - package-ecosystem: npm
    directory: '/apps/webapp'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    groups:
      eslint:
        patterns:
          - '*eslint*'
      datadog:
        patterns:
          - '*@datadog*'

    ignore:
      - dependency-name: '@wireapp/avs'
      # Wait until we have next release with wasm folder
      - dependency-name: '@mediapipe/tasks-vision'
        versions:
          - '0.10.16'
      - dependency-name: '@types/node'
      - dependency-name: 'typescript'
      - dependency-name: '@lexical/code'
      - dependency-name: '@lexical/history'
      - dependency-name: '@lexical/list'
      - dependency-name: '@lexical/markdown'
      - dependency-name: '@lexical/react'
      - dependency-name: '@lexical/rich-text'
      # Wait until libsodium-wrappers:0.7.17 because: https://github.com/jedisct1/libsodium.js/issues/357
      - dependency-name: 'libsodium-wrappers'
        versions:
          - '0.7.16'

  # Server dependencies
  - package-ecosystem: npm
    directory: '/apps/server'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    ignore:
      - dependency-name: geolite2
        versions:
          - '>= 2.a'
      - dependency-name: 'typescript'
      - dependency-name: '@types/node'

  # Logger library dependencies
  - package-ecosystem: npm
    directory: '/libraries/Logger'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    ignore:
      - dependency-name: 'typescript'
      - dependency-name: '@types/node'

  # Github actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    open-pull-requests-limit: 99
    schedule:
      interval: 'daily'
  # Docker
  - package-ecosystem: 'docker'
    directory: '/'
    open-pull-requests-limit: 99
    schedule:
      interval: 'daily'
