version: 2
updates:
  - package-ecosystem: npm
    directory: '/app-config'
    schedule:
      interval: daily
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    ignore:
      - dependency-name: core-js
        versions:
          - '>= 3.a'
      - dependency-name: webrtc-adapter
        versions:
          - '>= 7.a'
      - dependency-name: 'less'
        versions:
          - '>= 4'
      - dependency-name: 'husky'
        versions:
          - '>= 5.a'
      - dependency-name: 'tsyringe'
        versions:
          - '> 4.3.0'
      - dependency-name: '@wireapp/avs'
  - package-ecosystem: npm
    directory: '/server'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    ignore:
      - dependency-name: geolite2
        versions:
          - '>= 2.a'
      - dependency-name: '@types/node'
        versions:
          - '>= 13.a'
  - package-ecosystem: npm
    directory: '/electron'
    schedule:
      interval: weekly
      day: sunday
      time: '16:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 99
    labels:
      - 'type: chore 完'
    ignore:
      - dependency-name: electron
        versions:
          - '>= 12.a'
      - dependency-name: '@types/node'
        versions:
          - '>= 13.a'
      - dependency-name: 'husky'
        versions:
          - '>= 5.a'
