.preferences-devices {
  .preferences-devices-model {
    font-weight: 600;
    line-height: @line-height-xl;
  }

  .preferences-devices-activated {
    color: @graphite;
    font-size: @font-size-xs;
    line-height: @line-height-sm;
  }

  .preferences-devices-activated:first-of-type {
    margin-top: 16px;
  }

  .preferences-devices-id {
    .label-xs;

    span:first-child {
      .label-bold;
    }
  }
}
