{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./temp/i18n"
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "debug": false,
        "modules": false,
        "targets": {
          "browsers": ["chrome >= 56", "firefox >= 60", "edge >= 15", "opera >= 43"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-proposal-class-properties"],
      "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "browsers": ["chrome >= 56", "firefox >= 60", "edge >= 14", "opera >= 43"]
            },
            "useBuiltIns": "usage"
          }
        ]
      ]
    }
  }
}
