!/.idea/codeStyleSettings.xml
!/.idea/modules.xml
/.idea/**/*.xml
/app/ext
/app/i18n/**/*
!/app/i18n/**/*.json
/dist
!/dist/templates/
!/dist/robots/
!/dist/app-app-site-association.json
/doc
/docs/auth-coverage
/docs/coverage
/keys
/node_modules
/package-lock.json
/tags
aws-keys.json
npm-debug.log
yarn-error.log
