!/.idea/codeStyleSettings.xml
!/.idea/modules.xml
!/aws/templates/
.DS_Store
.grunt
.Icon
.vscode
*.rej
/_SpecRunner.html
/.idea/**/*.xml
/app/ext
/app/min
/app/i18n/**/*
!/app/i18n/**/*.json
/aws/s3
/aws/static
/aws/version
/aws/routes
/aws/config.*
/aws/index.*
/aws/Server.*
/aws/ServerConfig.*
/aws/util
/bower_components
/debug.log
/deploy
/dist
/doc
/docs/auth-coverage
/docs/coverage
/keys
/nbproject
/node_modules
/package-lock.json
/tags
/temp
/test/_SpecRunner.html
/Web.config
/workspace.xml*
aws-keys.json
npm-debug.log
yarn-error.log
