!/.idea/codeStyleSettings.xml
!/.idea/modules.xml
.env
.env.defaults
.nyc_output
.DS_Store
.idea
.vscode
/config
/doc
/docs/auth-coverage
/docs/coverage
/keys
/package-lock.json
/resource
/src/ext
/tags
/temp
aws-keys.json
CHANGELOG.md
node_modules
npm-debug.log
yarn-error.log
