apps/webapp/src/i18n/
.vscode/
/charts
/config
/docs/auth-coverage
/docs/coverage
/package-lock.json
/resource
/assets
apps/webapp/assets/
/apps/webapp/src/ext
apps/webapp/src/worker/
CHANGELOG.md
node_modules
npm-debug.log
yarn-error.log
apps/webapp/src/types/i18n.d.ts
