# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: required
dist: trusty

# https://docs.travis-ci.com/user/encryption-keys/
env:
  global:
    # GH_TOKEN
    - secure: "RBfGLbP6pA2CxVd4giTDy37HWtK47rAbMYNIJZxBtwqZSMNcxGHquIcll5hnSno2n1M5rTKRuL3dTdT45ZJtzzZ0twsD96yjD3ltV3r5wVsX2QHudx9weUSZ1pCK3vy9bPSHbSj8Uwy8FZCXphQmtKNT6Rk3gn3UhowYDnFhKbuFRMYsauT+bYmXihWeRY9kDZ1YIsGfLPPwLXg212ngiALrfP6e0ucLxcT2vYu02xhaZlZlcnY3mrMJtNXkI58lTqWN0MLyC6IyAuCJ8X0VQwrjFJ6ebFKqP7QpenV7978jNVKEeMM29bgzd8wjekGj/zZ/KKvXcRtfciFCjCBTaKGdiFL8TwRj+3eN4Kz0itUf9tharPyuemm+FMJQwNHZeLnEVPzdJgdHNkQuIr8gbNxTiBvTBKDTFDv5RgLyrgz9Up6FF/DIGoJnCko0W9K8fSyUd8ZuDUrvlXkNKQXT88bZHGO6K+t3GfAMa/AghZKdfBt/sRSirVoEvI5EfqqmyHD25OJad7wHJb0CIK9jLZkOg2/2gqxbHhNYYVS6WAbM1KFwv/3hbP1139hhrDnzF1fH3eSXUuH2T+GtO5WH7Oj5su8WQWS2RZ0FKLzSL9i388U4+Mc6Q9WT/xVk1SlQFW3BTsEdfPKaCdF0HvrFoFK03iBT/wzYUUclI5N+kuk="
    # RAYGUN_USERNAME
    - secure: "F+G6JgvLfvXjSmbDrV7VWefMbAD1qaA3aSIRF2OIwJMa9h6h4F3jYaX7w3+5BVBZnoMwl7XJC7tL732aIN4rr7l+VgAB8YjAzwbnTk19LS2/g4DrIBz6GVfBOFQtG9gMtpdJJmW8Xo3bDBuOXrGE2dZipz0E46NrHIp7JtEmqnv2DSLD0RwuCS+KMwtKzO8j9ZePrdNB66IxF/hPAeHOcyQg9t/7+szxXzX58rvqjVdgbLWyt16ZoVgNInuOrECricBJ8k7A5NzCjunvOsSE3YnNe86FRycpQd+XLvozqq3ZGvwuWKHzx6PfnqEEPKVNRun9deiv08BvTVxaqr4bK8pDMZEtqlL83WQcucB1uR+ldOYnG/DVfjgoGJ5kVmEyuUJu4CwTP1GkG0+vl/Bezkvzwt00k2d22x2jdKcdICAfzSXi2cz2SqeSSxF+L4n7Eml+G8a0NyIi/ZzVLQvaW4uZc+AK+Skz2q1HCp3POU0rX9I3cQKvq703oBRmkZjZLO16gySW9DMnlwIqDrIDOAYKG8ETwYIRPqm0juwAC7WkRgGJK+DWDwv2EEJbSD1urUMRUiuJkcXa8fWTPHV5/tA89JRsAqrgYPh+u6GjV9P00u/3boZqnMDPMtPUZVxfKUjcWA0HimfvP/Z+98i40Pg2GF6yUlpy1pMypfrp5jI="
    # RAYGUN_PASSWORD
    - secure: "voLf9KMrK+9bO3z19nhKkTXMxaGtIazachYW1LT2kTTPQ3atu2bUZAemJBPN2VxOcaCUUi59Bpsxa0DO2QsjpuRsqjD8+meDuKv43WpMxxPDKFyDVAnX6DqdDz1fO9wDa4kTGhwTQONFENlH23BiVQhRhJFV2QL6F9Sv/nVMqFciReYnkkuhfmp2D5aYeZlRQ968JRV0awpY6D2jJ/A77JF79uKMh41bMFCmjW3qkdTZevxfYPRU4MN7QPQS3TD/WGNz/HSdUmBqLSi6VGuqRZqMoiAbLeM+NbYEoQ3XzTAT+5Tw+ipc/0rI20aeeot1m/b432guvdWuuEM4MNfrOMeyCdDdZnjG2VQJO3VT+Gl53qmObsF8EyT4AJbieYpjVhrxcoVRHTBjO5qZJX+CO+Xmoa+BpA5NGsvOn02MJU9RkbAsC3QpB6ClEABcVnFr1fdeHfWV/FBkeQrdHZlAbIsANMKJzn+7FNZlDe9IW9rrxY+j1iAwUuappvZctA3Ceu9c7SC8T8uTgKLHEkIMsl63pTDf9r/HzdrLszIFVG8hsSThzXt6TdQLTbnr8D0zjjGRZ4Cogw/2RuqY+icQQXWeYv1zpsYqPMV4F4yDEz8WFpOFNcIYiyFQX2uOfp/bsEGSoC9SP7suzYI93Kf9szJurfIdmLYmCnEMts8NMiw="
    # WIRE_WEBAPP_BOT_EMAIL
    - secure: "cRgk2yvpezpf2/Z/49wgJ1rm8i3e7h7nAOkbF8ykOcka9VanaGy5pn2JJs9/EMEBbKK8+tUkD9MKm1k4xd2qotxXZsOeonvzMV5yBcF/XZ887vW7FByvfFQ9iqSq+VA7sgUr6qr6+N51Wp4DZh++ojFBh6D8LB1hHqKCCRnM2PFECrMG03CXVc0rbSNLdGh7xm11pCteLxANciQv9xCUAVCyQNy3QorEczTyY50k/0nT29Axqn2FFjaLnLtG+nM7ufLaySPfOVAnWX7sb2yf08yC38bBktwnpbWKjJlveK6aFA4LVuj7eXLTfA1DF/0AUmlk0MNmUPCHz7Xo+YLLIua8+Rms6bzLCeUswJyDp69/2WdidrTUDNtRjNQ2BkNowfhOOuSrsf/3WLP/Sli9fX7G70RBHICBNZ3qJ40V8PkQJTKTQYUtVL7cmnH94OjBxy/rwmBfHQSa4zx8JNFn+IDHCATVb7RIPARTHBiAK+C0kne/Ito0k59MLbWiic+y+1Y2CtDHJqlgxYMMSnrPd3+4z0/LFbkMwnyL3QQlt1U4kFn4XOlOSp6aHg5ke2HGueQBiUJcfj52rbLRceBay9A+HrNLfVhzDTiUUbkfx544sdUv8PyITpZxYXKrGSqvIvDUFOA5rwj90NwwokTi+tHzPTbbDFYRn0IvNdHCJbo="
    # WIRE_WEBAPP_BOT_PASSWORD
    - secure: "U9Fq+z04H9EbI55M6VDAVelLtETVSS9oNNCJo5llDSij0pjrNZpxj3MeKhRZQc8yiZ4hOC5nUbNPHpvIKBkw+xD/Pg32t6SVZl4ZSDPm3XZTFYpWj/U/NB+/l/ivK4bNmx62hLOL8Dhr5A67UlwwCr4tYVmLu7wcUNwgtkyAii1mqoAC0yT4qzDQBalGAk/Q+ZatmjAZM/5ZU8H3jags0+bubJlJKlU0YOmSzXFdFSQLFMQSwEeVEH7vMIkOmFIK6L6qveSDJDmNj2tvgn8ZLr6p7TvOLovGbfPiNKcrEyeADJQrG0J3IQ6dHYOCIN1SzibdJEWqluk6T/N0mNq27AKEzXsV8VHl6VAnswxAq1pljlGF5Nj0OUt5JAUzavbt7tw3TBwC96+55YJdvPZ9ESg2S4afj94nEUISLldNDVEQPBUt4qfkTznKMOeBNzVItO9IhSQK65wUQ07//nxHsV38GMMKMWhtujFrqhAdtC6TCBGVxdCYQziCKW3xsmt2nNosxIkxESF9Osw7A5YbjwoREu7nIZOA0TYrJxZRz0AlV1D1WfNv/7KP5J0LQCR90jdoAnTvkTP4+WfX7C8UkyowpxpBUKvbe9d65cYTCzN69eT/lEQBmQz06Y8Wh+ou5q4BeNQmfgwUK7tYr1/vY9DqNskpaLyJsXKPO+gkTm4="

# https://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-with-the-APT-Addon
addons:
  apt:
    packages:
      - google-chrome-stable

# http://docs.travis-ci.com/user/languages/javascript-with-nodejs/
language: node_js
node_js:
  - "8"

# http://docs.travis-ci.com/user/gui-and-headless-browsers/
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

# https://docs.travis-ci.com/user/caching/
cache:
  directories:
    - $HOME/cryptobox

before_script:
  - npm rebuild node-sass

notifications:
  email: false

# http://docs.travis-ci.com/user/deployment/
before_deploy:
  - yarn global add @wireapp/travis-bot@latest
  - if [ "$TRAVIS_BRANCH" == "dev" ]; then yarn run deploy-travis-dev; fi
  - if [ "$TRAVIS_BRANCH" == "edge" ]; then yarn run deploy-travis-staging; fi
  - if [ "$TRAVIS_BRANCH" == "staging" ]; then yarn run deploy-travis-staging; fi
  - if [ "$TRAVIS_BRANCH" == "prod" ]; then yarn run deploy-travis-prod || { echo 'contents of npm-debug.log:' && cat /home/travis/build/wireapp/wire-webapp/npm-debug.log && exit 1; } fi

# https://github.com/travis-ci/dpl#elastic-beanstalk
deploy:
  # https://wire-webapp-edge.zinfra.io/
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: 'aws/s3/ebs.zip'
    access-key-id:
      secure: MpVUBkrtmIPqYLzrsYisYsE/UnOFU6q0ufgfWNBxHAFm/mDST9v+Kk1ZvhNKYskgMzJllQJBBqiRn05Fegam+DQ0oclbPr7Eg4mQrPbsrLIsc2qEpqw3fk8bqOssnHkKe1wlz7ihW3eQ78zOgsS/w95Zyd7wWiDzz8s7KvRPN8DLRGu2ksDdkPfM6RCbs9qsdSA5k8+DhZRXZCL/IHalE3plqOOJgCgTq9kzMRvxnFnVy0tLGzWQJvGOLYpjRwaAoqoLK7AX+WLfMSnBn+MuWCGmqPdk9Xto4cJnC5toASjNtu/bGYWuy4ShpzTivuwioJbxt5JGiq78j/MVu/5oBjzosJlSpNlY5++wrkLvfpkWMuJSC3/V40LkpLa+XF/MP18Bpbi44GmLTOCq4wJ/WRrYMAt4yQWURNJAv9tKqLyqgJ47HLBMEYABWUdr81apZm3ZKbqqmyu4GLclc7ivnVBjfmf5oDxMDUqp8owQO9YOsUX9t8Rw9XiPdasjx5EQ+EcvoAyBCPV6qlnFi7pj7wWnxu1DNhzxeW70BKhXizYwcBqSlvX88pbgCxc273Id0dAilrCgvD0/B2mvLPIVbJsscMyykjC7ZZOaznhfHQqeu/fXdfcVawVt+annovbFOWxjX5232ghbq12ux6qZ+2GNziW9vtEJeitPZ3XRPMc=
    secret-access-key:
      secure: aCiIP0To/YPm9E3G/q/JIHASRN0b69R23w8WYovmMsBFHddh0MBXnhh+Kf5Cuos+NdVatNs7mAqulLdmBF8TZhreEhLOd9PppEXPVXJrlvdDKejX3S6czUWD8tb4fSE4/qF9H8XYVa+Aznn/2Vlu3fFggAcAMv8lm7igTNb8rc2YZkaByNvwDjauoB1CwgvMsJiptDNy/m9EOJST9RqS/SDAFsPEFQLih0BRWbSYnEZ6yYtQ7T+ROOjjBxTefqf9E6s6PuXI9zrDzGtKE3mwibASts5lfVcKWBp/m1Droog7QxRgixUo9CoE4bK3tcSqpgBx/Mn1RL43C8pt2n2yxeXr6Rl1rdnpvVmz/7XbQqBtbX+atot63PKW4fuTlwCmnQfBWwsAqUZmnCHs0EgcFQR6VoO1D5FLKAWOFeo4RBCQ3mOr/kU3wTG0OrDVf3C1VpTD8W07AVIwcYm/jOSPJYgWwDk+OPz0f8UYbJTe8UO14LU/Wy6QT81cjEwjXJdCcv6IZS50iDNq9PxaACoOqAmfDZNwxuQBxN0kR1eWEobE+zucIfpa6OteA980X22xQIimPcVmmBcDjYce//o/12UNKZprUXeUqSPJsXWw8p3CIbJP8lI35aiTR3kjOG7XBG0QO1HyBHKudZHPGo3RU6dXVegu6POujy+oxbkQNyo=
    region: eu-west-1
    app: Webapp
    env: wire-webapp-edge
    bucket_name: wire-webapp
    on:
      repo: wireapp/wire-webapp
      branch: edge

  # https://wire-webapp-dev.zinfra.io/
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: 'aws/s3/ebs.zip'
    access-key-id:
      secure: MpVUBkrtmIPqYLzrsYisYsE/UnOFU6q0ufgfWNBxHAFm/mDST9v+Kk1ZvhNKYskgMzJllQJBBqiRn05Fegam+DQ0oclbPr7Eg4mQrPbsrLIsc2qEpqw3fk8bqOssnHkKe1wlz7ihW3eQ78zOgsS/w95Zyd7wWiDzz8s7KvRPN8DLRGu2ksDdkPfM6RCbs9qsdSA5k8+DhZRXZCL/IHalE3plqOOJgCgTq9kzMRvxnFnVy0tLGzWQJvGOLYpjRwaAoqoLK7AX+WLfMSnBn+MuWCGmqPdk9Xto4cJnC5toASjNtu/bGYWuy4ShpzTivuwioJbxt5JGiq78j/MVu/5oBjzosJlSpNlY5++wrkLvfpkWMuJSC3/V40LkpLa+XF/MP18Bpbi44GmLTOCq4wJ/WRrYMAt4yQWURNJAv9tKqLyqgJ47HLBMEYABWUdr81apZm3ZKbqqmyu4GLclc7ivnVBjfmf5oDxMDUqp8owQO9YOsUX9t8Rw9XiPdasjx5EQ+EcvoAyBCPV6qlnFi7pj7wWnxu1DNhzxeW70BKhXizYwcBqSlvX88pbgCxc273Id0dAilrCgvD0/B2mvLPIVbJsscMyykjC7ZZOaznhfHQqeu/fXdfcVawVt+annovbFOWxjX5232ghbq12ux6qZ+2GNziW9vtEJeitPZ3XRPMc=
    secret-access-key:
      secure: aCiIP0To/YPm9E3G/q/JIHASRN0b69R23w8WYovmMsBFHddh0MBXnhh+Kf5Cuos+NdVatNs7mAqulLdmBF8TZhreEhLOd9PppEXPVXJrlvdDKejX3S6czUWD8tb4fSE4/qF9H8XYVa+Aznn/2Vlu3fFggAcAMv8lm7igTNb8rc2YZkaByNvwDjauoB1CwgvMsJiptDNy/m9EOJST9RqS/SDAFsPEFQLih0BRWbSYnEZ6yYtQ7T+ROOjjBxTefqf9E6s6PuXI9zrDzGtKE3mwibASts5lfVcKWBp/m1Droog7QxRgixUo9CoE4bK3tcSqpgBx/Mn1RL43C8pt2n2yxeXr6Rl1rdnpvVmz/7XbQqBtbX+atot63PKW4fuTlwCmnQfBWwsAqUZmnCHs0EgcFQR6VoO1D5FLKAWOFeo4RBCQ3mOr/kU3wTG0OrDVf3C1VpTD8W07AVIwcYm/jOSPJYgWwDk+OPz0f8UYbJTe8UO14LU/Wy6QT81cjEwjXJdCcv6IZS50iDNq9PxaACoOqAmfDZNwxuQBxN0kR1eWEobE+zucIfpa6OteA980X22xQIimPcVmmBcDjYce//o/12UNKZprUXeUqSPJsXWw8p3CIbJP8lI35aiTR3kjOG7XBG0QO1HyBHKudZHPGo3RU6dXVegu6POujy+oxbkQNyo=
    region: eu-west-1
    app: Webapp
    env: wire-webapp-dev
    bucket_name: wire-webapp
    on:
      repo: wireapp/wire-webapp
      branch: dev

  # https://wire-webapp-staging.zinfra.io/
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: 'aws/s3/ebs.zip'
    access-key-id:
      secure: MpVUBkrtmIPqYLzrsYisYsE/UnOFU6q0ufgfWNBxHAFm/mDST9v+Kk1ZvhNKYskgMzJllQJBBqiRn05Fegam+DQ0oclbPr7Eg4mQrPbsrLIsc2qEpqw3fk8bqOssnHkKe1wlz7ihW3eQ78zOgsS/w95Zyd7wWiDzz8s7KvRPN8DLRGu2ksDdkPfM6RCbs9qsdSA5k8+DhZRXZCL/IHalE3plqOOJgCgTq9kzMRvxnFnVy0tLGzWQJvGOLYpjRwaAoqoLK7AX+WLfMSnBn+MuWCGmqPdk9Xto4cJnC5toASjNtu/bGYWuy4ShpzTivuwioJbxt5JGiq78j/MVu/5oBjzosJlSpNlY5++wrkLvfpkWMuJSC3/V40LkpLa+XF/MP18Bpbi44GmLTOCq4wJ/WRrYMAt4yQWURNJAv9tKqLyqgJ47HLBMEYABWUdr81apZm3ZKbqqmyu4GLclc7ivnVBjfmf5oDxMDUqp8owQO9YOsUX9t8Rw9XiPdasjx5EQ+EcvoAyBCPV6qlnFi7pj7wWnxu1DNhzxeW70BKhXizYwcBqSlvX88pbgCxc273Id0dAilrCgvD0/B2mvLPIVbJsscMyykjC7ZZOaznhfHQqeu/fXdfcVawVt+annovbFOWxjX5232ghbq12ux6qZ+2GNziW9vtEJeitPZ3XRPMc=
    secret-access-key:
      secure: aCiIP0To/YPm9E3G/q/JIHASRN0b69R23w8WYovmMsBFHddh0MBXnhh+Kf5Cuos+NdVatNs7mAqulLdmBF8TZhreEhLOd9PppEXPVXJrlvdDKejX3S6czUWD8tb4fSE4/qF9H8XYVa+Aznn/2Vlu3fFggAcAMv8lm7igTNb8rc2YZkaByNvwDjauoB1CwgvMsJiptDNy/m9EOJST9RqS/SDAFsPEFQLih0BRWbSYnEZ6yYtQ7T+ROOjjBxTefqf9E6s6PuXI9zrDzGtKE3mwibASts5lfVcKWBp/m1Droog7QxRgixUo9CoE4bK3tcSqpgBx/Mn1RL43C8pt2n2yxeXr6Rl1rdnpvVmz/7XbQqBtbX+atot63PKW4fuTlwCmnQfBWwsAqUZmnCHs0EgcFQR6VoO1D5FLKAWOFeo4RBCQ3mOr/kU3wTG0OrDVf3C1VpTD8W07AVIwcYm/jOSPJYgWwDk+OPz0f8UYbJTe8UO14LU/Wy6QT81cjEwjXJdCcv6IZS50iDNq9PxaACoOqAmfDZNwxuQBxN0kR1eWEobE+zucIfpa6OteA980X22xQIimPcVmmBcDjYce//o/12UNKZprUXeUqSPJsXWw8p3CIbJP8lI35aiTR3kjOG7XBG0QO1HyBHKudZHPGo3RU6dXVegu6POujy+oxbkQNyo=
    region: eu-west-1
    app: Webapp
    env: wire-webapp-staging
    bucket_name: wire-webapp
    on:
      repo: wireapp/wire-webapp
      branch: staging

  # https://wire-webapp-prod-next.wire.com/
  - provider: elasticbeanstalk
    skip_cleanup: true
    zip-file: 'aws/s3/ebs.zip'
    access-key-id:
      secure: MpVUBkrtmIPqYLzrsYisYsE/UnOFU6q0ufgfWNBxHAFm/mDST9v+Kk1ZvhNKYskgMzJllQJBBqiRn05Fegam+DQ0oclbPr7Eg4mQrPbsrLIsc2qEpqw3fk8bqOssnHkKe1wlz7ihW3eQ78zOgsS/w95Zyd7wWiDzz8s7KvRPN8DLRGu2ksDdkPfM6RCbs9qsdSA5k8+DhZRXZCL/IHalE3plqOOJgCgTq9kzMRvxnFnVy0tLGzWQJvGOLYpjRwaAoqoLK7AX+WLfMSnBn+MuWCGmqPdk9Xto4cJnC5toASjNtu/bGYWuy4ShpzTivuwioJbxt5JGiq78j/MVu/5oBjzosJlSpNlY5++wrkLvfpkWMuJSC3/V40LkpLa+XF/MP18Bpbi44GmLTOCq4wJ/WRrYMAt4yQWURNJAv9tKqLyqgJ47HLBMEYABWUdr81apZm3ZKbqqmyu4GLclc7ivnVBjfmf5oDxMDUqp8owQO9YOsUX9t8Rw9XiPdasjx5EQ+EcvoAyBCPV6qlnFi7pj7wWnxu1DNhzxeW70BKhXizYwcBqSlvX88pbgCxc273Id0dAilrCgvD0/B2mvLPIVbJsscMyykjC7ZZOaznhfHQqeu/fXdfcVawVt+annovbFOWxjX5232ghbq12ux6qZ+2GNziW9vtEJeitPZ3XRPMc=
    secret-access-key:
      secure: aCiIP0To/YPm9E3G/q/JIHASRN0b69R23w8WYovmMsBFHddh0MBXnhh+Kf5Cuos+NdVatNs7mAqulLdmBF8TZhreEhLOd9PppEXPVXJrlvdDKejX3S6czUWD8tb4fSE4/qF9H8XYVa+Aznn/2Vlu3fFggAcAMv8lm7igTNb8rc2YZkaByNvwDjauoB1CwgvMsJiptDNy/m9EOJST9RqS/SDAFsPEFQLih0BRWbSYnEZ6yYtQ7T+ROOjjBxTefqf9E6s6PuXI9zrDzGtKE3mwibASts5lfVcKWBp/m1Droog7QxRgixUo9CoE4bK3tcSqpgBx/Mn1RL43C8pt2n2yxeXr6Rl1rdnpvVmz/7XbQqBtbX+atot63PKW4fuTlwCmnQfBWwsAqUZmnCHs0EgcFQR6VoO1D5FLKAWOFeo4RBCQ3mOr/kU3wTG0OrDVf3C1VpTD8W07AVIwcYm/jOSPJYgWwDk+OPz0f8UYbJTe8UO14LU/Wy6QT81cjEwjXJdCcv6IZS50iDNq9PxaACoOqAmfDZNwxuQBxN0kR1eWEobE+zucIfpa6OteA980X22xQIimPcVmmBcDjYce//o/12UNKZprUXeUqSPJsXWw8p3CIbJP8lI35aiTR3kjOG7XBG0QO1HyBHKudZHPGo3RU6dXVegu6POujy+oxbkQNyo=
    region: eu-west-1
    app: Webapp
    env: wire-webapp-prod-next
    bucket_name: wire-webapp
    on:
      repo: wireapp/wire-webapp
      branch: prod

after_deploy:
  - wire-travis-bot "fa0daf62-d5dc-48d2-aa92-ad2e0adeff4c"
