<div class="modal-wrapper">
  <div class="modal modal-show modal-fadein">
    <div class="modal-content">
      <div class="modal-header">
        <close-icon class="icon-button pull-right"></close-icon>
        <div class="modal-title">Dummy Title</div>
      </div>
      <div class="modal-text">Here is some dummy text. Like it?</div>
      <div class="modal-footer">
        <div class="button button-full button-medium button-inverted">Cancel</div>
        <div class="button button-full button-medium">Action</div>
      </div>
    </div>
  </div>
</div>
