<ul id="popovers" class="box-list clear">
    <li><div id="btn-two" class="button-round" data-bubble=".bubble" data-placement="bottom">2</div></li>
    <li><div id="btn-three" class="button-round" data-bubble=".bubble" data-placement="right">3</div></li>
    <li><div id="btn-four" class="button-round" data-bubble=".bubble" data-placement="right-flex">4</div></li>
    <li><div id="btn-fiv" class="button-round" data-bubble=".bubble" data-placement="left">5</div></li>
    <li><div id="btn-six" class="button-round" data-bubble=".bubble" data-placement="top-left">6</div></li>
    <li><div id="btn-seven" class="button-round" data-bubble=".bubble" data-placement="bottom-left">7</div></li>
    <li><div id="btn-last" class="button-round vertical" data-bubble=".bubble" data-placement="vertical">8</div></li>
</ul>

<div class="popover">
    <div class="bubble">
        <ul class="bubble-menu">
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
</div>
