.typeahead-menu {
  position: unset !important;
  z-index: 99999;
  display: unset !important;
  height: unset !important;
}

.input-bar--wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 160px;
  align-items: center;
}

.editor-container {
  position: relative;
  width: 100%;
  max-height: 200px;
  background: var(--input-bar-bg);
  color: var(--main-color);
  overflow-y: scroll;
}

.at-mentions {
  color: var(--accent-color);
}

.focused-mentions {
  background-color: var(--accent-color-selection);
}

.editor-input {
  position: relative;
  min-height: 24px;
  caret-color: var(--accent-color);
  //padding: 10px 10px 5px;
  margin-block: 16px;
  outline: 0;
  resize: none;
  tab-size: 1;
}

.editor-placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;

  overflow: hidden;

  color: var(--text-input-placeholder);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  pointer-events: none;
  text-overflow: ellipsis;
  translate: 0 -50%;
  user-select: none;
}

.editor-paragraph {
  //margin: 0 0 15px 0;
  position: relative;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 16px;
  user-select: none;
}

.mentions-menu {
  width: 250px;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

.typeahead-popover {
  border-radius: 8px;
  margin-top: 25px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  //width: auto;

  &.emoji-menu {
    position: absolute;
    width: 200px;
  }
}

.typeahead-popover ul {
  max-height: 200px;
  padding: 0;
  border-radius: 8px;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}

.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.typeahead-popover ul li {
  min-width: 180px;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.typeahead-popover ul li.selected {
  background: #eee;
}

.typeahead-popover li {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-content: center;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  margin: 0 8px 0 8px;
  background-color: #fff;
  color: #050505;
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;
}

.typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.typeahead-popover li:first-child {
  border-radius: 8px 8px 0px 0px;
}

.typeahead-popover li:last-child {
  border-radius: 0px 0px 8px 8px;
}

.typeahead-popover li:hover {
  background-color: #eee;
}

.typeahead-popover li .text {
  display: flex;
  min-width: 150px;
  flex-grow: 1;
  line-height: 20px;
}

.editor-bold {
  font-weight: bold;
}

.editor-italic {
  font-style: italic;
}

.editor-strikethrough {
  text-decoration: line-through;
}

.editor-inline-code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  background: var(--foreground-fade-8);
}

.editor-code {
  display: inline-block;
  overflow: auto;
  max-width: var(--conversation-message-asset-width);
  padding: 12px;
  border-radius: 12px;
  background: var(--foreground-fade-8);
  font-size: var(--font-size-small);
  text-overflow: unset;
}

.editor-list {
  padding-left: 24px;
  margin: 0;

  &--unordered {
    list-style-type: disc;
  }

  &--ordered {
    list-style-type: decimal;
  }
}

.editor-heading {
  margin: 8px 0;

  &--1 {
    font-size: var(--font-size-xlarge);
  }

  &--2 {
    font-size: var(--font-size-large);
  }

  &--3 {
    font-size: var(--font-size-base);
  }
}

// Lexical code highlighting

// Prism One Light Theme - based on node_modules/prism-themes/themes/prism-one-light.css
body.theme-default {
  --token-atrule: hsl(35, 99%, 36%);
  --token-attr: hsl(119, 34%, 47%);
  --token-boolean: hsl(35, 99%, 36%);
  --token-builtin: hsl(119, 34%, 47%);
  --token-cdata: hsl(230, 4%, 64%);
  --token-char: hsl(119, 34%, 47%);
  --token-class: hsl(35, 99%, 36%);
  --token-class-name: hsl(35, 99%, 36%);
  --token-comment: hsl(230, 4%, 64%);
  --token-constant: hsl(35, 99%, 36%);
  --token-deleted: hsl(5, 74%, 59%);
  --token-doctype: hsl(230, 8%, 24%);
  --token-entity: hsl(230, 8%, 24%);
  --token-function: hsl(221, 87%, 60%);
  --token-important: hsl(5, 74%, 59%);
  --token-inserted: hsl(119, 34%, 47%);
  --token-keyword: hsl(301, 63%, 40%);
  --token-number: hsl(35, 99%, 36%);
  --token-operator: hsl(221, 87%, 60%);
  --token-prolog: hsl(230, 4%, 64%);
  --token-property: hsl(5, 74%, 59%);
  --token-punctuation: hsl(230, 8%, 24%);
  --token-regex: hsl(119, 34%, 47%);
  --token-selector: hsl(119, 34%, 47%);
  --token-string: hsl(119, 34%, 47%);
  --token-symbol: hsl(5, 74%, 59%);
  --token-tag: hsl(5, 74%, 59%);
  --token-url: hsl(198, 99%, 37%);
  --token-variable: hsl(221, 87%, 60%);
}

// Prism One Dark Theme - based on node_modules/prism-themes/themes/prism-one-dark.css
body.theme-dark {
  --token-atrule: hsl(286, 60%, 67%);
  --token-attr: hsl(95, 38%, 62%);
  --token-boolean: hsl(29, 54%, 61%);
  --token-builtin: hsl(95, 38%, 62%);
  --token-cdata: hsl(220, 10%, 40%);
  --token-char: hsl(95, 38%, 62%);
  --token-class: hsl(29, 54%, 61%);
  --token-class-name: hsl(29, 54%, 61%);
  --token-comment: hsl(220, 10%, 40%);
  --token-constant: hsl(29, 54%, 61%);
  --token-deleted: hsl(355, 65%, 65%);
  --token-doctype: hsl(220, 14%, 71%);
  --token-entity: hsl(220, 14%, 71%);
  --token-function: hsl(187, 47%, 55%);
  --token-important: hsl(286, 60%, 67%);
  --token-inserted: hsl(95, 38%, 62%);
  --token-keyword: hsl(286, 60%, 67%);
  --token-number: hsl(29, 54%, 61%);
  --token-operator: hsl(286, 60%, 67%);
  --token-prolog: hsl(220, 10%, 40%);
  --token-property: hsl(220, 14%, 71%);
  --token-punctuation: hsl(220, 14%, 71%);
  --token-regex: hsl(95, 38%, 62%);
  --token-selector: hsl(355, 65%, 65%);
  --token-string: hsl(95, 38%, 62%);
  --token-symbol: hsl(355, 65%, 65%);
  --token-tag: hsl(355, 65%, 65%);
  --token-url: hsl(95, 38%, 62%);
  --token-variable: hsl(207, 82%, 66%);
}

// Token classes, should match the theme config in RichTextEditor.tsx
.editor-tokenAtrule {
  color: var(--token-atrule);
}

.editor-tokenAttr {
  color: var(--token-attr);
}

.editor-tokenBoolean {
  color: var(--token-boolean);
}
.editor-tokenBuiltin {
  color: var(--token-builtin);
}
.editor-tokenCdata {
  color: var(--token-cdata);
}
.editor-tokenChar {
  color: var(--token-char);
}
.editor-tokenClass {
  color: var(--token-class);
}
.editor-tokenClassName {
  color: var(--token-class-name);
}
.editor-tokenComment {
  color: var(--token-comment);
}
.editor-tokenConstant {
  color: var(--token-constant);
}
.editor-tokenDeleted {
  color: var(--token-deleted);
}
.editor-tokenDoctype {
  color: var(--token-doctype);
}
.editor-tokenEntity {
  color: var(--token-entity);
}
.editor-tokenFunction {
  color: var(--token-function);
}
.editor-tokenImportant {
  color: var(--token-important);
}
.editor-tokenInserted {
  color: var(--token-inserted);
}
.editor-tokenNamespace {
  opacity: 0.7;
}
.editor-tokenKeyword {
  color: var(--token-keyword);
}
.editor-tokenNumber {
  color: var(--token-number);
}
.editor-tokenOperator {
  color: var(--token-operator);
}
.editor-tokenProlog {
  color: var(--token-prolog);
}
.editor-tokenProperty {
  color: var(--token-property);
}
.editor-tokenPunctuation {
  color: var(--token-punctuation);
}
.editor-tokenRegex {
  color: var(--token-regex);
}
.editor-tokenSelector {
  color: var(--token-selector);
}
.editor-tokenString {
  color: var(--token-string);
}
.editor-tokenSymbol {
  color: var(--token-symbol);
}
.editor-tokenTag {
  color: var(--token-tag);
}
.editor-tokenUrl {
  color: var(--token-url);
}
.editor-tokenVariable {
  color: var(--token-variable);
}
