.notification {
  align-items: center;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 var(--background-fade-16);
  display: flex;
  gap: 16px;
  padding: 8px 16px;

  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  transition:
    top 0.3s,
    opacity 0.3s;
  z-index: 99999;

  body.theme-dark & {
    background-color: var(--gray-80);
    box-shadow: 0 2px 16px 0 rgba(151, 151, 151, 0.12);
  }

  &__content {
    color: var(--white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-lg);
  }

  &__button {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close-icon {
    fill: var(--white);
  }
}
