<!--@formatter:off-->
<div id="debug" class="debug hide">
  <!-- ko if: conversation() -->
    <h2>Conversation</h2>

    <p>
      ID: <span data-bind="text: conversation().id"></span><br>
      Participants: <span data-bind="text: conversation().number_of_participants()"></span><br>
    </p>

    <p data-bind="html: info"></p>

    <h2>Calling</h2>

    <h3>Tools</h3>

    <ul>
      <li><a href="#" data-bind="click: inject_audio_to_participants">Send audio to everyone</a></li>
      <li><a href="#" data-bind="click: download_call_trace">Download call trace</a></li>
    </ul>

    <h3>Traces</h3>

    <ul>
      <li><a href="#" data-bind="click: log_call_to_console">Log call to JS console</a></li>
      <li><a href="#" data-bind="click: log_session_ids_to_console">Log session IDs to JS console</a></li>
    </ul>

    <h3>Soundbar</h3>

    <nav>
      <ul class="nav">
        <li><a href="#" title="Applause" data-bind="click: function(){inject_audio('applause.mp3')}"></a></li>
        <li><a href="#" title="Baby cry" data-bind="click: function(){inject_audio('baby-cry.mp3')}"></a></li>
        <li><a href="#" title="Crowd negative" data-bind="click: function(){inject_audio('crowd-negative.mp3')}"></a></li>
      </ul>
    </nav>

    <nav>
      <ul class="nav">
        <li><a href="#" title="Dogs" data-bind="click: function(){inject_audio('dogs.mp3')}"></a></li>
        <li><a href="#" title="Gun shot" data-bind="click: function(){inject_audio('gun-shot.mp3')}"></a></li>
        <li><a href="#" title="Wrong answer" data-bind="click: function(){inject_audio('wrong-answer.mp3')}"></a></li>
      </ul>
    </nav>

  <!-- /ko -->
  <h2>Debug Info</h2>

  <p>
    Version: {{config.CURRENT_VERSION_ID}}
  </p>
</div>
<!--@formatter:on-->

