<div id="group-creation-modal" data-bind="with: $root.groupCreation" class="group-creation__modal">
  <modal-dialog params="isShown: isShown, onClosed: afterHideModal, ariaLabelBy: 'group-creation-label'">
    <div class="modal__header modal__header--list">
      <!-- ko if: stateIsParticipants() -->
        <button class="button-reset-default" type="button" data-bind="click: clickOnBack, attr: { 'aria-label': t('accessibility.groupCreationParticipantsActionBack')}" data-uie-name="go-back"><arrow-left-icon aria-hidden="true" class="modal__header__button"></arrow-left-icon></button>
        <h2 id="group-creation-label" class="modal__header__title" data-bind="text: participantsHeaderText" data-uie-name="status-people-selected"></h2>
        <button class="group-creation__action enabled accent-text" type="button" data-bind="click: clickOnCreate, text: participantsActionText, attr: { 'aria-label': participantsActionText }" data-uie-name="do-create-group"></button>
      <!-- /ko -->
      <!-- ko if: stateIsPreferences() -->
        <button class="button-reset-default" type="button" data-bind="click: clickOnClose, attr: { 'aria-label': t('accessibility.groupCreationActionCloseModal')}" data-uie-name="do-close"><close-icon aria-hidden="true" class="modal__header__button"></close-icon></button>
        <h2 id="group-creation-label" class="modal__header__title" data-bind="text: t('groupCreationPreferencesHeader')"></h2>
        <button id="group-go-next" class="group-creation__action" type="button" data-bind="click: clickOnNext, css: {'accent-text': groupName().length, 'enabled': groupName().length && !nameError().length}, text: t('groupCreationPreferencesAction'), attr: { 'aria-label': t('groupCreationPreferencesAction') }" data-uie-name="go-next"></button>
      <!-- /ko -->
    </div>
    <!-- ko if: stateIsParticipants() -->
      <user-input class="modal-style" params="
        input: participantsInput,
        setInput: value => participantsInput(value),
        selectedUsers: selectedContacts,
        setSelectedUsers: (users) => selectedContacts(users),
        placeholder: t('groupCreationParticipantsPlaceholder'),
        enter: clickOnCreate" spellcheck="false"></user-input>
    <!-- /ko -->
      <!-- ko if: stateIsParticipants() -->
        <div class="group-creation__list" data-bind="fadingscrollbar">
          <!-- ko if: contacts().length -->
            <user-list class="group-creation-modal-participants-list user-list-light" params="
              observables: {users: contacts, filter: participantsInput, selected: selectedContacts},
              searchRepository: searchRepository,
              teamRepository: teamRepository,
              conversationRepository: conversationRepository,
              noUnderline: true
            "></user-list>
          <!-- /ko -->
        </div>
      <!-- /ko -->
      <!-- ko if: stateIsPreferences() -->
        <div class="modal-input-wrapper">
          <text-input
            params="
              label: t('groupCreationPreferencesPlaceholder'),
              placeholder: t('groupCreationPreferencesPlaceholder'),
              uieName: 'enter-group-name',
              errorUieName: 'error-group-name',
              name: 'enter-group-name',
              onCancel: onGroupNameCancel,
              onChange: onGroupNameChange,
              onBlur: onGroupNameBlur,
              value: groupName,
              isError: nameError().length > 0,
              errorMessage: nameError
            "
          >
          </text-input>
        </div>
        <!-- ko if: isTeam -->
        <div class="modal__info" data-bind="text: t('groupSizeInfo', maxSize), style: { visibility: nameError().length > 0 ? 'hidden' : 'visible' }" data-uie-name="status-group-size-info"></div>
        <hr class="group-creation__modal__separator" />
        <base-toggle class="modal-style"
        params="isChecked: isGuestEnabled(), setIsChecked: clickOnToggleGuestMode, extendedInfo: true, extendedInfoText: t('guestRoomToggleInfoExtended'), infoText: t('guestRoomToggleInfo'), toggleName: t('guestOptionsTitle')"
      ></base-toggle>
        <base-toggle class="modal-style"
        params="isChecked: isServicesEnabled(), setIsChecked: clickOnToggleServicesMode, extendedInfo: true, extendedInfoText: t('servicesRoomToggleInfoExtended'), infoText: t('servicesRoomToggleInfo'), toggleName: t('servicesOptionsTitle')"
      ></base-toggle>
        <info-toggle class="modal-style" params="
          dataUieName: 'read-receipts',
          info: t('readReceiptsToogleInfo'),
          isChecked: enableReadReceipts,
          setIsChecked: (checked) => enableReadReceipts(checked),
          isDisabled: false,
          name: t('readReceiptsToogleName')
        "></info-toggle>
        <!-- /ko -->
      <!-- /ko -->
  </modal-dialog>
</div>
