<div id="group-creation-modal" data-bind="with: $root.groupCreation" class="group-creation__modal">
  <modal params="isShown: isShown, onClosed: afterHideModal">
    <div class="modal__header">
      <!-- ko if: stateIsParticipants() -->
        <div class="modal__header__title"  data-bind="text: participantsHeaderText" data-uie-name="status-people-selected"></div>
        <div class="group-creation__action enabled accent-text" data-bind="click: clickOnCreate, text: participantsActionText" data-uie-name="do-create-group"></div>
        <arrow-left-icon class="modal__header__button" data-bind="click: clickOnBack" data-uie-name="go-back"></arrow-left-icon>
      <!-- /ko -->
      <!-- ko if: stateIsPreferences() -->
        <div class="modal__header__title" data-bind="text: t('groupCreationPreferencesHeader')"></div>
        <div class="group-creation__action" data-bind="click: clickOnNext, css: {'accent-text': nameInput().length, 'enabled': nameInput().length}, enable: nameInput().length, text: t('groupCreationPreferencesAction')" data-uie-name="go-next"></div>
        <close-icon class="modal__header__button" data-bind="click: clickOnClose" data-uie-name="do-close"></close-icon>
      <!-- /ko -->
    </div>
    <!-- ko if: stateIsParticipants() -->
      <user-input class="modal-style" params="input: participantsInput, selected: selectedContacts, placeholder: t('groupCreationParticipantsPlaceholder'), enter: clickOnCreate" spellcheck="false"></user-input>
    <!-- /ko -->
      <!-- ko if: stateIsParticipants() -->
        <div class="group-creation__list" data-bind="fadingscrollbar">
          <!-- ko if: contacts().length -->
            <user-list class="group-creation-modal-participants-list user-list-light" params="
              user: contacts,
              filter: participantsInput,
              selected: selectedContacts,
              searchRepository: searchRepository,
              teamRepository: teamRepository,
              conversationRepository: conversationRepository,
              noUnderline: true
            "></user-list>
          <!-- /ko -->
        </div>
      <!-- /ko -->
      <!-- ko if: stateIsPreferences() -->
        <input class="modal__input"
               autocomplete="off" autofocus required spellcheck="false" type="text"
               data-bind="attr: {maxlength: maxNameLength, placeholder: t('groupCreationPreferencesPlaceholder')}, enter: clickOnNext, hasFocus: true, textInput: nameInput"
               data-uie-name="enter-group-name">
        <div class="group-creation__error" data-bind="text: nameError, visible: nameError().length" data-uie-name="error-group-name"></div>
        <!-- ko if: isTeam -->
          <div class="modal__info" data-bind="text: t('groupSizeInfo', maxSize)" data-uie-name="status-group-size-info"></div>
          <guest-mode-toggle class="modal-style" params="isChecked: isGuestRoom, onToggle: clickOnToggleGuestMode, extendedInfo: true"></guest-mode-toggle>
          <info-toggle class="modal-style" params="
            dataUieName: 'read-receipts',
            info: t('readReceiptsToogleInfo'),
            isChecked: enableReadReceipts,
            isDisabled: false,
            name: t('readReceiptsToogleName')
          "></info-toggle>
        <!-- /ko -->
      <!-- /ko -->
    </modal>
</div>
