<div class="legal-hold-modal" data-bind="with: $root.legalHoldModal">
  <modal params="isShown: isVisible, onBgClick: hide, onClosed: onClosed" data-uie-name="legal-hold-modal">
    <div class="modal__header">
      <close-icon class="modal__header__button" data-bind="click: hide" data-uie-name="do-close"></close-icon>
      <!-- ko if: devicesUser() -->
        <arrow-left-icon
          class="modal__header__button"
          data-bind="clickOrDrag: clickOnBack"
          data-uie-name="go-back-participant-devices"
        ></arrow-left-icon>
      <!-- /ko -->
    </div>
    <div class="modal__body legal-hold-modal__wrapper">
      <!-- ko ifnot: devicesUser() -->
        <legal-hold-dot class="legal-hold-modal__logo" params="large: true" data-uie-name="status-modal-legal-hold-icon"></legal-hold-dot>
        <div class="legal-hold-modal__headline" data-bind="text: t('legalHoldHeadline')" data-uie-name="status-modal-title"></div>
        <!-- ko if: isLoading() -->
          <loading-icon></loading-icon>
        <!-- /ko -->
        <!-- ko ifnot: isLoading() -->
          <p
            class="legal-hold-modal__info"
            data-bind="html: isOnlyMe ? t('legalHoldDescriptionSelf'): t('legalHoldDescriptionOthers')"
            data-uie-name="status-modal-text"
          ></p>
          <div class="legal-hold-modal__subjects" data-bind="text: t('legalHoldSubjects')"></div>

          <user-list
            params="user: users(), click: showUserDevices, conversationRepository: conversationRepository, teamRepository: teamRepository, noUnderline: true, arrow: true"
          ></user-list>
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: devicesUser() -->
        <user-devices
          params="clientRepository: clientRepository,
                  conversationRepository: conversationRepository,
                  cryptographyRepository: cryptographyRepository,
                  userEntity: devicesUser,
                  history: userDevicesHistory,
                  noPadding: true">
        </user-devices>
      <!-- /ko -->
    </div>
  </modal>
</div>
