<div class="user-modal" data-bind="with: $root.userModal">
  <modal
    params="isShown: isVisible, onBgClick: hide, onClosed: onClosed"
    data-bind="attr: {'data-uie-name': user() ? 'modal-user-profile' : userNotFound() ? 'modal-cannot-open-profile' : ''}"
  >
    <div class="modal__header">
      <!-- ko if: userNotFound() -->
        <div class="modal__header__title" data-bind="text: t('userNotFoundTitle', brandName)" data-uie-name="status-modal-title"></div>
      <!-- /ko -->
      <close-icon class="modal__header__button" data-bind="click: hide" data-uie-name="do-close"></close-icon>
    </div>
    <div class="modal__body user-modal__wrapper" data-bind="css: {'user-modal__wrapper--max': !user() && !userNotFound() }">
      <!-- ko if: user() -->
        <panel-user-details params="participant: user, isSelfVerified: isSelfVerified"></panel-user-details>
        <enriched-fields params="user: user"></enriched-fields>
        <user-actions
          params="user: user, actionsViewModel: actionsViewModel, onAction: onUserAction, isSelfActivated: isActivatedAccount()"
        ></user-actions>
      <!-- /ko -->
      <!-- ko if: !user() && !userNotFound()  -->
        <div class="loading-wrapper">
          <loading-icon></loading-icon>
        </div>
      <!-- /ko -->
      <!-- ko if: userNotFound() -->
        <div class="modal__message" data-bind="text: t('userNotFoundMessage', brandName)" data-uie-name="status-modal-text"></div>
        <div class="modal__buttons">
          <div class="modal__button modal__button--confirm" data-bind="text: t('modalAcknowledgeAction'), click: hide" data-uie-name="do-ok"></div>
        </div>
      <!-- /ko -->
    </div>
  </modal>
</div>
