<div class="add-participants">
  <div class="add-participants-header">
    <div class="add-participants-header-block">
      <span class="button-icon icon-back" data-bind="click: clickOnBack" data-uie-name="go-back"></span>
    </div>
    <span class="add-participants-title" data-bind="text: participantsHeaderText" data-uie-name="status-people-selected"></span>
    <div class="add-participants-header-block">
      <span class="button-icon icon-close" data-bind="click: clickOnClose" data-uie-name="do-close"></span>
    </div>
    <user-input class="add-participants-search-list user-list-light" params="input: searchInput, selected: selectedContacts, placeholder: z.string.addParticipantsSearchPlaceholder" spellcheck="false"></user-input>
    <!-- ko if: showIntegrations() -->
      <div class="participants-search-tabs">
        <div class="participants-search-tab" data-bind="css: {'active': stateAddPeople}, click: clickOnAddPeople, l10n_text: z.string.addParticipantsTabsPeople" data-uie-name="do-add-people"></div>
        <div class="participants-search-tab" data-bind="css: {'active': stateAddService}, click: clickOnAddService, l10n_text: z.string.addParticipantsTabsServices" data-uie-name="do-add-services"></div>
      </div>
    <!-- /ko -->
  </div>
  <div class="add-participants-content">
    <!-- ko if: activeAddState() -->
      <div class="add-participants-list" data-bind="antiscroll: shouldUpdateScrollbar">
        <!-- ko if: stateAddPeople() -->
          <user-list class="user-list-light" params="user: contacts, filter: searchInput, selected: selectedContacts"></user-list>
        <!-- /ko -->
        <!-- ko if: stateAddService() -->
          <service-list class="service-list-light" params="services: services, click: clickOnSelectService, isSearching: isSearching"></service-list>
        <!-- /ko -->
      </div>
    <!-- /ko -->
  </div>
  <div class="add-participants-footer">
    <!-- ko if: stateAddPeople() -->
      <button class="participants-search-footer button button-full" data-bind="enable: selectedContacts().length > 0, click: clickToAddMembers" data-uie-name="do-create">
        <span class="icon-people-add participants-search-icon"></span>
        <span data-bind="l10n_text: z.string.addParticipantsConfirmLabel"></span>
      </button>
    <!-- /ko -->
  </div>
</div>
