<div  id="guest-options" class="guest-options" data-bind="with: $root.guestOptions">
  <!-- ko if: isVisible() -->
    <div class="right-panel-header">
      <arrow-left-icon class="icon-button" data-bind="click: clickOnBack" data-uie-name="do-close"></arrow-left-icon>
      <div class="right-panel-title" data-bind="l10n-text: z.string.guestOptionsTitle"></div>
      <close-icon class="right-panel-close icon-button" data-bind="click: clickOnClose" data-uie-name="do-close"></close-icon>
    </div>
    <guest-mode-toggle params="isChecked: isGuestRoom, onToggle: toggleAccessState"></guest-mode-toggle>
  <!-- /ko -->
</div>
