<div id="participants" class="participants" data-bind="with: $root.participants, css: {'show-participant': $root.participants.showParticipantProfile()}">
  <div class="right-panel-header">
    <div></div>
    <div class="right-panel-close icon-close icon-button"></div>
  </div>
  <div class="participants-transition">
    <!-- ko if: stateParticipants() -->
      <div class="participants-group">
        <div class="participants-group-header">
          <div class="name popover-title">
            <div data-bind="visible: !isEditing(), text: conversation().display_name(), click: clickToEdit, l10n_tooltip: z.string.tooltip_people_rename" data-uie-name="status-name"></div>
            <textarea data-bind="visible: isEditing, value: conversation().display_name(), enter: renameConversation, hasFocus: isEditing, resize" maxlength="64" dir="auto" data-uie-name="enter-name"></textarea>
          </div>
          <span class="edit icon-edit" data-bind="visible: isEditable() && !isEditing(), click: clickToEdit"></span>
          <div class="people popover-meta text-uppercase" data-bind="l10n_text: {'id': z.string.people_people, 'substitute': participants().length}"></div>
        </div>
        <div class="participants-group-list">
          <user-list params="user: unverifiedParticipants, click: clickOnShowParticipant, mode: z.components.UserList.MODE.DEFAULT" data-uie-name="list-unverified"></user-list>
          <!-- ko if: verifiedParticipants().length -->
            <div class="participants-group-list-separator">
              <svg width="16" height="16">
                <use xlink:href="#icon-verified"></use>
              </svg>
              <span class="label-xs" data-bind="l10n_text: z.string.people_verified"></span>
              <hr>
            </div>
            <user-list params="user: verifiedParticipants, click: clickOnShowParticipant, mode: z.components.UserList.MODE.DEFAULT" data-uie-name="list-verified"></user-list>
          <!-- /ko -->
          <!-- ko if: serviceParticipants().length -->
            <div class="participants-group-list-separator">
              <span class="label-xs" data-bind="l10n_text: z.string.people_services"></span>
              <hr>
            </div>
            <service-list params="services: serviceParticipants, click: clickOnShowParticipant, mode: z.components.ServiceList.MODE.DEFAULT" data-uie-name="list-services"></service-list>
          <!-- /ko -->
        </div>
        <div class="participants-group-footer">
          <!-- ko ifnot: conversation().removed_from_conversation()-->
            <!-- ko ifnot: conversation().is_guest() -->
              <div class="button-icon pull-left" data-bind="click: clickOnAddPeople, attr:{'title': addPeopleTooltip}" data-uie-name="do-add-people">
                <div class="button-icon icon-people-add"></div>
                <label data-bind="l10n_text: addActionText"></label>
              </div>
            <!-- /ko -->
            <div class="button-icon icon-minus pull-right" data-bind="click: clickToLeave, l10n_tooltip: z.string.tooltip_people_leave" data-uie-name="do-leave"></div>
          <!-- /ko -->
        </div>
      </div>

      <!-- ko if: showUserState -->
        <user-profile class="participants-user-profile" params="
          add_people: clickOnAddPeople,
          block: clickToBlock,
          close: clickOnMemberBack,
          conversation: conversation,
          leave: clickToLeave,
          mode: z.components.UserProfile.MODE.PEOPLE,
          pending: clickOnPending,
          profile: clickOnSelfProfile,
          remove: clickToRemoveMember,
          unblock: clickToUnblock,
          user: selectedParticipant
        "></user-profile>
      <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: activeAddState() -->
      <div class="participants-search">
        <div class="participants-search-header">
          <div class="participants-search-header-row">
            <user-input class="participants-search-header-list user-list-light" params="input: searchInput, selected: selectedContacts, placeholder: z.string.people_search_placeholder" spellcheck="false"></user-input>
            <div class="participants-search-header-close icon-close icon-button" data-bind="click: clickOnCloseAdding, l10n_tooltip: z.string.tooltip_search_close" data-uie-name="do-close"></div>
          </div>
          <!-- ko if: showIntegrations() -->
            <div class="participants-search-tabs">
              <div class="participants-search-tab" data-bind="css: {'active': stateAddPeople}, click: clickOnAddPeople, l10n_text: z.string.people_tabs_people" data-uie-name="do-add-people"></div>
              <div class="participants-search-tab" data-bind="css: {'active': stateAddService}, click: clickOnAddService, l10n_text: z.string.people_tabs_services" data-uie-name="do-add-services"></div>
            </div >
          <!-- /ko -->
        </div >
        <div class="participants-search-content">
          <div class="participants-search-list" data-bind="antiscroll: shouldUpdateScrollbar">
            <!-- ko if: stateAddPeople() -->
              <user-list class="user-list-light" params="user: contacts, filter: searchInput, selected: selectedContacts"></user-list>
            <!-- /ko -->
            <!-- ko if: stateAddService() -->
              <service-list class="service-list-light" params="services: services, click: clickOnSelectService, isSearching: isSearching"></service-list>
            <!-- /ko -->
          </div>
        </div>
        <!-- ko if: stateAddPeople() -->
          <button class="participants-search-footer button button-full" data-bind="enable: selectedContacts().length > 0, click: clickToAddMembers" data-uie-name="do-create">
            <span class="icon-people-add participants-search-icon"></span>
            <span data-bind="l10n_text: z.string.people_confirm_label"></span>
          </button>
        <!-- /ko -->
      </div>
    <!-- /ko -->

    <!-- ko if: showServiceStates() -->
      <div class="user-profile-transition">
        <div class="participants-service-profile">
          <!-- ko if: groupMode() -->
            <div class="participants-service-profile-header">
              <div class="participants-service-profile-back" data-bind="click: clickOnServiceBack, l10n_tooltip: z.string.tooltip_people_back" data-uie-name="do-back">
                <svg width="16" height="16" viewBox="0 0 16 16">
                  <path fill="#33373A" d="M4.83 9l5.24 5.24-1.41 1.41L1 8 8.66.34l1.41 1.41L4.83 7H15v2z"/>
                </svg>
              </div>
            </div>
          <!-- /ko -->
          <div class="participants-service-profile-body">
            <div class="participants-service-profile-details">
              <participant-avatar params="participant: selectedService, size: z.components.ParticipantAvatar.SIZE.LARGE"></participant-avatar>
              <div class="participants-service-profile-details-content">
                <div class="participants-service-profile-name" data-bind="text: selectedService().name" data-uie-name="status-service-name"></div>
                <div class="participants-service-profile-provider" data-bind="text: selectedService().providerName()" data-uie-name="status-service-provider"></div>
              </div>
            </div>
            <div class="participants-service-profile-description" data-bind="text: selectedService().description" data-uie-name="status-service-description"></div>
          </div>
          <!-- ko if: stateServiceConfirmation() || showServiceRemove() -->
            <div class="participants-service-profile-footer">
              <!-- ko if: stateServiceConfirmation() -->
                <button class="participants-service-profile-button" data-bind="click: clickToAddService, l10n_text: z.string.people_service_confirm_button" data-uie-name="do-service-confirm"></button>
              <!-- /ko -->
              <!-- ko if: showServiceRemove() -->
                <button class="participants-service-profile-button button-theme-red" data-bind="click: clickToRemoveService, l10n_text: z.string.people_service_removal_button" data-uie-name="do-service-remove"></button>
              <!-- /ko -->
            </div>
          <!-- /ko -->
        </div>
      </div>
    <!-- /ko -->
  </div>
</div>
