<div id="timed-messages" class="panel__page timed-messages" data-bind="with: $root.timedMessages">
    <!-- ko if: isVisible() -->
        <div class="panel__header">
            <arrow-left-icon class="icon-button" data-bind="click: clickOnBack" data-uie-name="go-back-timed-messages-options"></arrow-left-icon>
            <div class="panel__header__title" data-bind="l10n_text: z.string.timedMessagesTitle"></div>
            <close-icon class="right-panel-close icon-button" data-bind="click: clickOnClose" data-uie-name="do-close"></close-icon>
        </div>
        <div class="panel__content">
            <div class="panel__content__scroll" data-bind="antiscroll: shouldUpdateScrollbar">
                <div class="panel__action-item" data-bind="click: clickOnMessageTimeOff" data-uie-name="item-timed-messages-option">
                    <div class="panel__action-item__text" data-bind="l10n_text: z.string.ephemeralUnitsNone"></div>
                    <!-- ko if: currentMessageTimer() === 0 -->
                        <check-icon></check-icon>
                    <!-- /ko -->
                </div>
                <!-- ko foreach: {data: messageTimes, afterRender: () => isRendered(true)} -->
                    <div class="panel__action-item" data-bind="click: $parent.clickOnMessageTime" data-uie-name="item-timed-messages-option">
                        <div class="panel__action-item__text" data-bind="text: text"></div>
                        <!-- ko if: $parent.currentMessageTimer() === value -->
                            <check-icon></check-icon>
                        <!-- /ko -->
                    </div>
                <!-- /ko -->
                <div class="panel__info-text timed-messages__disclaimer" data-bind="l10n_text: z.string.timedMessageDisclaimer"></div>
            </div>
        </div>
    <!-- /ko -->
</div>