option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:node_env:
    NODE_ENV: production
  aws:elasticbeanstalk:environment:process:
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs: 
    GzipCompression: true
    NodeCommand: "npm run start:prod"