files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_environment_switch.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -e
      echo "The PLATFORM_BRANCH is: $PLATFORM_BRANCH"

      # Use the appropriate config file based on the platform version
      if [ "$PLATFORM_BRANCH" = "aws-linux-2" ]; then
        # Use the new configuration file for Amazon Linux 2
        scp -o "StrictHostKeyChecking=no" -r .ebextensions/al2-environment.config $EC2_INSTANCE:/tmp/elasticbeanstalk/environment.config
      else
        # Use the old configuration file for Amazon Linux 1
        scp -o "StrictHostKeyChecking=no" -r .ebextensions/old-environment.config $EC2_INSTANCE:/tmp/elasticbeanstalk/environment.config
      fi
