<div id="archive" class="left-list left-list-archive" data-bind="with: $root.archive">
  <div class="left-list-header">
    <span class="left-list-header-text" data-bind="text: t('archiveHeader')"></span>
    <span class="left-list-header-close-button button-icon-large icon-close" data-bind="clickOrDrag: clickOnClose, attr: {title: t('tooltipSearchClose')}" data-uie-name="do-close-archive"></span>
  </div>
  <div class="left-list-center">
    <ul class="left-list-items" data-bind="antiscroll: shouldUpdateScrollbar, bordered_list: archivedConversations, foreach: archivedConversations">
      <li>
        <conversation-list-cell
          data-bind="click: $parent.clickOnConversation, event: {'contextmenu': $parent.listViewModel.onContextMenu}"
          data-uie-name="item-conversation-archived"
          params="click: $parent.listViewModel.onContextMenu, conversation: $data">
        </conversation-list-cell>
      </li>
    </ul>
  </div>
</div>
