<div id="start-ui" data-bind="with: $root.start">
  <div class="left-list-header left-list-header-start-ui">
    <span class="left-list-header-text" data-bind="text: teamName" data-uie-name="status-team-name-search"></span>
    <close-icon class="left-list-header-close-button button-icon-large" data-bind="clickOrDrag: clickOnClose, attr: {title: t('tooltipSearchClose')}" data-uie-name="do-close"></close-icon>
  </div>
  <div id="start-ui-header" class="start-ui-header" data-bind="css: {'start-ui-header-integrations': isTeam()}">
    <user-input class="start-ui-header-user-input"
                params="input: searchInput, placeholder: t('searchPlaceholder'), enter: handleSearchInput"
                data-uie-name="enter-search">
    </user-input>
    <!-- ko if: isTeam() && z.userPermission().canChatWithServices() -->
      <div class="start-ui-list-tabs">
        <div class="start-ui-list-tab" data-bind="click: clickOnShowPeople, css: {'active' : peopleTabActive()}, text: t('searchPeople')" data-uie-name="do-add-people"></div>
        <div class="start-ui-list-tab" data-bind="click: clickOnShowServices, css: {'active' : !peopleTabActive()}, text: t('searchServices')" data-uie-name="do-add-services"></div>
      </div>
    <!-- /ko -->
  </div>

  <div class="left-list-center start-ui-list-wrapper" data-bind="css: {'split-view': showNoContacts()}">
    <div class="start-ui-list" data-bind="antiscroll: shouldUpdateScrollbar, bordered_list: teamName">
      <!-- ko if: showSpinner() -->
        <div class="start-ui-list-spinner">
          <span class="icon-spinner spin"></span>
        </div>
      <!-- /ko -->

      <!-- ko ifnot: showSpinner() -->
        <!-- ko if: peopleTabActive() -->
          <!-- ko if: showNoMatches() -->
            <!-- ko if: showOnlyConnectedUsers() -->
              <people-icon class="start-ui-no-contacts__icon"></people-icon>
            <!-- /ko -->
            <!-- ko ifnot: showOnlyConnectedUsers() -->
              <div class="start-ui-no-contacts" data-bind="text: t('searchNoContactsOnWire', brandName)"></div>
            <!-- /ko -->
          <!-- /ko -->

          <!-- ko if: showNoSearchResults() -->
            <!-- ko if: showOnlyConnectedUsers() -->
              <div class="start-ui-no-search-results__content">
                <message-icon class="start-ui-no-search-results__icon"></message-icon>
                <div class="start-ui-no-search-results__text" data-bind="text: t('searchNoMatchesPartner')" data-uie-name="label-no-search-result"></div>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: showOnlyConnectedUsers() -->
              <div class="start-ui-no-search-results" data-bind="text: t('searchTrySearch')"></div>
            <!-- /ko -->
          <!-- /ko -->

          <!-- ko ifnot: showSearchResults() -->
            <!-- ko if: showInviteMember() && !!manageTeamUrl -->
              <ul class="start-ui-invite-people left-list-items">
                <li class="left-list-item left-list-item-clickable" data-bind="click: clickOpenManageTeam" data-uie-name="do-invite-member">
                  <div class="left-column-icon icon-envelope"></div>
                  <div class="center-column" data-bind="text: t('searchMemberInvite')"></div>
                </li>
              </ul>
            <!-- /ko -->
            <!-- ko if: z.userPermission().canCreateGroupConversation() -->
              <ul class="start-ui-create-group left-list-items">
                <li class="left-list-item left-list-item-clickable" data-bind="click: clickOnCreateGroup" data-uie-name="go-create-group">
                  <group-icon class="left-column-icon"></group-icon>
                  <div class="center-column" data-bind="text: t('searchCreateGroup')"></div>
                </li>
              </ul>
            <!-- /ko -->
            <!-- ko if: z.userPermission().canCreateGuestRoom() && showCreateGuestRoom() -->
              <ul class="start-ui-create-guest-room left-list-items">
                <li class="left-list-item left-list-item-clickable" data-bind="click: clickOnCreateGuestRoom" data-uie-name="do-create-guest-room">
                  <guest-icon class="left-column-icon"></guest-icon>
                  <div class="center-column" data-bind="text: t('searchCreateGuestRoom')"></div>
                </li>
              </ul>
            <!-- /ko -->
            <!-- ko if: showTopPeople() -->
              <div class="start-ui-list-top-people" data-uie-name="status-top-people">
                <span class="start-ui-list-header start-ui-list-header-top-people" data-bind="text: t('searchTopPeople')"></span>
                <top-people class="search-list-theme-black" params="users: topUsers, click: clickOnContact"></top-people>
              </div>
            <!-- /ko -->
            <!-- ko if: showContacts() -->
              <div class="start-ui-list-contacts" data-uie-name="status-contacts">
                <!-- ko if: isTeam() -->
                  <span class="start-ui-list-header start-ui-list-header-contacts" data-bind="text: t('searchContacts')"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header" data-bind="text: t('searchConnections')"></span>
                <!-- /ko -->
                <!-- ko if: isVisible() -->
                  <user-list class="search-list-theme-black" params="user: contacts(), click: clickOnContact, searchRepository: searchRepository, teamRepository: teamRepository, conversationRepository: conversationRepository"></user-list>
                <!-- /ko -->
              </div>
            <!-- /ko -->
          <!-- /ko -->

          <!-- ko if: showSearchResults() -->
            <div class="start-ui-list-search-results">
              <div class="contacts" data-bind="visible: searchResults.contacts().length > 0">
                <!-- ko if: isTeam() -->
                  <span class="start-ui-list-header start-ui-list-header-contacts" data-bind="text: t('searchContacts')"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header start-ui-list-header-connections" data-bind="text: t('searchConnections')"></span>
                <!-- /ko -->
                <user-list class="search-list-theme-black" params="user: searchResults.contacts, filter: searchInput, skipSearch: true, click: clickOnContact, searchRepository: searchRepository, teamRepository: teamRepository, conversationRepository: conversationRepository"></user-list>
              </div>
              <div class="start-ui-groups" data-bind="visible: searchResults.groups().length > 0">
                <!-- ko if: isTeam() -->
                  <span class="start-ui-list-header" data-bind="text: t('searchTeamGroups')"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header" data-bind="text: t('searchGroups')"></span>
                <!-- /ko -->
                <group-list params="groups: searchResults.groups, click: clickOnConversation"></group-list>
              </div>
              <div class="others" data-bind="visible: searchResults.others().length > 0">
                <span class="start-ui-list-header" data-bind="text: t('searchOthers')"></span>
                <user-list class="search-list-theme-black" params="user: searchResults.others, click: clickOnOther, mode: UserlistMode.OTHERS, searchRepository: searchRepository, teamRepository: teamRepository, conversationRepository: conversationRepository"></user-list>
              </div>
            </div>
          <!-- /ko -->
        <!-- /ko -->

        <!-- ko ifnot: peopleTabActive() -->
          <!-- ko if: services().length -->
            <!-- ko if: z.userPermission().canManageServices() && !!manageServicesUrl -->
              <ul class="start-ui-manage-services left-list-items">
                <li class="left-list-item left-list-item-clickable" data-bind="click: clickOpenManageServices" data-uie-name="go-manage-services">
                  <service-icon class="left-column-icon"></service-icon>
                  <div class="center-column" data-bind="text: t('searchManageServices')"></div>
                </li>
              </ul>
            <!-- /ko -->
            <service-list params="services: services, click: clickOnOther, isSearching: isSearching, noUnderline: true, arrow: true"></service-list>
          <!-- /ko -->
          <!-- ko if: !services().length && !isInitialServiceSearch() -->
            <div class="search__no-services">
              <service-icon class="search__no-services__icon"></service-icon>
              <!-- ko if: z.userPermission().canManageServices() && !!manageServicesUrl -->
                <div class="search__no-services__info" data-bind="text: t('searchNoServicesManager')" data-uie-name="label-no-services-enabled-manager"></div>
                <div class="search__no-services__manage-button" data-bind="click: clickOpenManageServices, text: t('searchManageServicesNoResults')" data-uie-name="go-enable-services"></div>
              <!-- /ko -->
              <!-- ko ifnot: z.userPermission().canManageServices() -->
                <div class="search__no-services__info" data-bind="text: t('searchNoServicesMember')" data-uie-name="label-no-services-enabled"></div>
              <!-- /ko -->
            </div>
          <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
    </div>
  </div>

  <!-- ko if: showNoContacts() -->
    <div class="start-ui-import-container"></div>
  <!-- /ko -->

  <!-- ko if: showInvitePeople() -->
    <div class="start-ui-import" data-bind="click: clickToShowInviteModal" data-uie-name="show-invite-modal">
      <span class="icon-invite start-ui-import-icon"></span>
      <span data-bind="text: t('searchInvite', brandName)"></span>
    </div>
  <!-- /ko -->
</div>
