<div id="temporary-guest" class="temporary-guest left-list left-list-is-visible" data-bind="with: $root.temporaryGuest">
  <!-- ko using: callingViewModel -->
    <!-- ko foreach: {data: activeCalls, as: 'activeCall', noChildContext: true} -->
      <conversation-list-calling-cell
        data-bind="attr: {'data-uie-uid': $data.id, 'data-uie-value': getConversationById(activeCall.conversationId).display_name}"
        params="
          call: activeCall,
          videoGrid: getVideoGrid(activeCall),
          conversation: getConversationById(activeCall.conversationId),
          multitasking: multitasking,
          callingRepository: callingRepository,
          teamRepository: teamRepository,
          temporaryUserStyle: true,
          callActions: callActions,
          hasAccessToCamera: hasAccessToCamera()"
        data-uie-name="item-call">
      </conversation-list-calling-cell>
    <!-- /ko -->
  <!-- /ko -->
  <div class="temporary-guest__content">
    <logo-full-icon></logo-full-icon>
    <div class="temporary-guest__description" data-bind="text: t('temporaryGuestDescription')"></div>
    <!-- ko if: isAccountCreationEnabled -->
      <div class="temporary-guest__create-account" data-bind="click: clickToCreateAccount, text: t('temporaryGuestCta')" data-uie-name="do-create-account"></div>
    <!-- /ko -->
  </div>
  <div class="temporary-guest__footer">
    <span class="temporary-guest__footer__info-text">
      <span class="temporary-guest__footer__info-text__time" data-bind="text: selfUser().expirationRemainingText, css: {'temporary-guest__footer__info-text__time--urgent': selfUser().expirationIsUrgent}" data-uie-name="status-expiration-time"></span>
      <span data-bind="text: t('temporaryGuestTimeRemaining')"></span>
    </span>
    <settings-icon  class="temporary-guest__footer__preferences" data-bind="click: clickOnPreferencesButton, attr: {title: t('tooltipConversationsPreferences')}" data-uie-name="go-preferences"></settings-icon>
  </div>
</div>
