<script type="text/html" id="template-confirm-my-fingerprint">
  <div class="user-profile-my-fingerprint confirm">
    <div data-action="cancel" class="user-profile-top-right-button button-icon icon-close" data-uie-name="do-cancel"></div>
    <div data-bind="click: click_on_show_my_devices, l10n_text: z.string.confirmDeviceFingerprint"></div>
    <device-card class="user-profile-device-detail-card" params="device: device()"></device-card>
    <div class="user-profile-device-detail-fingerprint" data-bind="foreach: fingerprint_local()"><span class="device-id-part" data-bind="text: $data"></span></div>
    <div class="user-profile-device-detail-footer">
      <span class="button-label text-theme" data-bind="click: click_on_show_my_devices, l10n_text: z.string.confirmDeviceAllMyDevices"></span>
    </div>
  </div>
</script>

