<script type="text/html" id="user-profile-footer-add">
  <div class="button-icon pull-left" data-bind="click: clickToSendRequest, l10n_tooltip: z.string.userProfileButtonConnect" data-uie-name="do-connect">
    <div class="button-icon icon-plus"></div>
    <span data-bind="l10n_text: z.string.userProfileButtonConnect"></span>
  </div>
</script>

<script type="text/html" id="user-profile-footer-empty"></script>

<script type="text/html" id="user-profile-footer-ignore-accept">
  <div class="footer-controls-buttons">
    <div class="button button-medium button-inverted" data-bind="click: clickToIgnoreInvite, l10n_text: z.string.userProfileButtonIgnore" data-uie-name="do-ignore"></div>
    <div class="button button-medium" data-bind="click: clickToAcceptInvite, l10n_text: z.string.userProfileButtonConnect" data-uie-name="do-connect"></div>
  </div>
</script>

<script type="text/html" id="user-profile-footer-unblock">
  <div class="button-icon pull-left" data-bind="click: clickToUnblock, l10n_tooltip: z.string.userProfileButtonUnblock" data-uie-name="do-unblock">
    <div class="button-icon icon-block"></div>
    <span data-bind="l10n_text: z.string.userProfileButtonUnblock"></span>
  </div>
</script>
