<div id="archive" class="left-list left-list-archive" data-bind="with: $root.archive">
  <div class="left-list-header">
    <span class="label-bold-xs" data-bind="l10n_text: z.string.archive_header"></span>
    <span class="left-list-header-close-button button-icon-large icon-close" data-uie-name="do-close-archive" data-bind="click: click_on_close_archive"></span>
  </div>
  <div class="left-list-center">
    <ul class="left-list-items" data-bind="antiscroll: should_update_scrollbar, bordered_list: conversations_archived">
      <!-- ko foreach: conversations_archived -->
        <li class="left-list-item">
          <div class="left-column">
            <!-- ko if: unread_type() === z.conversation.ConversationUnreadType.CALL -->
              <span class="icon-end-call text-red" data-uie-name="status-unread"></span>
            <!-- /ko -->
            <!-- ko if: unread_type() === z.conversation.ConversationUnreadType.CONNECT -->
              <span class="dot-md dot-outlined border-theme" data-uie-name="status-unread"></span>
            <!-- /ko -->
            <!-- ko if: unread_type() === z.conversation.ConversationUnreadType.PING -->
              <span class="icon-ping" data-bind="css: unread_accent_color()" data-uie-name="status-unread"></span>
            <!-- /ko -->
            <!-- ko if: unread_type() === z.conversation.ConversationUnreadType.UNREAD -->
              <span data-bind="unread_indicator: unread_message_count" data-uie-name="status-unread"></span>
            <!-- /ko -->
          </div>
          <div class="center-column"
               data-bind="attr: {'data-uie-uid': id, 'data-uie-value': display_name}, click: $parent.click_on_archived_conversation, text: display_name()"
               data-uie-name="item-conversation-archived"></div>
          <div class="right-column">
              <span class="button-icon icon-more"
                    data-bind="attr: {'id': 'options-' + id}, click: $root.click_on_actions, l10n_tooltip: z.string.tooltip_conversations_more"
                    data-bubble="#actions-bubble"
                    data-placement="right-flex"
                    data-uie-name="go-options"></span>
              <span class="icon-silence"
                    data-bind="css: {'conversation-muted': is_muted()}"
                    data-uie-name="status-silence"></span>
          </div>
        </li>
      <!-- /ko -->
    </ul>
  </div>
</div>
