<div id="start-ui" data-bind="with: $root.start_ui">
  <div class="left-list-header">
    <span class="left-list-header-text" data-bind="text: teamName" data-uie-name="status-team-name-search"></span>
    <span class="left-list-header-close-button button-icon-large icon-close" data-bind="click: click_on_close, l10n_tooltip: z.string.tooltip_search_close" data-uie-name="do-close"></span>
  </div>
  <div id="start-ui-header" class="start-ui-header border-theme" data-bind="css: {'start-ui-header-integrations': enableIntegrations()}">
    <user-input data-bind="input_hint: {text: z.l10n.text(z.string.search_group_hint), trigger: show_hint}"
                class="start-ui-header-user-input"
                params="input: search_input, placeholder: z.string.search_placeholder, selected: selected_people, enter: on_submit_search"
                data-uie-name="enter-search">
    </user-input>
    <div class="start-ui-header-actions clear" data-bind="css: {'start-ui-header-actions-visible': selected_people().length > 0}">
      <!-- ko if: selected_people().length === 1 -->
        <div class="button button-small button-fluid pull-left" data-bind="click: on_submit_search, l10n_text: z.string.search_open" data-uie-name="do-open"></div>
      <!-- /ko -->
      <!-- ko if: selected_people().length > 1 -->
        <div class="button button-small button-fluid pull-left" data-bind="click: on_submit_search, l10n_text: z.string.search_open_group" data-uie-name="do-add-create"></div>
      <!-- /ko -->
      <!-- ko if: selected_people().length >= 1 -->
        <div class="start-ui-header-actions-last button-round button-round-theme icon-call pull-right" data-bind="click: on_audio_call" data-uie-name="do-audio-call"></div>
      <!-- /ko -->
      <!-- ko if: selected_people().length === 1 -->
        <div class="start-ui-header-actions-last button-round button-round-theme icon-video pull-right" data-bind="click: on_video_call" data-uie-name="do-video-call"></div>
        <label class="start-ui-header-actions-last button-round button-round-theme icon-library pull-right" data-uie-name="do-photo">
          <input data-bind="file_select: on_photo" type="file" multiple="multiple" accept=".jpg-large, image/jpeg, image/png, image/bmp, image/gif" />
        </label>
      <!-- /ko -->
    </div>
    <!-- ko if: enableIntegrations() -->
      <div class="start-ui-list-tabs">
        <div class="start-ui-list-tab" data-bind="click: clickOnAddPeople, css: {'active' : peopleTabActive()}, l10n_text: z.string.search_people" data-uie-name="do-add-people"></div>
        <div class="start-ui-list-tab" data-bind="click: clickOnAddService, css: {'active' : !peopleTabActive()}, l10n_text: z.string.search_services" data-uie-name="do-add-services"></div>
      </div>
    <!-- /ko -->
  </div>

  <div class="left-list-center start-ui-list-wrapper">
    <div class="start-ui-list" data-bind="antiscroll: shouldUpdateScrollbar, bordered_list: teamName">
      <!-- ko if: show_spinner() -->
        <div class="start-ui-list-spinner">
          <span class="icon-spinner spin"></span>
        </div>
      <!-- /ko -->

      <!-- ko ifnot: show_spinner() -->
        <!-- ko if: peopleTabActive() -->
          <!-- ko ifnot: show_search_results() -->
            <!-- ko if: show_top_people() -->
              <div class="start-ui-list-top-people" data-uie-name="status-top-people">
                <span class="start-ui-list-header start-ui-list-header-top-people" data-bind="l10n_text: z.string.search_top_people"></span>
                <top-people class="search-list-theme-black" params="user: top_users, selected: selected_people"></top-people>
              </div>
            <!-- /ko -->
            <!-- ko if: show_contacts() -->
              <div class="start-ui-list-contacts" data-uie-name="status-contacts">
                <!-- ko if: isTeam() -->
                  <span class="start-ui-list-header start-ui-list-header-contacts" data-bind="l10n_text: z.string.search_contacts"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_connections"></span>
                <!-- /ko -->
                <user-list class="search-list-theme-black" params="user: contacts, selected: selected_people"></user-list>
              </div>
            <!-- /ko -->
          <!-- /ko -->

          <!-- ko if: show_search_results() -->
            <div class="start-ui-list-search-results">
              <div class="contacts" data-bind="visible: search_results.contacts().length > 0">
                <!-- ko if: isTeam() && !enableIntegrations() -->
                  <span class="start-ui-list-header start-ui-list-header-contacts" data-bind="l10n_text: z.string.search_contacts"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header start-ui-list-header-connections" data-bind="l10n_text: z.string.search_connections"></span>
                <!-- /ko -->
                <user-list class="search-list-theme-black" params="user: search_results.contacts, selected: selected_people"></user-list>
              </div>
              <div class="start-ui-groups" data-bind="visible: search_results.groups().length > 0">
                <!-- ko if: isTeam() -->
                  <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_team_groups"></span>
                <!-- /ko -->
                <!-- ko ifnot: isTeam() -->
                  <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_groups"></span>
                <!-- /ko -->
                <group-list params="groups: search_results.groups, click: click_on_group"></group-list>
              </div>
              <div class="others" data-bind="visible: search_results.others().length > 0">
                <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_others"></span>
                <user-list class="search-list-theme-black" params="user: search_results.others, click: clickOnOther, mode: z.components.UserList.MODE.OTHERS"></user-list>
              </div>
            </div>
          <!-- /ko -->
        <!-- /ko -->

        <!-- ko ifnot: peopleTabActive() -->
          <span class="start-ui-list-header"></span>
          <service-list params="services: search_results.services(), click: clickOnOther"></service-list>
        <!-- /ko -->
      <!-- /ko -->

      <!-- ko if: peopleTabActive() -->
        <!-- ko if: showMemberInvite() -->
          <ul class="left-list-items">
            <li class="left-list-item left-list-item-clickable" data-bind="click: clickOnMemberInvite" data-uie-name="do-invite-member">
              <div class="left-column icon-envelope"></div>
              <div class="center-column" data-bind="l10n_text: z.string.search_member_invite"></div>
            </li>
          </ul>
        <!-- /ko -->
        <!-- ko if: showNoMatches() -->
          <div class="start-ui-no-contacts" data-bind="l10n_text: z.string.search_no_contacts_on_wire"></div>
        <!-- /ko -->

        <!-- ko if: showNoSearchResults() -->
          <div class="start-ui-no-search-results" data-bind="l10n_text: z.string.search_try_search"></div>
        <!-- /ko -->
      <!-- /ko -->
    </div>
  </div>

  <!-- ko if: show_no_contacts() -->
    <div class="start-ui-import-container">
      <div>
        <h1 class="start-ui-import-headline" data-bind="l10n_text: z.string.people_invite_headline"></h1>
        <!-- ko if: window.wAddressBook || window.zAddressBook -->
          <div class="start-ui-import-buttons" data-bind="click: click_on_contacts_import" data-uie-name="from-contacts">
            <div class="start-ui-import-buttons-icon icon-contacts"></div>
            <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_contacts"></span>
          </div>
        <!-- /ko -->
        <div class="start-ui-import-buttons" data-bind="click: click_on_gmail_import" data-uie-name="from-gmail">
          <svg class="start-ui-import-buttons-icon">
            <use xlink:href="#icon-gmail"></use>
          </svg>
          <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_gmail"></span>
        </div>
        <div class="start-ui-import-detail" data-bind="l10n_text: z.string.people_invite_detail"></div>
      </div>
    </div>
  <!-- /ko -->

  <!-- ko if: show_invite() -->
    <div class="start-ui-import" id="invite-button" data-bind="click: show_invite_bubble" data-bubble="#invite-bubble" data-placement="top">
      <span class="icon-invite start-ui-import-icon"></span>
      <span data-bind="l10n_text: z.string.people_invite"></span>
    </div>
  <!-- /ko -->

  <!-- ko if: user_profile() -->
    <div id="start-ui-user-bubble" class="start-ui-user-bubble bubble" data-bind="css: additionalBubbleClasses">
      <!-- ko ifnot: userProfileIsService() -->
        <user-profile params="user: user_profile,
                              open: on_user_open,
                              accept: on_user_accept,
                              connect: on_user_connect,
                              ignore: on_user_ignore,
                              unblock: on_user_unblock,
                              cancel_request: on_cancel_request
                              mode: z.components.UserProfile.MODE.SEARCH"></user-profile>
      <!-- /ko -->

      <!-- ko if: userProfileIsService() -->
        <div class="start-ui-service">

          <div class="start-ui-service-body">
            <div class="start-ui-service-details">
              <!-- ko if: renderAvatar() -->
                <participant-avatar params="participant: user_profile, size: z.components.ParticipantAvatar.SIZE.LARGE"></participant-avatar>
              <!-- /ko -->
              <div class="start-ui-service-details-content">
                <div class="start-ui-service-name" data-bind="text: user_profile().name" data-uie-name="status-service-name"></div>
                <div class="start-ui-service-provider" data-bind="text: user_profile().providerName()" data-uie-name="status-service-provider"></div>
              </div>
            </div>

            <!-- ko ifnot: showServiceConversationList() -->
              <div class="start-ui-service-description" data-bind="text: user_profile().description" data-uie-name="status-service-description"></div>
            <!-- /ko -->

          </div>

          <!-- ko if: showServiceConversationList() -->
            <div class="start-ui-service-conversations">
              <user-input class="start-ui-service-conversations-input user-list-light" params="input: searchConversationInput, placeholder: z.string.people_search_placeholder" spellcheck="false" data-uie-name="enter-conversations"></user-input>
              <div class="start-ui-service-conversation-list-wrapper">
                <div class="start-ui-service-conversations-list" data-bind="antiscroll: shouldUpdateServiceScrollbar">
                  <div class="start-ui-service-conversations-create" data-bind="click: clickOnCreateServiceConversation" data-uie-name="do-create-conversation">
                    <div class="icon-plus"></div>
                    <div class="start-ui-service-conversations-create-text" data-bind="text: z.string.people_service_new_conversation"></div>
                  </div>
                  <!-- ko foreach: serviceConversations() -->
                    <conversation-list-cell
                      params="conversation: $data"
                      data-bind="click: $parent.clickOnServiceConversation"
                      data-uie-name="item-conversation">
                    </conversation-list-cell>
                  <!-- /ko -->
                </div>
              </div>
            </div>
          <!-- /ko -->

          <!-- ko ifnot: showServiceConversationList() -->
            <div class="start-ui-service-footer">
              <button class="start-ui-service-button" data-bind="click: clickOnAddServiceToConversation, l10n_text: z.string.people_service_confirm_button" data-uie-name="do-service-confirm"></button>
            </div>
          <!-- /ko -->
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->

  <div id="invite-bubble" class="invite-bubble bubble">
    <div class="invite-bubble-inner">

      <!-- ko if: show_invite_form() -->
        <div class="invite-bubble-link">
          <div class="invite-content">
            <div class="invite-header" data-bind="l10n_text: z.string.invite_headline"></div>
            <div class="invite-link-box">
              <div class="bg bg-theme"></div>
              <textarea data-bind="value: invite_message" class="message" dir="auto"></textarea>
            </div>
          </div>
          <div class="invite-footer" data-bind="text: invite_hints"></div>
        </div>
        <div class="invite-bubble-button" data-bind="click: click_on_import_form, l10n_text: z.string.people_share" data-uie-name="go-import-form"></div>
      <!-- /ko -->
      <!-- ko ifnot: show_invite_form() -->
        <div class="invite-bubble-link">
          <div class="invite-content">
            <h1 class="invite-header" data-bind="l10n_text: z.string.people_invite_headline"></h1>
            <!-- ko if: window.wAddressBook || window.zAddressBook-->
              <div class="start-ui-import-buttons" data-bind="click: click_on_contacts_import" data-uie-name="do-contacts-import">
                <div class="start-ui-import-buttons-icon icon-contacts"></div>
                <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_contacts"></span>
              </div>
            <!-- /ko -->
            <div class="start-ui-import-buttons" data-bind="click: click_on_gmail_import" data-uie-name="do-google-import">
              <svg class="start-ui-import-buttons-icon">
                <use xlink:href="#icon-gmail"></use>
              </svg>
              <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_gmail"></span>
            </div>
            <div class="start-ui-import-detail" data-bind="l10n_text: z.string.people_invite_detail"></div>
          </div>
        </div>
        <div class="invite-bubble-button" data-bind="click: click_on_invite_form, l10n_text: z.string.people_invite" data-uie-name="go-invite-form"></div>
      <!-- /ko -->
    </div>
  </div>
</div>
