<div id="start-ui" data-bind="with: $root.start_ui">
  <div id="start-ui-header" class="start-ui-header border-theme">
    <user-input data-bind="input_hint: {text: group_hint_text, trigger: show_hint}"
                class="start-ui-header-user-input"
                params="input: search_input, placeholder: z.string.search_placeholder, selected: selected_people, enter: on_submit_search, close: click_on_close"
                data-uie-name="enter-search">
    </user-input>
    <div class="start-ui-header-actions clear" data-bind="css: {'start-ui-header-actions-visible': selected_people().length > 0}">
        <!-- ko if: selected_people().length === 1 -->
          <div class="button button-sm button-fluid pull-left" data-bind="click: on_submit_search, l10n_text: z.string.search_open" data-uie-name="do-open"></div>
        <!-- /ko -->
        <!-- ko if: selected_people().length > 1 -->
          <div class="button button-sm button-fluid pull-left" data-bind="click: on_submit_search, l10n_text: z.string.search_open_group" data-uie-name="do-add-create"></div>
        <!-- /ko -->
        <!-- ko if: selected_people().length >= 1 -->
          <div class="start-ui-header-actions-last button-round button-round-theme icon-call pull-right" data-bind="click: on_audio_call" data-uie-name="do-audio-call"></div>
        <!-- /ko -->
        <!-- ko if: selected_people().length === 1 -->
          <div class="start-ui-header-actions-last button-round button-round-theme icon-video pull-right" data-bind="click: on_video_call" data-uie-name="do-video-call"></div>
          <label class="start-ui-header-actions-last button-round button-round-theme icon-library pull-right" data-uie-name="do-photo">
            <input data-bind="file_select: on_photo" type="file" multiple="multiple" accept=".jpg-large, image/jpeg, image/png, image/bmp, image/gif" />
          </label>
        <!-- /ko -->
      </div>
  </div>

  <div class="start-ui-list-wrapper">
    <div class="start-ui-list" data-bind="antiscroll: should_update_scrollbar">
      <!-- ko ifnot: show_spinner() -->

        <!-- ko ifnot: show_search_results() -->
          <!-- ko if: show_top_people() && top_users().length -->
            <div class="start-ui-list-top-conversations">
              <span class="start-ui-list-header start-ui-list-header-top-people" data-uie-name="status-top-people" data-bind="l10n_text: z.string.search_top_people"></span>
              <top-people class="search-list-theme-black" params="user: top_users, selected: selected_people"></top-people>
            </div>
          <!-- /ko  -->
          <!-- ko if: show_suggestions() && suggestions().length -->
            <div class="start-ui-list-suggestions">
              <span class="start-ui-list-header" data-uie-name="status-connect" data-bind="l10n_text: z.string.search_connect"></span>
              <user-list class="search-list-theme-black" params="user: suggestions, click: click_on_other, connect: click_on_connect, dismiss: click_on_dismiss, mode: z.components.UserListMode.INFO"></user-list>
            </div>
          <!-- /ko  -->
          <!-- ko if: show_connections() && connections().length -->
            <div class="start-ui-list-connections">
              <span class="start-ui-list-header" data-uie-name="status-connect" data-bind="l10n_text: z.string.search_connections"></span>
              <group-list params="groups: connections, click: $root.click_on_group, avatar: true"></group-list>
            </div>
          <!-- /ko  -->
        <!-- /ko  -->

        <!-- ko if: show_search_results() -->
          <div class="start-ui-list-search-results">
            <div class="contacts" data-bind="visible: search_results.contacts().length > 0">
              <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_connections"></span>
              <user-list class="search-list-theme-black" params="user: search_results.contacts, selected: selected_people"></user-list>
            </div>
            <div class="start-ui-groups" data-bind="visible: search_results.groups().length > 0">
              <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_groups"></span>
              <group-list params="groups: search_results.groups, click: $root.click_on_group"></group-list>
            </div>
            <div class="others" data-bind="visible: search_results.others().length > 0">
              <span class="start-ui-list-header" data-bind="l10n_text: z.string.search_others"></span>
              <user-list class="search-list-theme-black" params="user: search_results.others, click: click_on_other, mode: z.components.UserListMode.INFO"></user-list>
            </div>
          </div>
        <!-- /ko  -->

        <!-- ko if: show_invite() && show_no_contacts_on_wire() && search_input() -->
          <div class="start-ui-no-top-people" data-bind="l10n_text: z.string.search_no_contacts_on_wire"></div>
        <!-- /ko  -->

        <!-- ko if: show_invite() && !show_no_contacts_on_wire() && search_input()-->
          <div class="start-ui-no-top-people" data-bind="l10n_text: z.string.search_try_search"></div>
        <!-- /ko  -->

        <!-- ko if: show_invite() && !show_no_contacts_on_wire() && !search_input() -->
          <div class="start-ui-import-container">
            <h1 class="start-ui-import-headline" data-bind="l10n_text: z.string.people_invite_headline"></h1>
            <!-- ko if: window.zAddressBook -->
              <div class="start-ui-import-buttons" data-uie-name="from-contacts" data-bind="click: click_on_contacts_import">
                <div class="start-ui-import-buttons-icon icon-contacts"></div>
                <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_contacts"></span>
              </div>
            <!-- /ko -->
            <div class="start-ui-import-buttons" data-uie-name="from-gmail" data-bind="click: click_on_gmail_import">
              <svg class="start-ui-import-buttons-icon">
                <use xlink:href="#icon-gmail"></use>
              </svg>
              <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_gmail"></span>
            </div>
            <div class="start-ui-import-detail" data-bind="l10n_text: z.string.people_invite_detail"></div>
          </div>
        <!-- /ko  -->

      <!-- /ko  -->

      <!-- ko if: show_spinner() -->
        <div class="start-ui-list-spinner">
          <span class="icon-spinner spin"></span>
        </div>
      <!-- /ko  -->

    </div>
  </div>

  <div class="start-ui-import" data-bind="click: show_invite_bubble" >
    <span id="invite-button" class="label-bold-xs" data-bind="text: invite_button_text" data-bubble="#invite-bubble" data-placement="top"></span>
  </div>

  <!-- ko if: user_profile() -->
    <div id="start-ui-user-bubble" class="start-ui-user-bubble bubble">
      <user-profile params="user: user_profile,
                            open: on_user_open,
                            accept: on_user_accept,
                            connect: on_user_connect,
                            ignore: on_user_ignore,
                            unblock: on_user_unblock,
                            cancel_request: on_cancel_request
                            mode: z.components.UserProfileMode.SEARCH"></user-profile>
    </div>
  <!-- /ko -->

  <div id="invite-bubble" class="invite-bubble bubble">
    <div class="invite-bubble-inner">

      <!-- ko if: show_invite_form() -->
        <div class="invite-bubble-link">
          <div class="invite-content">
            <div class="invite-header" data-bind="l10n_text: z.string.invite_headline"></div>
            <p class="invite-desc" data-bind="l10n_text: z.string.invite_detail"></p>
            <div class="invite-link-box">
              <div class="bg bg-theme"></div>
              <textarea data-bind="value: invite_message" class="message"></textarea>
            </div>
          </div>
          <div class="invite-footer" data-bind="text: invite_hints"></div>
        </div>
        <!-- ko ifnot: show_invite_form_only() -->
          <div class="invite-bubble-button" data-bind="click: click_on_import_form, l10n_text: z.string.people_share" data-uie-name="go-import-form"></div>
        <!-- /ko -->
      <!-- /ko -->
      <!-- ko ifnot: show_invite_form() -->
        <div class="invite-bubble-link">
          <div class="invite-content">
            <h1 class="invite-header" data-bind="l10n_text: z.string.people_invite_headline"></h1>
            <!-- ko if: window.zAddressBook -->
              <div class="start-ui-import-buttons" data-bind="click: click_on_contacts_import" data-uie-name="do-contacts-import">
                <div class="start-ui-import-buttons-icon icon-contacts"></div>
                <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_contacts"></span>
              </div>
            <!-- /ko -->
            <div class="start-ui-import-buttons" data-bind="click: click_on_gmail_import" data-uie-name="do-google-import">
              <svg class="start-ui-import-buttons-icon">
                <use xlink:href="#icon-gmail"></use>
              </svg>
              <span class="label-bold-xs" data-bind="l10n_text: z.string.people_invite_button_gmail"></span>
            </div>
            <div class="start-ui-import-detail" data-bind="l10n_text: z.string.people_invite_detail"></div>
          </div>
        </div>
        <div class="invite-bubble-button" data-bind="click: click_on_invite_form, l10n_text: z.string.people_invite" data-uie-name="go-invite-form"></div>
      <!-- /ko -->
    </div>
  </div>

</div>
