<div id="takeover" class="takeover" data-bind="with: $root.takeover">
  <div class="takeover-names">
    <span class="takeover-names-name" data-bind="text: name" data-uie-name="takeover-name"></span>
    <span class="takeover-names-username label-username" data-bind="text: username" data-uie-name="takeover-username"></span>
  </div>
  <div class="takeover-actions">
    <span class="takeover-actions-sub" data-bind="l10n_text: z.string.takeoverSub"></span>
    <a class="takeover-actions-link text-white" data-bind="attr: {href: supportUsernameUrl}, l10n_text: z.string.takeoverLink" rel="nofollow noopener noreferrer" target="_blank"></a>
    <button class="button button-fluid" data-bind="click: chooseUsername, l10n_text: z.string.takeoverButtonChoose" data-uie-name="do-takeover-choose"></button>
    <button class="button button-fluid button-inverted text-white" data-bind="click: keepUsername, l10n_text: z.string.takeoverButtonKeep" data-uie-name="do-takeover-keep"></button>
  </div>
</div>
