<div id="takeover" class="takeover">
  <div class="takeover-names">
    <span class="takeover-names-name" data-uie-name="takeover-name">Rene Herrmann Dos Santos Vega</span>
    <span class="takeover-names-username" data-uie-name="takeover-username">@reneherrmanndossa1234</span>
  </div>
  <div class="takeover-actions">
    <span class="takeover-actions-head">Your username on Wire</span>
    <span class="takeover-actions-sub">People can use this to find you more easily</span>
    <button class="button button-fluid" data-uie-name="do-takeover-choose">Choose your own</button>
    <button class="button button-fluid button-inverted text-white" data-uie-name="do-takeover-keep">Keep this one</button>
  </div>
</div>
