<div id="history-export" data-bind="with: $root.historyExport">
  <!-- ko if: isPreparing -->
    <loading-bar params="progress: loadingProgress, message: loadingMessage"></loading-bar>
  <!-- /ko -->
  <!-- ko if: isExporting -->
    <loading-bar params="progress: loadingProgress, message: loadingMessage" class="with-cancel"></loading-bar>
    <div class="cancel-button text-theme" data-bind="click: onCancel, text: t('backupCancel')" data-uie-name="do-cancel-history-export"></div>
  <!-- /ko -->
  <!-- ko if: isDone -->
    <div class="history-message">
      <div class="history-message__headline" data-bind="text: t('backupExportSuccessHeadline')" data-uie-name="status-history-export-success-headline"></div>
      <div class="history-message__info" data-bind="text: t('backupExportSuccessSecondary')" data-uie-name="status-history-export-success-info"></div>
      <div class="history-message__buttons">
        <button class="button" data-bind="click: downloadArchiveFile, text: t('backupExportSaveFileAction')" data-uie-name="do-save-history-export"></button>
      </div>
    </div>
    <div class="cancel-button text-theme" data-bind="click: dismissExport, text: t('backupCancel')" data-uie-name="do-cancel-history-export"></div>
  <!-- /ko -->
  <!-- ko if: hasError -->
    <div class="history-message" data-uie-name="status-history-export-error">
      <div class="history-message__headline" data-bind="text: t('backupExportGenericErrorHeadline')" data-uie-name="status-history-export-error-headline"></div>
      <div class="history-message__info" data-bind="text: t('backupExportGenericErrorSecondary')" data-uie-name="status-history-export-error-info"></div>
      <div class="history-message__buttons">
        <button class="button button-inverted" data-bind="text: t('backupTryAgain'), click: onTryAgain" data-uie-name="do-try-again-history-export-error"></button>
        <button class="button" data-bind="text: t('backupCancel'), click: dismissExport" data-uie-name="do-dismiss-history-export-error"></button>
      </div>
    </div>
  <!-- /ko -->
</div>
