<div id="history-import" data-bind="with: $root.historyImport">
  <!-- ko if: isPreparing -->
    <loading-bar params="progress: loadingProgress, message: loadingMessage"></loading-bar>
  <!-- /ko -->
  <!-- ko if: isImporting -->
    <loading-bar params="progress: loadingProgress, message: loadingMessage" class="with-cancel"></loading-bar>
    <div class="cancel-button text-theme" data-bind="click: onCancel, text: t('backupCancel')" data-uie-name="do-cancel-history-import"></div>
  <!-- /ko -->
  <!-- ko if: isDone -->
    <div class="history-message">
      <check-icon></check-icon>
      <div class="history-message__headline" data-bind="text: t('backupImportSuccessHeadline')" data-uie-name="status-history-import-success"></div>
    </div>
  <!-- /ko -->
  <!-- ko if: error -->
    <div class="history-message">
      <div class="history-message__headline" data-bind="text: errorHeadline" data-uie-name="status-history-import-error-headline"></div>
      <div class="history-message__info" data-bind="text: errorSecondary" data-uie-name="status-history-import-error-info"></div>
      <div class="history-message__buttons">
        <button class="button" data-bind="text: t('backupCancel'), click: dismissImport" data-uie-name="do-dismiss-history-import-error"></button>
      </div>
    </div>
  <!-- /ko -->
</div>
