<div id="preferences-av" class="preferences-page preferences-av" data-bind="with: $root.preferencesAV">
  <div class="preferences-titlebar" data-bind="text: t('preferencesAV')"></div>
  <div class="preferences-content" data-bind="fadingscrollbar">

    <!-- ko if: deviceSupport.audioInput() -->
      <section class="preferences-section">
        <header class="preferences-header preferences-av-header" data-bind="text: t('preferencesAVMicrophone')"></header>
        <!-- ko if: !hasAudioTrack() && !isRequestingAudio() -->
          <div class="preferences-av-detail">
            <a rel="nofollow noopener noreferrer" target="_blank" data-bind="text: t('preferencesAVPermissionDetail'), attr: {href: Config.URL.SUPPORT.DEVICE_ACCESS_DENIED}"></a>
          </div>
        <!-- /ko -->
        <div class="preferences-option" data-bind="css: {'preferences-av-select-disabled': hasNoneOrOneAudioInput() || isRequestingAudio()}">
          <div class="preferences-option-icon preferences-av-select-icon">
            <mic-on-icon></mic-on-icon>
          </div>
          <div class="input-select">
            <select class="preferences-av-select" name="select"
                    data-bind="attr: {'disabled': hasNoneOrOneAudioInput() || isRequestingAudio()},
                               css: {'preferences-av-select-disabled': hasNoneOrOneAudioInput() || isRequestingAudio()},
                               options: availableDevices.audioInput,
                               optionsText: function(item) {return item.label || z.string.preferencesAVMicrophone},
                               optionsValue: 'deviceId',
                               value: currentDeviceId.audioInput"
                    data-uie-name="enter-microphone">
            </select>
            <label class="icon-down preferences-av-label" data-bind="visible: !hasNoneOrOneAudioInput()"></label>
          </div>
        </div>
        <!-- ko if: isRequestingAudio() -->
          <div class="preferences-av-spinner">
            <div class="icon-spinner spin accent-text"></div>
          </div>
        <!-- /ko -->
        <!-- ko if: !isRequestingAudio() -->
          <input-level class="preferences-av-meter accent-text" params="level: audioLevel, disabled: !hasAudioTrack()"></input-level>
        <!-- /ko -->
      </section>
    <!-- /ko -->

    <!-- ko if: deviceSupport.audioOutput() -->
      <section class="preferences-section">
        <header class="preferences-header preferences-av-header" data-bind="text: t('preferencesAVSpeakers')"></header>
        <div class="preferences-option">
          <div class="preferences-option-icon preferences-av-select-icon">
            <div class="icon-speaker"></div>
          </div>
          <div class="input-select">
            <select class="preferences-av-select" name="select"
                    data-bind="enabled: availableDevices.audioOutput().length >= 2,
                               options: availableDevices.audioOutput,
                               optionsText: function(item) {return item.label || z.string.preferencesAVSpeakers},
                               optionsValue: 'deviceId',
                               value: currentDeviceId.audioOutput"
                    data-uie-name="enter-speaker">
            </select>
            <label class="icon-down preferences-av-label" data-bind="visible: availableDevices.audioOutput().length >= 2"></label>
          </div>
        </div>
      </section>
    <!-- /ko -->

    <!-- ko if: deviceSupport.videoInput() -->
      <section class="preferences-section">
        <header class="preferences-header preferences-av-header" data-bind="text: t('preferencesAVCamera')"></header>
        <!-- ko if: !hasVideoTrack() && !isRequestingVideo() -->
          <div class="preferences-av-detail">
            <a rel="nofollow noopener noreferrer" target="_blank" data-bind="text: t('preferencesAVPermissionDetail'), attr: {href: Config.URL.SUPPORT.DEVICE_ACCESS_DENIED}"></a>
          </div>
        <!-- /ko -->
        <div class="preferences-option" data-bind="css: {'preferences-av-select-disabled': hasNoneOrOneVideoInput() || isRequestingVideo()}">
          <div class="preferences-option-icon preferences-av-select-icon">
            <camera-icon></camera-icon>
          </div>
          <div class="input-select">
            <select class="preferences-av-select" name="select"
                    data-bind="attr: {'disabled': hasNoneOrOneVideoInput() || isRequestingVideo()},
                               css: {'preferences-av-select-disabled': hasNoneOrOneVideoInput() || isRequestingVideo()},
                               options: availableDevices.videoInput,
                               optionsText: function(item) {return item.label || z.string.preferencesAVCamera},
                               optionsValue: 'deviceId',
                               value: currentDeviceId.videoInput"
                    data-uie-name="enter-camera">
            </select>
            <label class="icon-down preferences-av-label" data-bind="visible: !hasNoneOrOneVideoInput()"></label>
          </div>
        </div>

        <!-- ko if: isRequestingVideo() -->
          <div class="preferences-av-video-disabled">
            <div class="icon-spinner spin accent-text"></div>
          </div>
        <!-- /ko -->

        <!-- ko if: !isRequestingVideo() -->
          <!-- ko if: hasVideoTrack() -->
            <video class="preferences-av-video mirror"
                   autoplay
                   playsinline
                   data-bind="muteMediaElement: mediaStream(), sourceStream: mediaStream()">
            </video>
          <!-- /ko -->
          <!-- ko if: !hasVideoTrack() -->
            <div class="preferences-av-video-disabled">
              <div class="preferences-av-video-disabled__info" data-bind="html: t('preferencesAVNoCamera', brandName, {'faqLink': '<a href=\'https://support.wire.com/hc/articles/202935412\' data-uie-name=\'go-no-camera-faq\' target=\'_blank\' rel=\'noopener noreferrer\'>', '/faqLink': '</a>', 'br': '<br>'})"></div>
              <div class="preferences-av-video-disabled__try-again" data-bind="click: updateMediaStreamVideoTrack, text: z.string.preferencesAVTryAgain" data-uie-name="do-try-again-preferences-av"></div>
            </div>
          <!-- /ko -->
        <!-- /ko -->
      </section>
    <!-- /ko -->

    <section class="preferences-section">
      <header class="preferences-header" data-bind="text: t('preferencesOptionsCall')"></header>
      <div class="preferences-option">
        <div class="preferences-option-icon checkbox accent-text" data-bind="attr: {'data-uie-value': optionVbrEncoding}" data-uie-name="status-preference-vbr-encoding">
          <input type="checkbox" id="vbr-encoding-checkbox" data-bind="checked: optionVbrEncoding">
          <label class="preferences-options-checkbox-label" for="vbr-encoding-checkbox" data-bind="text: t('preferencesOptionsEnableVbrCheckbox')"></label>
        </div>
      </div>
      <div class="preferences-detail" data-bind="text: t('preferencesOptionsEnableVbrDetails')"></div>
    </section>

    <!-- ko if: callingRepository.supportsCalling -->
      <section class="preferences-section">
        <header class="preferences-header" data-bind="text: t('preferencesOptionsCallLogs')"></header>
        <div class="preferences-option">
          <div class="preferences-link accent-text" data-bind="click: saveCallLogs, text: t('preferencesOptionsCallLogsGet')" data-uie-name="get-call-logs"></div>
        </div>
        <div class="preferences-detail" data-bind="text: t('preferencesOptionsCallLogsDetail', brandName)"></div>
      </section>
    <!-- /ko -->
  </div>
</div>
