<div id="preferences-options" class="preferences-page preferences-options" data-bind="with: $root.preferencesOptions">
  <div class="preferences-titlebar" data-bind="text: t('preferencesOptions')"></div>
  <div class="preferences-content" data-bind="fadingscrollbar">

    <section class="preferences-section">
      <header class="preferences-header" data-bind="text: t('preferencesOptionsAudio')"></header>
      <div class="preferences-option">
        <div class="preferences-options-radio">
          <input type="radio" id="preferences-options-audio-all" name="preferences-options-audio" value="all" data-bind="checked: optionAudio">
          <label for="preferences-options-audio-all">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsAudioAll')"></span>
            <span class="preferences-hint" data-bind="visible: optionAudio() === AudioPreference.ALL"> · <span data-bind="text: t('preferencesOptionsAudioAllDetail')"></span></span>
          </label>
          <input type="radio" id="preferences-options-audio-some" name="preferences-options-audio" value="some" data-bind="checked: optionAudio">
          <label for="preferences-options-audio-some">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsAudioSome')"></span>
            <span class="preferences-hint" data-bind="visible: optionAudio() === AudioPreference.SOME"> · <span data-bind="text: t('preferencesOptionsAudioSomeDetail')"></span></span>
          </label>
          <input type="radio" id="preferences-options-audio-none" name="preferences-options-audio" value="none" data-bind="checked: optionAudio">
          <label for="preferences-options-audio-none">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsAudioNone')"></span>
            <span class="preferences-hint" data-bind="visible: optionAudio() === AudioPreference.NONE"> · <span data-bind="text: t('preferencesOptionsAudioNoneDetail')"></span></span>
          </label>
        </div>
      </div>
    </section>

    <!-- ko if: isActivatedAccount()-->
      <section class="preferences-section">
        <header class="preferences-header" data-bind="text: t('preferencesOptionsNotifications')"></header>
        <div class="preferences-options-radio">
          <input type="radio" id="preferences-options-notification-on" name="preferences-options-notification" value="on" data-bind="checked: optionNotifications">
          <label class="accent-text" for="preferences-options-notification-on">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsNotificationsOn')"></span>
          </label>
          <input type="radio" id="preferences-options-notification-obfuscate-message" name="preferences-options-notification" value="obfuscate-message" data-bind="checked: optionNotifications">
          <label class="accent-text" for="preferences-options-notification-obfuscate-message">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsNotificationsObfuscateMessage')"></span>
          </label>
          <input type="radio" id="preferences-options-notification-obfuscate" name="preferences-options-notification" value="obfuscate" data-bind="checked: optionNotifications">
          <label class="accent-text" for="preferences-options-notification-obfuscate">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsNotificationsObfuscate')"></span>
          </label>
          <input type="radio" id="preferences-options-notification-none" name="preferences-options-notification" value="none" data-bind="checked: optionNotifications">
          <label class="accent-text" for="preferences-options-notification-none">
            <span class="preferences-label" data-bind="text: t('preferencesOptionsNotificationsNone')"></span>
          </label>
        </div>
      </section>

      <section class="preferences-section">
        <header class="preferences-header" data-bind="text: t('preferencesOptionsPopular')"></header>
        <div class="preferences-option">
          <div class="preferences-option-icon checkbox accent-text" data-bind="attr: {'data-uie-value': optionDarkMode}" data-uie-name="status-preference-use-dark-mode">
            <input type="checkbox" id="use-dark-mode-checkbox" data-bind="checked: optionDarkMode">
            <label class="preferences-options-checkbox-label" for="use-dark-mode-checkbox" data-bind="text: t('preferencesOptionsUseDarkMode')"></label>
          </div>
        </div>
        <div class="preferences-option">
          <div class="preferences-option-icon checkbox accent-text" data-bind="attr: {'data-uie-value': optionReplaceInlineEmoji}" data-uie-name="status-preference-emoji-replace">
            <input type="checkbox" id="replace-inline-emoji-checkbox" data-bind="checked: optionReplaceInlineEmoji">
            <label class="preferences-options-checkbox-label" for="replace-inline-emoji-checkbox" data-bind="text: t('preferencesOptionsEmojiReplaceCheckbox')"></label>
          </div>
        </div>
        <div class="preferences-detail preferences-detail-emoji" data-bind="html: t('preferencesOptionsEmojiReplaceDetail', {}, {'icon': '<span class=\'font-size-xs icon-emoji\'></span>'})"></div>
        <div class="preferences-option preferences-options-multiple">
          <div class="preferences-option-icon checkbox accent-text" data-bind="attr: {'data-uie-value': optionSendPreviews}" data-uie-name="status-preference-previews-send">
            <input type="checkbox" id="send-preview-checkbox" data-bind="checked: optionSendPreviews">
            <label class="preferences-options-checkbox-label" for="send-preview-checkbox" data-bind="text: t('preferencesOptionsPreviewsSendCheckbox')"></label>
          </div>
        </div>
        <div class="preferences-detail" data-bind="text: t('preferencesOptionsPreviewsSendDetail')"></div>
      </section>
    <!-- /ko -->

  </div>
</div>
