<div id="preferences-device-details" class="preferences-page preferences-device-details" data-bind="with: $root.preferencesDeviceDetails" data-uie-name="preferences-devices-details">
  <div class="preferences-titlebar" data-bind="text: t('preferencesDeviceDetails')"></div>
  <div class="preferences-content" data-bind="fadingscrollbar">
    <section class="preferences-section">
      <header class="preferences-devices-details">
        <div class="preferences-devices-icon icon-back" data-bind="click: clickOnDetailsClose" data-uie-name="go-back"></div>
        <span data-bind="text: t('preferencesDevices')"></span>
      </header>
      <div class="preferences-devices-model" data-bind="text: device().getName()" data-uie-name="device-model"></div>
      <div class="preferences-devices-id">
        <span data-bind="text: t('preferencesDevicesId')"></span>
        <span data-bind="foreach: device().formatId()" data-uie-name="device-id"><span class="device-id-part" data-bind="text: $data"></span></span>
      </div>
      <div class="preferences-devices-activated">
        <div data-bind="html: activationDate()"></div>
      </div>
      <div class="preferences-devices-fingerprint-label" data-bind="text: t('preferencesDevicesFingerprint')"></div>
      <div class="preferences-devices-fingerprint" data-bind="foreach: fingerprint()"><span class="device-id-part" data-bind="text: $data"></span></div>
      <div class="preferences-devices-verification slider">
        <input class="slider-input" type="checkbox" name="preferences_device_verification_toggle" id="preferences_device_verification" data-bind="checked: device().meta.isVerified">
        <label class="button-label" for="preferences_device_verification" data-bind="click: toggleDeviceVerification, text: t('preferencesDevicesVerification')" data-uie-name="do-verify"></label>
      </div>
      <div class="preferences-detail" data-bind="text: t('preferencesDevicesFingerprintDetail', brandName)"></div>
    </section>

    <section class="preferences-section">
      <header class="preferences-header"><hr class="preferences-separator"></header>
    </section>

    <section class="preferences-section">
      <div class="preferences-info" data-bind="text: t('preferencesDevicesSessionDetail')"></div>
      <div class="preferences-devices-session" data-uie-name="preferences-device-details-session">
        <!-- ko if: sessionResetState() === SessionResetState.RESET -->
          <button class="preferences-button button button-small button-fluid" data-bind="click: clickOnResetSession, text: t('preferencesDevicesSessionReset')" data-uie-name="do-session-reset"></button>
        <!-- /ko -->
        <!-- ko if: sessionResetState() === SessionResetState.ONGOING -->
          <div class="preferences-devices-session-reset" data-bind="text: t('preferencesDevicesSessionOngoing')"></div>
        <!-- /ko -->
        <!-- ko if: sessionResetState() === SessionResetState.CONFIRMATION -->
          <div class="preferences-devices-session-confirmation accent-text" data-bind="text: t('preferencesDevicesSessionConfirmation')"></div>
        <!-- /ko -->
      </div>
    </section>
    <!-- ko ifnot: device().isLegalHold() -->
      <section class="preferences-section">
        <div class="preferences-info" data-bind="text: t('preferencesDevicesRemoveDetail')"></div>
        <button class="preferences-button button button-small button-fluid" data-bind="click: clickOnRemoveDevice, text: t('preferencesDevicesRemove')" data-uie-name="go-remove-device"></button>
      </section>
    <!-- /ko -->
  </div>
</div>
