<table class="user-avatars">
  <thead>
    <tr>
      <th></th>
      <th>xl</th>
      <th>lg</th>
      <th>md</th>
      <th>sm</th>
      <th>xs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Initials</td>
      <td>
        <user-avatar class="user-avatar-xl">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">J</div>
            <div class="user-avatar-image"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr class="user-avatars-image">
      <td>Image</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr>
      <td>Selected</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 selected" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 selected" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 selected" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 selected" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 selected" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr>
      <td>Pending</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 pending" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-pending" data-bind="visible: state() === 'pending'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 pending" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-pending" data-bind="visible: state() === 'pending'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 pending" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img></div>
            <div class="user-avatar-badge icon-check" data-bind="visible: state() === 'selected'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 pending" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-check" data-bind="visible: state() === 'selected'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 pending" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-check" data-bind="visible: state() === 'selected'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr>
      <td>Blocked</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 blocked" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-block" data-bind="visible: state() === 'blocked'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 blocked" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-block" data-bind="visible: state() === 'blocked'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 blocked" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-block" data-bind="visible: state() === 'blocked'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 blocked" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-block" data-bind="visible: state() === 'blocked'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 blocked" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-block" data-bind="visible: state() === 'blocked'"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr>
      <td>Camera</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 camera" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-camera"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 camera" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-camera"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 camera" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-camera"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 camera" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-camera"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 camera" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge icon-camera"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
    <tr>
      <td>Unknown</td>
      <td>
        <user-avatar class="user-avatar-xl user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 unknown" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-lg user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 unknown" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-md user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 unknown" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-sm user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 unknown" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
      <td>
        <user-avatar class="user-avatar-xs user-avatar-image-loaded">
          <div class="user-avatar accent-color-1 unknown" data-bind="css: css_classes(), click: on_click">
            <div class="user-avatar-background"></div>
            <div class="user-avatar-initials">JD</div>
            <div class="user-avatar-image"><img/></div>
            <div class="user-avatar-badge"></div>
            <div class="user-avatar-border"></div>
          </div>
        </user-avatar>
      </td>
    </tr>
  </tbody>
</table>
