<h2>Normal</h2>
<div class="button">Button</div>
<div class="button button-inverted">Inverted</div>
<div class="button button-disabled">Disabled</div>
<div class="button button-white">White</div>
<div class="button button-outline">Outline</div>
<h2>Small</h2>
<div class="button button-small">Button</div>
<div class="button button-small button-inverted">Inverted</div>
<div class="button button-small button-disabled">Disabled</div>
<div class="button button-small button-white">White</div>
<div class="button button-small button-outline button-fluid">Outline</div>
<h2>Icon</h2>
<div class="button-icon icon-envelope">
  <span>Import</span>
</div>
<br><br>
<div class="button-icon">
  <div class="box-round icon-contacts"></div>
  <span>Import macOS Contacts</span>
</div>
<h2>Round</h2>
<h3>button-round-text</h3>
<ul class="box-list clear">
  <li>
    <div class="button-round button-round-text">gif</div>
  </li>
  <li>
    <div class="button-round button-round-text disabled">gif</div>
  </li>
  <li>
    <div class="button-round button-round-text toggled">gif</div>
  </li>
</ul>
<h3>button-round-dark</h3>
<ul class="box-list box-list-dark clear">
  <li>
    <div class="button-round button-round-dark icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-dark disabled icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-dark toggled icon-people"></div>
  </li>
</ul>
<h3>button-round-theme</h3>
<ul class="box-list clear">
  <li>
    <div class="button-round button-round-theme icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-theme disabled icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-theme toggled icon-people"></div>
  </li>
</ul>
<h3>button-round-theme-green</h3>
<ul class="box-list clear">
  <li>
    <div class="button-round button-round-theme-green icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-theme-green disabled icon-people"></div>
  </li>
  <li>
    <div class="button-round button-round-theme-green toggled icon-people"></div>
  </li>
</ul>
