.user-modal {
  .enriched-fields {
    margin: 0 0 16px 0;
  }

  .loading-wrapper {
    display: flex;
    height: 448px;
    align-items: center;
    justify-content: center;
  }

  loading-icon {
    fill: currentColor;
  }

  &__wrapper {
    min-height: 0;
    transition: all 0.15s linear;

    &--max {
      min-height: 448px;
    }
  }

  .panel-participant {
    padding: 0 16px;
  }
}
