.user-modal {
  .enriched-fields {
    margin: 0 0 16px 0;
  }

  .loading-wrapper {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
  }

  loading-icon {
    fill: currentColor;
  }
}
