files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      fastcgi_buffers 16 32k;
      fastcgi_buffer_size 32k;
      large_client_header_buffers 4 32k;
      proxy_buffer_size 128k;
      proxy_buffers 4 256k;
      proxy_busy_buffers_size 256k;
      server_tokens off;
