#history-export,
#history-import {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: -@conversation-list-width;
  background-color: var(--app-bg);

  loading-bar {
    margin: auto;
    &.with-cancel {
      padding-top: 72px;
    }
  }

  .cancel-button {
    margin-bottom: 56px;
    cursor: pointer;
    font-size: 14px;
    font-weight: @font-weight-regular;
    line-height: 16px;
    user-select: none;
  }

  .history-message {
    margin: auto;
    text-align: center;

    check-icon {
      margin-bottom: 16px;

      svg {
        width: 32px;
        height: 32px;

        path {
          fill: @w-blue;
        }
      }
    }

    &__headline {
      font-size: 14px;
      font-weight: @font-weight-bold;
      line-height: 24px;
    }

    &__info {
      margin-top: 8px;
      font-size: 14px;
      font-weight: @font-weight-regular;
      line-height: 24px;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 32px;

      button + button {
        margin-left: 16px;
      }
    }
  }
}
