files:
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.httpd.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/httpd/* {
      maxsize 50M
      missingok
      notifempty
      maxage 3
      rotate 2
      daily
      sharedscripts
      compress
      dateext
      dateformat -%s
      create
      postrotate
        /sbin/service httpd reload > /dev/null 2>/dev/null || true
      endscript
      olddir /var/log/httpd/rotated
      }
