<div id="add-participants" class="add-participants panel__page" data-bind="with: $root.subViews[$root.STATE.ADD_PARTICIPANTS]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: onGoBack" data-uie-name="go-back-add-participants"></arrow-left-icon>
      <div class="panel__header__title" data-bind="text: headerText" data-uie-name="status-people-selected"></div>
      <close-icon class="icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>
    <div class="panel__content panel__content--fill">
      <user-input class="user-list-light" params="input: searchInput, selected: selectedContacts, placeholder: t('addParticipantsSearchPlaceholder'), focusDelay: MotionDuration.LONG" spellcheck="false"></user-input>
      <!-- ko if: showIntegrations() -->
        <div class="panel__tabs">
          <div class="panel__tab" data-bind="css: {'panel__tab--active': isStateAddPeople}, click: clickOnAddPeople, text: t('addParticipantsTabsPeople')" data-uie-name="do-add-people"></div>
          <div class="panel__tab" data-bind="css: {'panel__tab--active': isStateAddService}, click: clickOnAddService, text: t('addParticipantsTabsServices')" data-uie-name="do-add-services"></div>
        </div>
      <!-- /ko -->

      <div class="add-participants__list panel__content" data-bind="fadingscrollbar">
        <!-- ko if: isStateAddPeople() -->
          <user-list class="user-list-light" params="user: contacts, filter: searchInput, selected: selectedContacts, searchRepository: searchRepository, teamRepository: teamRepository, conversationRepository: conversationRepository"></user-list>
        <!-- /ko -->
        <!-- ko if: isStateAddService() -->
          <!-- ko if: services().length -->
            <!-- ko if: z.userPermission().canManageServices() && !!manageServicesUrl -->
              <ul class="panel-manage-services left-list-items">
                <li class="left-list-item left-list-item-clickable" data-bind="click: clickOpenManageServices" data-uie-name="go-manage-services">
                  <service-icon class="left-column-icon left-column-icon-dark"></service-icon>
                  <div class="center-column" data-bind="text: t('addParticipantsManageServices')"></div>
                </li>
              </ul>
            <!-- /ko -->
            <service-list class="service-list-light" params="services: services, click: clickOnSelectService, isSearching: isSearching, noUnderline: true, arrow: true"></service-list>
          <!-- /ko -->
          <!-- ko if: !services().length && !isInitialServiceSearch() -->
            <div class="search__no-services">
              <service-icon class="search__no-services__icon"></service-icon>
              <!-- ko if: z.userPermission().canManageServices() && !!manageServicesUrl -->
                <div class="search__no-services__info" data-bind="text: t('addParticipantsNoServicesManager')" data-uie-name="label-no-services-enabled-manager"></div>
                <div class="search__no-services__manage-button search__no-services__manage-button--alternate" data-bind="text: t('addParticipantsManageServicesNoResults'), click: clickOpenManageServices" data-uie-name="go-enable-services"></div>
              <!-- /ko -->
              <!-- ko ifnot: z.userPermission().canManageServices() -->
                <div class="search__no-services__info" data-bind="text: t('addParticipantsNoServicesMember')" data-uie-name="label-no-services-enabled"></div>
              <!-- /ko -->
            </div>
          <!-- /ko -->
        <!-- /ko -->
      </div>
      <!-- ko if: isStateAddPeople() -->
        <div class="add-participants__footer">
          <button class="button button-full" data-bind="enable: enableAddAction, click: clickToAddParticipants" data-uie-name="do-create">
            <span data-bind="text: t('addParticipantsConfirmLabel')"></span>
          </button>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->
</div>
