<div id="group-participant-user" class="panel__page group-participant" data-bind="with: $root.subViews[$root.STATE.GROUP_PARTICIPANT_USER]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: onGoBack" data-uie-name="go-back-group-participant"></arrow-left-icon>
      <close-icon class="icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>
    <div class="panel__content" data-bind="fadingscrollbar">
      <!-- ko if: selectedParticipant() -->
        <panel-user-details params="participant: selectedParticipant, badge: teamRepository.getRoleBadge(selectedParticipant().id), isGroupAdmin: isAdmin, isSelfVerified: isSelfVerified"></panel-user-details>
      <!-- /ko -->
      <!-- ko if: showActionDevices(selectedParticipant()) -->
        <div class="panel__action-item conversation-details__devices" data-bind="click: clickOnDevices" data-uie-name="go-devices">
          <devices-icon class="panel__action-item__icon"></devices-icon>
          <div class="panel__action-item__text" data-bind="text: t('conversationDetailsActionDevices')"></div>
          <disclose-icon></disclose-icon>
        </div>
      <!-- /ko -->
      <!-- ko if: canChangeRole() -->
        <div class="panel__action-item conversation-details__admin" data-uie-name="toggle-admin">
          <group-admin-icon class="panel__action-item__icon"></group-admin-icon>
          <div class="panel__action-item__text" data-bind="text: t('conversationDetailsGroupAdmin')"></div>
          <div class="slider">
            <input class="slider-input" type="checkbox" name="toggle" id="toggle" data-bind="checked: isAdmin">
            <label class="button-label" for="toggle" data-bind="click: onToggleAdmin, attr: {'data-uie-value': isAdmin() ? 'checked': 'unchecked'}" data-uie-name="do-toggle-admin" ></label>
          </div>
        </div>
        <div class="panel__action-item panel__info-text" data-bind="text: t('conversationDetailsGroupAdminInfo')"></div>
      <!-- /ko -->
      <enriched-fields params="user: selectedParticipant"></enriched-fields>
      <user-actions params="user: selectedParticipant, conversation: activeConversation, actionsViewModel: actionsViewModel, onAction: onUserAction, isSelfActivated: isActivatedAccount(), conversationRoleRepository: conversationRoleRepository"></user-actions>
    </div>
  <!-- /ko -->
</div>
