<div id="guest-options" class="panel__page guest-options" data-bind="with: $root.subViews[$root.STATE.GUEST_OPTIONS]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <button type="button" class="icon-button" 
        data-bind="clickOrDrag: onGoBack, title: t('accessibility.rightPanel.GoBack'), 'aria-label': t('accessibility.rightPanel.GoBack')"
        data-uie-name="go-back-guest-options"
      >
        <arrow-left-icon aria-hidden="true"></arrow-left-icon>
      </button>
      <h3 class="panel__header__title" data-bind="text: t('guestOptionsTitle')"></h3>
      <button class="right-panel-close icon-button" type="button" data-bind="clickOrDrag: onClose, attr: { title: t('accessibility.rightPanel.close'), 'aria-label': t('accessibility.rightPanel.close')}"
      data-uie-name="do-close">
        <close-icon aria-hidden="true"></close-icon>
      </button>
    </div>
    <div class="panel__content" data-bind="fadingscrollbar">
      <div class="guest-options__content">
        <base-toggle params="isChecked: isGuestEnabled(), setIsChecked: toggleGuestAccessState, isDisabled: requestOngoing, toggleName: t('guestRoomToggleName')"></base-toggle>
        <p class="guest-options__info-head" data-bind="text: t('guestRoomToggleInfoHead')"></p>
        <p class="guest-options__info-text" data-uie-name="status-guest-options-info" data-bind="text: showLinkOptions() ? t('guestOptionsInfoText', brandName) : t('guestRoomToggleInfo') "></p>
      </div>
      <!-- ko if: showLinkOptions() -->
        <!-- ko if: isGuestLinkEnabled() -->
          <!-- ko if: hasAccessCode() -->
            <copy-to-clipboard class="guest-options__link" params="text: activeConversation().accessCode" data-uie-name="status-invite-link"></copy-to-clipboard>
            <button class="panel__action-item panel__action-item--link panel__action-item--alternate" type="button" data-bind="click: copyLink, css: {'panel__action-item--show-alternative': isLinkCopied}" data-uie-name="do-copy-link">
              <span class="panel__action-item__default">
                <copy-icon class="panel__action-item__icon" aria-hidden="true"></copy-icon>
                <span class="panel__action-item__text" data-bind="text: t('guestOptionsCopyLink')"></span>
              </span>
              <span class="panel__action-item__alternative">
                <check-icon class="panel__action-item__icon" aria-hidden="true"></check-icon>
                <span class="panel__action-item__text" data-bind="text: t('guestOptionsCopyLinkDone')" data-uie-name="status-copy-link-done"></span>
              </span>
            </button>
            <button class="panel__action-item panel__action-item--link" type="button" data-bind="click: revokeAccessCode, css:{'disabled': requestOngoing}">
              <close-icon class="panel__action-item__icon" aria-hidden="true"></close-icon>
              <span class="panel__action-item__text" data-bind="text: t('guestOptionsRevokeLink')" data-uie-name="do-revoke-link"></span>
            </button>
          <!-- /ko -->

          <!-- ko ifnot: hasAccessCode() -->
            <button class="panel__action-item panel__action-item--link" type="button" data-bind="click: requestAccessCode, css:{'disabled': requestOngoing}">
              <link-icon class="panel__action-item__icon" aria-hidden="true"></link-icon>
              <span class="panel__action-item__text" data-bind="text: t('guestOptionsCreateLink')" data-uie-name="do-create-link"></span>
            </button>
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isGuestLinkEnabled() -->
          <div class="panel__action-item--info">
            <info-icon class="panel__action-item__icon--info" aria-hidden="true"></info-icon>
            <p class="panel__action-item__text--info" data-bind="text: guestLinkDisabledInfo" data-uie-name="guest-link-disabled-info"></p>
          </div>
        <!-- /ko -->
      <!-- /ko -->
    </div>
  <!-- /ko -->
</div>