<div id="guest-options" class="panel__page guest-options" data-bind="with: $root.subViews[$root.STATE.GUEST_OPTIONS]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: onGoBack" data-uie-name="go-back-guest-options"></arrow-left-icon>
      <div class="panel__header__title" data-bind="text: t('guestOptionsTitle')"></div>
      <close-icon class="right-panel-close icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>
    <div class="panel__content" data-bind="fadingscrollbar">
      <div class="guest-options__content">
        <guest-mode-toggle params="isChecked: isGuestEnabled(), onToggle: toggleAccessState, isDisabled: requestOngoing"></guest-mode-toggle>
      </div>
      <!-- ko if: showLinkOptions() -->
        <div class="guest-options__info panel__info-text">
          <div class="guest-options__info__head" data-bind="text: t('guestOptionsInfoHeader')"></div>
          <div data-bind="text: t('guestOptionsInfoText', brandName)" data-uie-name="status-guest-options-info"></div>
        </div>
        <!-- ko if: hasAccessCode() -->
          <copy-to-clipboard class="guest-options__link" params="text: activeConversation().accessCode" data-uie-name="status-invite-link"></copy-to-clipboard>
          <div class="panel__action-item panel__action-item--alternate" data-bind="click: copyLink, css: {'panel__action-item--show-alternative': isLinkCopied}" data-uie-name="do-copy-link">
            <div class="panel__action-item__default">
              <copy-icon class="panel__action-item__icon"></copy-icon>
              <div class="panel__action-item__text" data-bind="text: t('guestOptionsCopyLink')"></div>
            </div>
            <div class="panel__action-item__alternative">
              <check-icon class="panel__action-item__icon"></check-icon>
              <div class="panel__action-item__text" data-bind="text: t('guestOptionsCopyLinkDone')" data-uie-name="status-copy-link-done"></div>
            </div>
          </div>
          <div class="panel__action-item" data-bind="click: revokeAccessCode, css:{'disabled': requestOngoing}">
            <close-icon class="panel__action-item__icon"></close-icon>
            <div class="panel__action-item__text" data-bind="text: t('guestOptionsRevokeLink')" data-uie-name="do-revoke-link"></div>
          </div>
        <!-- /ko -->

        <!-- ko ifnot: hasAccessCode() -->
          <div class="panel__action-item" data-bind="click: requestAccessCode, css:{'disabled': requestOngoing}">
            <link-icon class="panel__action-item__icon"></link-icon>
            <div class="panel__action-item__text" data-bind="text: t('guestOptionsCreateLink')" data-uie-name="do-create-link"></div>
          </div>
        <!-- /ko -->
      <!-- /ko -->
    </div>
  <!-- /ko -->
</div>
