<div
  id="message-details"
  class="panel__page message-details"
  data-bind="with: $root.subViews[$root.STATE.MESSAGE_DETAILS]"
>
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <div class="panel__header__title" data-bind="text: panelTitle()" data-uie-name="message-details-title"></div>
      <close-icon
        class="right-panel-close icon-button"
        data-bind="clickOrDrag: onClose"
        data-uie-name="do-close"
      ></close-icon>
    </div>
    <!-- ko if: showTabs() -->
      <div class="panel__tabs">
        <div
          class="panel__tab"
          data-bind="css: {'panel__tab--active': isReceiptsOpen()}, click: clickOnReceipts, text: receiptsTitle()"
          data-uie-name="message-details-read-tab"
          ></div>
        <div
          class="panel__tab"
          data-bind="css: {'panel__tab--active': !isReceiptsOpen()}, click: clickOnLikes, text: likesTitle()"
          data-uie-name="message-details-like-tab"
        ></div>
      </div>
    <!-- /ko -->
    <div class="panel__content" data-bind="fadingscrollbar" style="flex-grow: 1">
      <!-- ko if: state() === states.RECEIPTS -->
        <user-list class="user-list-light" params="user: receiptUsers, infos: receiptTimes, noUnderline: true, conversationRepository: conversationRepository, teamRepository: teamRepository" data-uie-name="read-list"></user-list>
      <!-- /ko -->
      <!-- ko if: state() === states.LIKES -->
        <user-list class="user-list-light" params="user: likeUsers, noUnderline: true, conversationRepository: conversationRepository, teamRepository: teamRepository" data-uie-name="like-list"></user-list>
      <!-- /ko -->
      <!-- ko if: state() === states.NO_RECEIPTS -->
        <div class="message-details__empty" data-uie-name="message-details-no-receipts-placeholder">
          <read-icon class="message-details__empty__icon"></read-icon>
          <div class="message-details__empty__text" data-bind="text: t('messageDetailsNoReceipts')"></div>
        </div>
      <!-- /ko -->
      <!-- ko if: state() === states.NO_LIKES -->
        <div class="message-details__empty" data-uie-name="message-details-no-likes-placeholder">
          <like-icon class="message-details__empty__icon"></like-icon>
          <div class="message-details__empty__text" data-bind="text: t('messageDetailsNoLikes')"></div>
        </div>
      <!-- /ko -->
      <!-- ko if: state() === states.RECEIPTS_OFF -->
        <div class="message-details__empty" data-uie-name="message-details-receipts-off-placeholder">
          <read-icon class="message-details__empty__icon"></read-icon>
          <div class="message-details__empty__text" data-bind="text: t('messageDetailsReceiptsOff')"></div>
        </div>
      <!-- /ko -->
    </div>
    <div class="panel__footer">
      <div
        class="panel__footer__info"
        data-bind="text: t('messageDetailsSent', sentFooter())"
        data-uie-name="status-message-details-sent"
      ></div>
      <!-- ko if: editedFooter() -->
        <div
          class="panel__footer__info"
          data-bind="text: t('messageDetailsEdited', editedFooter())"
          data-uie-name="status-message-details-edited"
        ></div>
      <!-- /ko -->
    </div>
  <!-- /ko -->
</div>
