<div id="notification-settings" class="panel__page notification-settings" data-bind="with: $root.subViews[$root.STATE.NOTIFICATIONS]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: onGoBack" data-uie-name="go-back-notification-options"></arrow-left-icon>
      <div class="panel__header__title" data-bind="text: t('notificationSettingsTitle')"></div>
      <close-icon class="right-panel-close icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>
    <div class="panel__content" data-bind="fadingscrollbar">
      <!-- ko foreach: {data: settings} -->
        <label class="panel__action-item panel__action-item__option" data-uie-name="item-notification-option">
          <input type="radio" name="notification-settings" data-bind="checked: $parent.currentNotificationSetting, value: value, event: {change: $parent.notificationChanged}"/>
          <span data-bind="text: text"></span>
        </label>
      <!-- /ko -->
      <div class="panel__info-text notification-settings__disclaimer" data-bind="text: t('notificationSettingsDisclaimer')"></div>
    </div>
  <!-- /ko -->
</div>
