<div id="notification-settings" class="panel__page notification-settings" data-bind="with: $root.subViews[z.viewModel.PanelViewModel.STATE.NOTIFICATIONS]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: onGoBack" data-uie-name="go-back-notification-options"></arrow-left-icon>
      <div class="panel__header__title" data-bind="l10n_text: z.string.notificationSettingsTitle"></div>
      <close-icon class="right-panel-close icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>
    <div class="panel__content">
      <div class="panel__content__scroll" data-bind="antiscroll: shouldUpdateScrollbar">
        <!-- ko foreach: {data: settings, afterRender: () => isRendered(true)} -->
          <label class="panel__action-item panel__action-item__option" data-uie-name="item-notification-option">
            <input type="radio" name="notification-settings" data-bind="checked: $parent.currentNotificationSetting, value: value, event: {change: $parent.notificationChanged}"/>
            <span data-bind="text: text"></span>
          </label>
        <!-- /ko -->
        <div class="panel__info-text notification-settings__disclaimer" data-bind="l10n_text: z.string.notificationSettingsDisclaimer"></div>
      </div>
    </div>
  <!-- /ko -->
</div>
