<div id="participant-devices" class="panel__page participant-devices" data-bind="with: $root.subViews[$root.STATE.PARTICIPANT_DEVICES]">
  <!-- ko if: isVisible() -->
    <div class="panel__header">
      <arrow-left-icon class="icon-button" data-bind="clickOrDrag: clickOnBack" data-uie-name="go-back-participant-devices"></arrow-left-icon>
      <div class="panel__header__title" data-bind="text: userDevicesHistory.headline()"></div>
      <close-icon class="icon-button" data-bind="clickOrDrag: onClose" data-uie-name="do-close"></close-icon>
    </div>

    <div class="panel__content" data-bind="fadingscrollbar">
      <user-devices params="clientRepository: clientRepository,
                            conversationRepository: conversationRepository,
                            cryptographyRepository: cryptographyRepository,
                            messageRepository: messageRepository,
                            userEntity: userEntity,
                            history: userDevicesHistory"></user-devices>
    </div>
  <!-- /ko -->
</div>
