<div
  id="services-options"
  class="panel__page guest-options"
  data-bind="with: $root.subViews[$root.STATE.SERVICES_OPTIONS]"
>
  <!-- ko if: isVisible() -->
  <div class="panel__header">
    <button type="button" class="icon-button"
      data-bind="clickOrDrag: onGoBack, title: t('accessibility.rightPanel.GoBack'), 'aria-label': t('accessibility.rightPanel.GoBack')"
      data-uie-name="go-back-services-options">
        <arrow-left-icon aria-hidden="true"></arrow-left-icon>
    </button>
    <h4 class="panel__header__title" data-bind="text: t('servicesOptionsTitle')"></h4>
    <button type="button" class="right-panel-close icon-button" data-bind="clickOrDrag: onClose, title: t('accessibility.rightPanel.close'), 'aria-label': t('accessibility.rightPanel.close')" data-uie-name="do-close">
      <close-icon aria-hidden="true"></close-icon>
    </button>
  </div>
  <div class="panel__content" data-bind="fadingscrollbar">
    <div class="guest-options__content">
      <base-toggle
        params="isChecked: isServicesEnabled(), setIsChecked: toggleServiceAccessState, isDisabled: requestOngoing, infoText: t('servicesRoomToggleInfo'), toggleName: t('servicesOptionsTitle')"
      ></base-toggle>
    </div>
  </div>
  <!-- /ko -->
</div>
