files:
    "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.python-app.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
          /opt/python/log/app.out.* {
          maxsize 10M
          maxage 3
          rotate 1
          daily
          missingok
          compress
          notifempty
          copytruncate
          dateext
          dateformat %s
          olddir /opt/python/log/rotated
          }
