<style type="text/css">
  #include('../../../deploy/style/default.css')
</style>
<style type="text/plain" data-bind="attr: { type: isDarkMode() ? 'text/css' : 'text/plain' }">
  #include('../../../deploy/style/dark.css')
</style>
<!-- ko if: isTransitioning() -->
<style type="text/css">
  *, *:after, *:before {
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 500ms;
  -webkit-transition-property: color, fill, background-color;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
</style>
<!-- /ko -->