<div id="detail-view" class="modal detail-view">
  <!-- ko if: message_et() && conversation_et() -->
    <div class="detail-view-content modal-content-anim-close" data-bind="css: {'modal-content-anim-open': image_visible()}">
      <header class="detail-view-header">
          <div class="text-center">
            <div class="label-bold-xs" data-bind="text: message_et().sender_name(), attr: {'data-uie-uid': message_et().user().id, 'data-uie-value': message_et().user().name}" data-uie-name="fullscreen-picture-sender"></div>
            <div class="label-xs" data-bind="text: moment(message_et().timestamp()).format('DD/MM/YYYY H:mm'), attr: {'data-timestamp': message_et().timestamp()}"></div>
          </div>
        <span class="detail-view-header-close-button icon-close icon-button" data-bind="click: click_on_close" data-uie-name="do-close-detail-view"></span>
      </header>
      <div class="detail-view-main" data-bind="click: click_on_close">
        <img class="detail-view-image" data-bind="attr: {src: image_src()}" data-uie-name="status-picture"/>
        <!-- ko if: show_carousel_controls() -->
          <div class="detail-view-arrow detail-view-backward icon-back" data-bind="click: click_on_show_previous"></div>
          <div class="detail-view-arrow detail-view-forward icon-forward" data-bind="click: click_on_show_next"></div>
        <!-- /ko -->
      </div>
      <footer class="detail-view-footer">
        <!-- ko if: message_et().is_downloadable() && !message_et().is_ephemeral() -->
          <span class="detail-view-action-button" data-bind="click: click_on_download" data-uie-name="do-download-fullscreen-picture">
            <span class="icon-download"></span>
            <span data-bind="l10n_text: z.string.conversation_context_menu_download"></span>
          </span>
        <!-- /ko -->
        <!-- ko if: message_et().is_reactable() && !conversation_et().removed_from_conversation() -->
          <span class="detail-view-action-button" data-bind="click: click_on_like" data-uie-name="do-like-fullscreen-picture">
            <span data-bind="css: message_et().is_liked() ? 'icon-liked text-red' : 'icon-like'"></span>
            <span data-bind="l10n_text: z.string.conversation_context_menu_like"></span>
          </span>
        <!-- /ko -->
        <!-- ko if: message_et().is_deletable() -->
          <span class="detail-view-action-button" data-bind="click: click_on_delete" data-uie-name="do-delete-fullscreen-picture">
            <span class="icon-delete-for-me"></span>
            <span data-bind="l10n_text: z.string.conversation_context_menu_delete"></span>
          </span>
        <!-- /ko -->
        <!-- ko if: message_et().user().is_me && message_et().status() !== z.message.StatusType.SENDING && !conversation_et().removed_from_conversation() -->
          <span class="detail-view-action-button" data-bind="click: click_on_delete_for_everyone" data-uie-name="do-delete-everywhere-fullscreen-picture">
            <span class="icon-delete-for-everyone"></span>
            <span data-bind="l10n_text: z.string.conversation_context_menu_delete_everyone"></span>
          </span>
        <!-- /ko -->
      </footer>
    </div>
  <!-- /ko -->
</div>
