<div id="modals">

  <div class="modal modal-asset-upload-parallel" data-uie-name="modal-asset-upload-parallel">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-asset-upload-too-large" data-uie-name="modal-asset-upload-too-large">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-too-long-message" data-uie-name="modal-too-long-message">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_too_long_headline"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-delete-message" data-uie-name="modal-delete-message">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_delete_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_delete_message"></div>
      <div class="modal-footer">
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_delete_button" data-uie-name="do-delete"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-delete-message-everyone" data-uie-name="modal-delete-message-everyone">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_delete_everyone_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_delete_everyone_message"></div>
      <div class="modal-footer">
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_delete_everyone_button" data-uie-name="do-delete-everyone"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-block" data-uie-name="modal-block">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full button-inverted" data-bind="l10n_text: z.string.modal_button_cancel" data-uie-name="do-cancel"></div>
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_block_conversation_button" data-uie-name="do-block"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-call-conversation-empty" data-uie-name="modal-call-conversation-empty">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_call_conversation_empty_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_call_conversation_empty_message"></div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-call-conversation-full" data-uie-name="modal-call-conversation-full">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_call_conversation_full_headline"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-call-no-video-in-group" data-uie-name="modal-call-no-video-in-group">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_call_no_video_in_group_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_call_no_video_in_group_message"></div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-call-second" data-uie-name="modal-call-second">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full button-inverted" data-bind="l10n_text: z.string.modal_button_cancel" data-uie-name="do-cancel"></div>
        <div class="modal-action button button-medium button-full" data-uie-name="do-second-call"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-call-voice-channel-full" data-uie-name="modal-call-voice-channel-full">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_call_voice_channel_full_headline"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-calling" data-uie-name="modal-calling">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.warning_call_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.warning_call_detail"></div>
      <div class="modal-action button button-medium button-fluid" data-bind="l10n_text: z.string.warning_tell_me_how" data-uie-name="go-faq"></div>
    </div>
  </div>

  <div class="modal modal-clear" data-uie-name="modal-delete">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_clear_conversation_message"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full button-inverted" data-bind="l10n_text: z.string.modal_button_cancel" data-uie-name="do-cancel"></div>
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_clear_conversation_button" data-uie-name="do-delete"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-clear-group" data-uie-name="modal-delete-group">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_clear_conversation_message"></div>
      <div class="modal-option">
        <label class="input-checkbox">
          <input class="modal-option-checkbox" type="checkbox" data-uie-name="enter-leave-conversation">
          <span class="modal-option-text" data-bind="l10n_text: z.string.modal_clear_conversation_option"></span>
        </label>
      </div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full button-inverted" data-bind="l10n_text: z.string.modal_button_cancel" data-uie-name="do-cancel"></div>
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_clear_conversation_button" data-uie-name="do-delete"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-contacts" data-uie-name="modal-contacts">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.upload_google_headline_error"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.upload_google_message_error"></div>
      <div class="modal-action button button-medium button-fluid" data-bind="l10n_text: z.string.upload_google_button_again" data-uie-name="go-contacts-upload"></div>
    </div>
  </div>

  <div class="modal modal-leave" data-uie-name="modal-leave">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_leave_conversation_message"></div>
      <div class="modal-footer">
        <div class="modal-close button button-medium button-full button-inverted" data-bind="l10n_text:  z.string.modal_button_cancel" data-uie-name="do-cancel"></div>
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_leave_conversation_button" data-uie-name="do-leave"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-logout" data-uie-name="modal-logout">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_logout_headline"></div>
      </div>
      <div class="modal-logout-checkbox modal-option">
        <div class="checkbox text-theme">
          <input class="modal-option-checkbox" type="checkbox" id="clear-data-checkbox" data-uie-name="do-clear-data">
          <label class="label-xs" for="clear-data-checkbox">
            <span class="text-graphite-dark" data-bind="l10n_text: z.string.modal_logout_message"></span>
          </label>
        </div>
      </div>
      <div class="modal-action button button-medium button-fluid" data-bind="l10n_text: z.string.modal_logout_button" data-uie-name="go-logout"></div>
    </div>
  </div>

  <div class="modal modal-new-device" data-uie-name="modal-new-device">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_new_device_headline"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_new_device_message"></div>
      <div class="modal-footer">
        <div class="modal-secondary button button-medium button-full button-inverted" data-bind="l10n_text:  z.string.modal_new_device_show_device" data-uie-name="go-show-device"></div>
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_new_device_send_anyway" data-uie-name="do-send"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-remove-device" data-uie-name="modal-remove-device">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title"></div>
      </div>
      <div class="modal-text" data-bind="l10n_text: z.string.modal_remove_device_message"></div>
      <div class="modal-option">
        <input class="modal-option-input" type="password"/>
      </div>
      <div class="modal-footer">
        <div class="modal-action button button-medium button-full" data-bind="l10n_text: z.string.modal_remove_device_button" data-uie-name="do-delete"></div>
      </div>
    </div>
  </div>
  <div class="modal modal-connected-device" data-uie-name="modal-conntected-device">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_connected_device_headline"></div>
      </div>
      <div class="modal-text">
        <div class="modal-connected-devices"></div>
        <div data-bind="l10n_text: z.string.modal_connected_device_message"></div>
      </div>
      <div class="modal-footer">
        <div class="modal-secondary button button-medium button-full button-inverted" data-bind="l10n_text: z.string.modal_connected_device_manage_devices" data-uie-name="go-manage-devices"></div>
        <div class="modal-close button button-medium button-full" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-ok"></div>
      </div>
    </div>
  </div>

  <div class="modal modal-session-reset" data-uie-name="modal-session-reset">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_session_reset_headline"></div>
      </div>
      <div class="modal-text">
        <span data-bind="l10n_text: z.string.modal_session_reset_message_1"></span>
        <a data-bind="l10n_href: z.string.url_support_contact_bug, l10n_text: z.string.modal_session_reset_message_link" rel="nofollow noopener noreferrer" target="_blank"></a>
        <span data-bind="l10n_text: z.string.modal_session_reset_message_2"></span>
      </div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-too-many-members" data-uie-name="modal-too-many-members">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_too_many_members_headline"></div>
      </div>
      <div class="modal-text"></div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

  <div class="modal modal-whitelist-screensharing" data-uie-name="modal-whitelist-screensharing">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close icon-close icon-button pull-right"></div>
        <div class="modal-title" data-bind="l10n_text: z.string.modal_whitelist_screensharing_headline"></div>
      </div>
      <div class="modal-text">
        <span data-bind="l10n_text: z.string.modal_whitelist_screensharing_message_1"></span>
        <a data-bind="l10n_href: z.string.url_support_screen_whitelist, l10n_text: z.string.modal_whitelist_screensharing_message_link" rel="nofollow noopener noreferrer" target="_blank"></a>
        <span data-bind="l10n_text: z.string.modal_whitelist_screensharing_message_2"></span>
      </div>
      <div class="modal-close button button-medium button-fluid" data-bind="l10n_text: z.string.modal_button_ok" data-uie-name="do-close"></div>
    </div>
  </div>

</div>
