<div id="warnings">

  <!-- ko if: warnings().length > 0-->
    <div class="warning" data-bind="css:{'warning-dimmed': warning_dimmed}">
      <!-- ko if: top_warning() === z.ViewModel.WarningType.REQUEST_CAMERA -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="l10n_html: {'id': z.string.warning_permission_request_camera, 'replace': {'placeholder': '%icon', 'content': '<span class=\'warning-bar-icon icon-camera\'></span>'}}"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.DENIED_CAMERA -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_permission_denied_camera"></span>&nbsp;
            <a class="warning-bar-link" data-bind="l10n_href: z.string.url_support_camera_access_denied, l10n_text: z.string.warning_learn_more" rel="nofollow noopener noreferrer" target="_blank"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.REQUEST_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="l10n_html: {'id': z.string.warning_permission_request_microphone, 'replace': {'placeholder': '%icon', 'content': '<span class=\'warning-bar-icon icon-microphone\'></span>'}}"></div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.DENIED_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_permission_denied_microphone"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.warning_permission_denied_microphone, l10n_text: z.string.warning_learn_more"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.REQUEST_SCREEN -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="l10n_html: {'id': z.string.warning_permission_request_screen, 'replace': {'placeholder': '%icon', 'content': '<span class=\'warning-bar-icon icon-screensharing\'></span>'}}"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.DENIED_SCREEN -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_permission_denied_screen"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_support_screen_access_denied, l10n_text: z.string.warning_learn_more"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.NOT_FOUND_CAMERA -->
      <div class="warning-bar warning-bar-feature bg-theme">
        <div class="warning-bar-message">
          <span data-bind="l10n_text: z.string.warning_not_found_camera"></span>&nbsp;
          <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_support_mic_not_found, l10n_text: z.string.warning_learn_more"></a>
        </div>
        <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
      </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.NOT_FOUND_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_not_found_microphone"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_support_mic_not_found, l10n_text: z.string.warning_learn_more"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.REQUEST_NOTIFICATION -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message"
               data-bind="l10n_html: {'id': z.string.warning_permission_request_notification, 'replace': {'placeholder': '%icon', 'content': '<span class=\'warning-bar-icon icon-envelope\'></span>'}}"></div>
          <span class="warning-bar-close icon-close button-round button-round-dark"
                data-bind="click: close_warning"
                data-uie-name="do-close-warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.UNSUPPORTED_INCOMING_CALL -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <!-- ko ifnot: z.util.Environment.browser.chrome -->
            <div class="warning-bar-message"><span data-bind="l10n_text: {'id': z.string.warning_call_unsupported_incoming, replace: {'placeholder': '%s.first_name', 'content': z.util.escape_html(first_name())}}"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_support_calling, l10n_text: z.string.warning_learn_more"></a></div>
          <!-- /ko -->
          <!-- ko if: z.util.Environment.browser.chrome -->
            <!-- ko if: z.util.Environment.electron -->
              <div class="warning-bar-message">
                <span data-bind="l10n_text: z.string.warning_call_issues"></span>&nbsp;
                <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_wire_for_web, l10n_text: z.string.wire_for_web"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: z.util.Environment.electron -->
              <div class="warning-bar-message"><span data-bind="l10n_text: z.string.warning_call_upgrade_browser"></span></div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.UNSUPPORTED_OUTGOING_CALL -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <!-- ko ifnot: z.util.Environment.browser.chrome -->
            <div class="warning-bar-message">
              <span data-bind="l10n_text: z.string.warning_call_unsupported_outgoing"></span>&nbsp;
              <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_support_calling, l10n_text: z.string.warning_learn_more"></a>
            </div>
          <!-- /ko -->
          <!-- ko if: z.util.Environment.browser.chrome -->
            <!-- ko if: z.util.Environment.electron -->
              <div class="warning-bar-message">
                <span data-bind="l10n_text: z.string.warning_call_issues"></span>&nbsp;
                <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: z.string.url_wire_for_web, l10n_text: z.string.wire_for_web"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: z.util.Environment.electron -->
              <div class="warning-bar-message"><span data-bind="l10n_text: z.string.warning_call_upgrade_browser"></span></div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: close_warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.CONNECTIVITY_RECONNECT -->
        <div class="warning-bar warning-bar-connection bg-theme">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_connectivity_connection_lost"></span>
            <svg class="warning-bar-spinner spin" width="11" height="11" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-uie-name="status-loading">
              <path fill="#fff" d="M12.416 12.417c-2.374 2.375-6.28 2.33-8.72-.112-2.444-2.442-2.488-6.347-.113-8.72 1.658-1.66 4.12-2.18 6.343-1.394.477.17 1-.08 1.17-.557.167-.477-.083-1-.56-1.17C7.658-.552 4.453.124 2.286 2.29-.808 5.384-.75 10.448 2.4 13.6c3.15 3.152 8.216 3.21 11.312.113 2.165-2.166 2.84-5.37 1.824-8.25-.168-.476-.692-.726-1.17-.558-.476.17-.726.692-.557 1.17.784 2.222.265 4.684-1.394 6.342z"></path>
            </svg>
          </div>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.CONNECTIVITY_RECOVERY -->
        <div class="warning-bar warning-bar-progress"></div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.NO_INTERNET -->
        <div class="warning-bar warning-bar-connection bg-theme">
          <div class="warning-bar-message" data-bind="l10n_text: z.string.warning_connectivity_no_internet"></div>
        </div>
      <!-- /ko -->

      <!-- ko if: top_warning() === z.ViewModel.WarningType.LIFECYCLE_UPDATE -->
        <div class="warning-bar warning-bar-connection warning-bar-click bg-theme" data-bind="click: function(){amplify.publish(z.event.WebApp.LIFECYCLE.REFRESH)}">
          <div class="warning-bar-message">
            <span data-bind="l10n_text: z.string.warning_lifecycle_update"></span>&nbsp;
            <a class="warning-bar-link" data-bind="l10n_text: z.string.warning_lifecycle_update_link" rel="nofollow noopener noreferrer" target="_blank"></a>
          </div>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->

</div>
