<div id="wire-main"
     class="off"
     data-bind="css: main_classes(), ignore_drop_file: true"
     data-uie-name="status-webapp"
     data-uie-value="is-loading">
  <!-- ko stopBinding: true -->
    <div id="app" class="app">
      <div id="left" class="left">
        #include('list/background.htm')
        <!-- ko if: webapp_loaded -->
          <!-- ko ifnot: list_modal() -->
            #include('list/archive.htm')
            #include('list/conversations.htm')
            #include('list/preferences.htm')
            #include('list/start-ui.htm')
            #include('list/actions.htm')
          <!-- /ko -->
          <!-- ko if: list_modal() === z.ViewModel.list.LIST_MODAL_TYPE.TAKEOVER -->
            #include('list/takeover.htm')
          <!-- /ko -->
        <!-- /ko -->
      </div>
      <div id="right" class="right">
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.CONNECTION_REQUESTS -->
          #include('content/connect-requests.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.CONVERSATION -->
          #include('content/conversation.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.COLLECTION -->
          #include('content/collection.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.COLLECTION_DETAILS -->
          #include('content/collection-details.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_ABOUT -->
          #include('content/preferences-about.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_ACCOUNT -->
          #include('content/preferences-account.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_AV -->
          #include('content/preferences-av.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_DEVICE_DETAILS -->
          #include('content/preferences-device-details.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_DEVICES -->
          #include('content/preferences-devices.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.PREFERENCES_OPTIONS -->
          #include('content/preferences-options.htm')
        <!-- /ko -->
        <!-- ko if: content_state() === z.ViewModel.content.CONTENT_STATE.WATERMARK -->
          #include('content/watermark.htm')
        <!-- /ko -->
      </div>
    </div>
    #include('detail-view.htm')
    #include('video-calling.htm')
    #include('warning.htm')
    #include('modals.htm')
  <!-- /ko -->
</div>
