<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" type="text/css" href="/support/support.css" />
    <title>Wire Gov – Anweisungen für Nutzer (VS-NfD)</title>
  </head>
  <body class="c16 c138 doc-content" style="margin: auto; margin-top: 24px">
    <p class="c83 title" id="h.od42trepxnuq">
      <span class="c40 c108">Wire Gov &ndash; &nbsp;Anweisungen f&uuml;r Nutzer</span>
    </p>
    <p class="c35 c21 c58 title" id="h.nkxi3nz048vy">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 624px;
          height: 479.33px;
        "
        ><img
          alt=""
          src="images/image86.png"
          style="
            width: 624px;
            height: 479.33px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <p class="c38 c149"><span class="c5"></span></p>
    <p class="c21 c58 c105 title" id="h.fqpfbi27nxju">
      <span class="c40 c26 c76">Wire Gov &ndash;<br />Anweisungen f&uuml;r Nutzer</span>
    </p>
    <p class="c21 c135"><span class="c14">F&uuml;r den VS-NfD-Einsatz von Wire Gov</span></p>
    <p class="c105 c21"><span class="c14">Version 3.3</span></p>
    <p class="c105 c21"><span class="c1">13. Oktober 2023</span></p>
    <hr style="page-break-before: always; display: none" />
    <p class="c21 c38 c104"><span class="c5"></span></p>
    <h1 class="c21 c58 c152" id="h.9jtusg9x83kf"><span class="c12">Inhaltsverzeichnis</span></h1>
    <p class="c48">
      <span class="c7 c13"
        ><a class="c37" href="#h.9jtusg9x83kf"
          >Inhaltsverzeichnis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</a
        ></span
      >
    </p>
    <p class="c48">
      <span class="c7 c13"
        ><a class="c37" href="#h.ugazbiakjcsv">1. Einleitung&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</a></span
      >
    </p>
    <p class="c48">
      <span class="c7 c13"
        ><a class="c37" href="#h.yyi2ssc6kqsp"
          >2. Einschr&auml;nkungen zur Erh&ouml;hung der Sicherheit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.ca0pyy4fuqwp"
          >2.1 Media-Plug-ins&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.adtyqbzfhmn9"
          >2.2 GIF-Funktion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.me7sv4t2wyym"
          >2.3 G&auml;ste-Links in Gruppenunterhaltungen
          (G&auml;stebereiche)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.cntuq9xdzc12"
          >2.4 Variable Bitrate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.wtrdacyi9rs1"
          >2.5 Dateiversand&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.sjvdh34ofltm"
          >2.6 Wire Gov im Browser&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.xn4hoxuz6cn3"
          >2.7 Einschr&auml;nkungen auf iOS-Ger&auml;ten&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.o1lvgsub83g5"
          >2.8 Verwendung von Screenreadern&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</a
        ></span
      >
    </p>
    <p class="c48">
      <span class="c7 c13"
        ><a class="c37" href="#h.q7pugbe188a7"
          >3. Sicherheitsma&szlig;nahmen durch Nutzer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.em6f2ce8m3dx"
          >3.1 Geheimhaltungsgrad pr&uuml;fen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.vf27ynrhux38"
          >3.2 Angemeldete Ger&auml;te &uuml;berpr&uuml;fen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.3i1xgoca332e"
          >3.3 Sicherheitsvorfall melden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.bm74oyd49fjh"
          >3.4 Gespr&auml;chsverl&auml;ufe sichern&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"
        ><a class="c37" href="#h.f920i3o2xlaz"
          >3.5 Fehlerberichte erstellen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</a
        ></span
      >
    </p>
    <p class="c45">
      <span class="c7 c13"><a class="c37" href="#h.4zox7mmbfli0">3.6 </a></span
      ><span class="c7 c13"><a class="c37" href="#h.4zox7mmbfli0">Ger&auml;teverifizierung</a></span
      ><span class="c7 c13"
        ><a class="c37" href="#h.4zox7mmbfli0"
          >&nbsp;Ihrer Kontakte &uuml;berpr&uuml;fen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</a
        ></span
      >
    </p>
    <hr style="page-break-before: always; display: none" />
    <p class="c43 c21 c38"><span class="c12"></span></p>
    <h1 class="c43 c21" id="h.ugazbiakjcsv"><span class="c12">1. Einleitung</span></h1>
    <p class="c67 c21">
      <span class="c1">Im Folgenden finden Sie Anweisungen f&uuml;r den VS-NfD-Einsatz von Wire Gov.</span>
    </p>
    <p class="c67 c21">
      <span class="c1"
        >Wire Gov ist ein sicherer Messenger, der auf einer Ende-zu-Ende-Verschl&uuml;sselung basiert. Sie k&ouml;nnen
        mit Wire Gov Textnachrichten und Dateien austauschen sowie Telefonate und Telefon- und Videokonferenzen
        durchf&uuml;hren, bei denen Sie zudem Ihren Bildschirm f&uuml;r andere Benutzer freigeben k&ouml;nnen.
      </span>
    </p>
    <p class="c67 c21">
      <span class="c7">Diese Basisfunktionen sind im </span><span class="c4">Benutzerhandbuch &ndash; Wire Gov </span
      ><span class="c1"
        >beschrieben. Das vorliegende Dokument besch&auml;ftigt sich mit dem Sonderfall der Kommunikation im
        VS-NfD-Kontext sowie speziellen Anforderungen und Einschr&auml;nkungen in diesem Zusammenhang.</span
      >
    </p>
    <hr style="page-break-before: always; display: none" />
    <p class="c43 c21 c38"><span class="c1"></span></p>
    <h1 class="c35 c21" id="h.yyi2ssc6kqsp">
      <span class="c12">2. Einschr&auml;nkungen zur Erh&ouml;hung der Sicherheit</span>
    </h1>
    <p class="c43 c21">
      <span class="c1"
        >Im Rahmen der Nutzung von Wire Gov zur Verarbeitung von VS-NfD-Informationen sind folgende Funktionen
        unterbunden.</span
      >
    </p>
    <h2 class="c43 c21" id="h.ca0pyy4fuqwp"><span class="c30 c26">2.1 Media-Plug-ins</span></h2>
    <p class="c43 c21">
      <span class="c7"
        >MediaPlug-ins, zum Beispiel die Anzeige einer Link-Vorschau oder das Abspielen von Videos aus externen Quellen
        wie YouTube, sind im VS-NfD-Kontext aus Sicherheitsgr&uuml;nden unterbunden.</span
      >
    </p>
    <h2 class="c43 c21" id="h.adtyqbzfhmn9"><span class="c30 c26">2.2 GIF-Funktion </span></h2>
    <p class="c43 c21">
      <span class="c7"
        >Die Nutzung der GIF-Funktion ist unterbunden, da hierbei eine Verbindung zu einem externen Provider notwendig
        ist.</span
      >
    </p>
    <h2 class="c43 c21" id="h.me7sv4t2wyym">
      <span class="c30 c26">2.3 G&auml;ste-Links in Gruppenunterhaltungen (G&auml;stebereiche)</span>
    </h2>
    <p class="c43 c21">
      <span class="c7">Die im </span><span class="c4">Benutzerhandbuch &ndash; Wire Gov </span
      ><span class="c1"
        >erl&auml;uterte Funktion der G&auml;stebereiche, das hei&szlig;t die Einladung von Personen ohne
        Wire-Benutzerkonto, wird bei der Nutzung von Wire Gov im VS-NfD-Kontext unterbunden und steht nicht zur
        Verf&uuml;gung.</span
      >
    </p>
    <h2 class="c35 c21" id="h.cntuq9xdzc12"><span class="c30 c26">2.4 Variable Bitrate </span></h2>
    <p class="c43 c21">
      <span class="c7"
        >Aus Sicherheitsgr&uuml;nden ist die Nutzung einer konstanten Bitrate in Anrufen im Rahmen der VS-NfD-Nutzung
        bei Telefonaten &uuml;ber Wire Gov festgesetzt. Dementsprechend besteht keine M&ouml;glichkeit in den
        Benutzereinstellungen, die variable Bitrate </span
      ><span class="c7">auszuw&auml;hlen.</span>
    </p>
    <h2 class="c35 c21" id="h.wtrdacyi9rs1"><span class="c30 c26">2.5 Dateiversand</span></h2>
    <p class="c43 c21">
      <span class="c1"
        >Bei der Nutzung von Wire Gov im VS-NfD-Kontext sind nur folgende Dateiformate zul&auml;ssig:</span
      >
    </p>
    <ul class="c19 lst-kix_xzfk8q92aiw6-0 start">
      <li class="c2 li-bullet-0">
        <span class="c1">Standard-Office-Dokumente (unter anderem *.doc, *.docx, *.xls, *.ppt, *.odt, *.pdf)</span>
      </li>
      <li class="c43 c21 c29 li-bullet-0">
        <span class="c1">G&auml;ngige Bild-, Audio- und Videodateien (unter anderem *.jpg, *.png, *.mp3, *.m4a)</span>
      </li>
    </ul>
    <p class="c9">
      <span class="c7"
        >Weiter ist das Hoch- und Herunterladen von Dateien mit Wire Gov auf iOS-Ger&auml;ten komplett
        unterbunden.</span
      ><span class="c7 c13">&nbsp;</span>
    </p>
    <hr style="page-break-before: always; display: none" />
    <h2 class="c43 c21" id="h.sjvdh34ofltm">
      <span class="c26 c81">2.6 Wire Gov </span><span class="c26 c81">im Browser</span>
    </h2>
    <p class="c43 c21">
      <span class="c7"
        >Im Kontext der VS-NfD Nutzung k&ouml;nnen Sie ausschlie&szlig;lich die Desktop-, iOS- und Android-App in der
        jeweils </span
      ><span class="c7 c60 c16">aktuellen und freigegebenen Version </span
      ><span class="c1"
        >verwenden. Nur f&uuml;r die Registrierung eines Benutzerkontos ist die Nutzung des Browsers auf dem
        Windows-Desktop gestattet.</span
      >
    </p>
    <p class="c6"><span class="c5"></span></p>
    <h2 class="c43 c21" id="h.xn4hoxuz6cn3">
      <span class="c30 c26">2.7 Einschr&auml;nkungen auf iOS-Ger&auml;ten</span>
    </h2>
    <p class="c9">
      <span class="c7"
        >Sowohl das Hoch- und Herunterladen von Dateien als auch das Kopieren und Einf&uuml;gen von Dateien,
        Textnachrichten, Bildern sowie Audio- und Videonachrichten ist mit Wire Gov auf iOS-Ger&auml;ten komplett
        unterbunden.</span
      ><span class="c5">&nbsp;</span>
    </p>
    <p class="c6"><span class="c5"></span></p>
    <h2 class="c43 c21" id="h.o1lvgsub83g5"><span class="c30 c26">2.8 Verwendung von Screenreadern</span></h2>
    <p class="c43 c21">
      <span class="c1"
        >Die Nutzung von Screenreadern ist in Wire Gov technisch unterbunden.<br />Falls Sie einen Screenreader
        verwenden m&ouml;chten, wenden Sie sich bitte an Ihren Administrator, um eine Ausnahmegenehmigung zu
        erhalten.</span
      >
    </p>
    <hr style="page-break-before: always; display: none" />
    <p class="c6"><span class="c5"></span></p>
    <h1 class="c43 c21" id="h.q7pugbe188a7"><span class="c12">3. Sicherheitsma&szlig;nahmen durch Nutzer</span></h1>
    <p class="c43 c21">
      <span class="c7">In diesem Kapitel werden Ma&szlig;nahmen beschrieben, die Sie im VS-NfD-Kontext </span
      ><span class="c7">durchzuf&uuml;hren</span><span class="c1">&nbsp;und zu beachten haben.</span>
    </p>
    <h2 class="c35 c21" id="h.em6f2ce8m3dx"><span class="c30 c26">3.1 Geheimhaltungsgrad pr&uuml;fen</span></h2>
    <p class="c43 c21">
      <span class="c1"
        >Vergewissern Sie sich vor dem Teilen von Informationen im VS-NfD-Kontext dar&uuml;ber, dass die Einzel- oder
        Gruppenunterhaltung, in der Sie sich befinden, f&uuml;r solche Informationen freigegeben sind.</span
      >
    </p>
    <p class="c43 c21">
      <span class="c7">Hierf&uuml;r liefert Wire Gov als Hilfestellung das </span
      ><span class="c7">Geheimhaltungsbanner.</span>
    </p>
    <p class="c43 c21">
      <span class="c7">Wenn f&uuml;r VS-NfD freigegeben, sehen Sie das Banner </span
      ><span class="c4">Sicherheitsniveau VS-NfD:</span>
    </p>
    <p class="c43 c21">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px -0px;
          border: 9.33px solid #ffffff;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 624px;
          height: 390px;
        "
        ><img
          alt=""
          src="images/image27.png"
          style="
            width: 624px;
            height: 390px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <hr style="page-break-before: always; display: none" />
    <p class="c43 c21">
      <span class="c7">Wenn f&uuml;r VS-NfD nicht freigegeben, sehen Sie das Banner </span
      ><span class="c4">Sicherheitsniveau nicht eingestuft:</span>
    </p>
    <p class="c43 c21">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px -0px;
          border: 9.33px solid #ffffff;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 624px;
          height: 387.87px;
        "
        ><img
          alt=""
          src="images/image33.png"
          style="
            width: 624px;
            height: 387.87px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <p class="c43 c21">
      <span class="c7">Weitere Informationen hierf&uuml;r k&ouml;nnen Sie im </span
      ><span class="c4">Benutzerhandbuch &ndash; Wire Gov</span><span class="c7">&nbsp;finden.</span>
    </p>
    <hr style="page-break-before: always; display: none" />
    <h2 class="c21 c35" id="h.vf27ynrhux38">
      <span class="c30 c26">3.2 Angemeldete Ger&auml;te &uuml;berpr&uuml;fen</span>
    </h2>
    <p class="c43 c21">
      <span class="c7"
        >Bitte &uuml;berpr&uuml;fen Sie Ihre Ger&auml;teliste regelm&auml;&szlig;ig alle 4 Wochen (siehe hierzu das </span
      ><span class="c4">Benutzerhandbuch &ndash; Wire Gov</span
      ><span class="c1"
        >). Wird Ihr Benutzerkonto auf einem neuen Ger&auml;t verwendet, erhalten Sie eine Benachrichtigung via E-Mail
        und in der App.</span
      >
    </p>
    <p class="c43 c21">
      <span class="c1"
        >Sobald Sie ein Ger&auml;t f&uuml;r Wire Gov nicht mehr verwenden, l&ouml;schen Sie es unverz&uuml;glich aus der
        Ger&auml;teliste.</span
      >
    </p>
    <p class="c9">
      <span class="c7"
        >Sollten Sie ein Ger&auml;t in der Liste nicht kennen, entfernen Sie dieses und setzen Sie umgehend Ihr Passwort
        zur&uuml;ck. Melden Sie zudem den Sicherheitsvorfall (siehe Kapitel </span
      ><span class="c77 c7"><a class="c37" href="#h.3i1xgoca332e">3.3 Sicherheitsvorfall melden</a></span
      ><span class="c1">).</span>
    </p>
    <p class="c101 c21">
      <span class="c7"
        >Sollten Sie eine andere Auff&auml;lligkeit oder Ger&auml;te feststellen, mit welchen Sie sich nicht angemeldet
        haben, verfahren Sie wie im n&auml;chsten Kapitel </span
      ><span class="c77 c7"><a class="c37" href="#h.3i1xgoca332e">3.3 Sicherheitsvorfall melden</a></span
      ><span class="c1">&nbsp;beschrieben.</span>
    </p>
    <h2 class="c35 c21" id="h.3i1xgoca332e"><span class="c26 c81">3.3 Sicherheitsvorfall melden</span></h2>
    <p class="c43 c21">
      <span class="c7"
        >Sollten Sie eine Kompromittierung des Benutzerkontos feststellen, sind Sie aufgefordert, alle Informationen zu
        der unbekannten Anmeldung inklusive der Ger&auml;tedetails an Ihren Administrator zu senden. Die
        Ger&auml;tedetails finden Sie in der E-Mail-Benachrichtigung oder in der </span
      ><span class="c7">Ger&auml;te-&Uuml;bersicht</span><span class="c1">&nbsp;in der Wire Gov-App.</span>
    </p>
    <h2 class="c35 c21" id="h.bm74oyd49fjh"><span class="c30 c26">3.4 Gespr&auml;chsverl&auml;ufe sichern</span></h2>
    <p class="c43 c21">
      <span class="c7"
        >Die Verschl&uuml;sselung der Sicherung der Gespr&auml;chsverl&auml;ufe ist nicht zum Schutz von VS-NfD
        geeignet. Daher sind Sie aufgefordert, im Falle einer notwendigen Sicherung vorab den Team-Admin zu kontaktieren
        und falls </span
      ><span class="c7">freigegeben,</span
      ><span class="c1"
        >&nbsp;diesen Prozess unter R&uuml;cksprache mit dem Team-Admin durchzuf&uuml;hren. Nach dem Wiederherstellen
        des Verlaufs auf einem neuen Ger&auml;t ist die Sicherung umgehend und ordnungsgem&auml;&szlig; zu
        l&ouml;schen.</span
      >
    </p>
    <h2 class="c43 c21" id="h.f920i3o2xlaz"><span class="c30 c26">3.5 Fehlerberichte erstellen</span></h2>
    <p class="c43 c21">
      <span class="c7"
        >Die Funktion zur Erzeugung von Fehlerberichten, sogenannten Logfiles, darf nur auf Anweisung der Mitarbeiter </span
      ><span class="c7 c60 c16">Ihres Supports</span><span class="c1">&nbsp;oder des Team-Admins genutzt werden.</span>
    </p>
    <h2 class="c43 c21" id="h.4zox7mmbfli0">
      <span class="c26 c81">3.6 </span><span class="c26 c81">Ger&auml;teverifizierung</span
      ><span class="c30 c26">&nbsp;Ihrer Kontakte &uuml;berpr&uuml;fen</span>
    </h2>
    <p class="c43 c21" id="h.jsb400qyypcb">
      <span class="c7">Als Nutzer von Wire Gov im VS-NfD-Kontext, sind Sie dazu verpflichtet, die </span
      ><span class="c7">Ger&auml;teverifizierung</span
      ><span class="c7">&nbsp;Ihrer Kontakte zu &uuml;berpr&uuml;fen, wie im </span
      ><span class="c4">Benutzerhandbuch &ndash; Wire Gov</span><span class="c1">&nbsp;beschrieben. </span>
    </p>
    <p class="c21 c38 c83"><span class="c10"></span></p>
  </body>
</html>
