<div id="history-import" data-bind="with: $root.historyImport">
  <!-- ko if: isPreparing -->
    <loading-bar></loading-bar>
  <!-- /ko -->
  <!-- ko if: isImporting -->
    <loading-bar class="with-cancel"></loading-bar>
    <div class="cancel-button">Cancel</div>
  <!-- /ko -->
  <!-- ko if: isDone -->
    <div class="history-message">
      <div class=history-message__headline>Backup completed</div>
      <div class="history-message__info">You can use this to restore history if you lose your computer or switch to a new one.</div>
      <div class="history-message__buttons">
        <button class="button">OK</button>
      </div>
    </div>
  <!-- /ko -->
  <!-- ko if: hasError -->
    <div class="history-message">
      <div class=history-message__headline>Something went wrong </div>
      <div class="history-message__info">The backup was not completed.</div>
      <div class="history-message__buttons">
        <button class="button button-inverted">Cancel</button>
        <button class="button">Try Again</button>
      </div>
    </div>
  <!-- /ko -->
  </div>
