<div id="preferences-devices" class="preferences-page preferences-devices" data-bind="with: $root.preferences_device_details">
  <div class="preferences-titlebar" data-bind="l10n_text: z.string.preferences_device_details"></div>
  <div class="preferences-content-wrapper">
    <div class="preferences-content" data-bind="antiscroll">
      <section class="preferences-section">
        <header class="preferences-devices-details">
          <div class="preferences-devices-icon icon-back" data-bind="click: click_on_details_close"></div>
          <span data-bind="l10n_text: z.string.preferences_devices"></span>
        </header>
        <div class="preferences-devices-model" data-bind="text: device().model"></div>
        <div class="preferences-devices-id"><span data-bind="l10n_text: z.string.preferences_devices_id"></span><span data-bind="html: z.util.print_devices_id(device().id)"></span></div>
        <div class="preferences-devices-activated">
          <div data-bind="html: activated_on"></div>
          <div data-bind="html: activated_in"></div>
        </div>
        <div class="preferences-devices-fingerprint-label" data-bind="l10n_text: z.string.preferences_devices_fingerprint"></div>
        <div class="preferences-devices-fingerprint" data-bind="html: z.util.print_devices_id(fingerprint())"></div>
        <div class="preferences-devices-verification slider">
          <input class="slider-input" type="checkbox" name="preferences_device_verification_toggle" id="preferences_device_verification" data-bind="checked: device().meta.is_verified">
          <label class="button-label" for="preferences_device_verification" data-bind="click: toggle_device_verification, l10n_text: z.string.preferences_devices_verification"></label>
        </div>
        <div class="preferences-detail" data-bind="l10n_text: z.string.preferences_devices_fingerprint_detail"></div>
      </section>

      <section class="preferences-section">
        <header class="preferences-header"><hr class="preferences-separator"></header>
      </section>

      <section class="preferences-section">
        <div class="preferences-info" data-bind="l10n_text: z.string.preferences_devices_session_detail"></div>
        <div class="preferences-devices-session">
          <!-- ko if: session_reset_state() === z.ViewModel.content.PreferencesDeviceDetailsViewModel.SESSION_RESET_STATE.RESET -->
            <button class="preferences-button button button-small button-fluid" data-bind="click: click_on_reset_session, l10n_text: z.string.preferences_devices_session_reset"></button>
          <!-- /ko -->
          <!-- ko if: session_reset_state() === z.ViewModel.content.PreferencesDeviceDetailsViewModel.SESSION_RESET_STATE.ONGOING -->
            <div class="preferences-devices-session-reset" data-bind="l10n_text: z.string.preferences_devices_session_ongoing"></div>
          <!-- /ko -->
          <!-- ko if: session_reset_state() === z.ViewModel.content.PreferencesDeviceDetailsViewModel.SESSION_RESET_STATE.CONFIRMATION -->
            <div class="preferences-devices-session-confirmation text-theme" data-bind="l10n_text: z.string.preferences_devices_session_confirmation"></div>
          <!-- /ko -->
        </div>
      </section>

      <section class="preferences-section">
        <div class="preferences-info" data-bind="l10n_text: z.string.preferences_devices_remove_detail"></div>
        <button class="preferences-button button button-small button-fluid" data-bind="click: click_on_remove_device, l10n_text: z.string.preferences_devices_remove"></button>
      </section>
    </div>
  </div>
</div>
