<div id="preferences-options" class="preferences-page preferences-options" data-bind="with: $root.preferences_options">
  <div class="preferences-titlebar" data-bind="l10n_text: z.string.preferences_options"></div>
  <div class="preferences-content">
    <section class="preferences-section">
      <header class="preferences-header" data-bind="l10n_text: z.string.preferences_options_sound"></header>
      <div class="form-control sound-controls">
        <input class="sound-control range-theme" type="range" min="0" max="2"
               data-bind="attr: {'data-uie-value': sound_setting}, l10n_tooltip: z.string.tooltip_preferences_sound, value: sound_setting"
               data-uie-name="enter-sound-alerts" />
        <div class="sound-control-labels">
          <label class="text-left" data-bind="l10n_text: z.string.preferences_options_sound_all"></label>
          <label class="text-center" data-bind="l10n_text: z.string.preferences_options_some"></label>
          <label class="text-right" data-bind="l10n_text: z.string.preferences_options_none"></label>
        </div>
        <div class="sound-control-hints">
          <label class="text-left" data-bind="l10n_text: z.string.preferences_options_all_hint, visibility: sound_setting() == 0"></label>
          <label class="text-center" data-bind="l10n_text: z.string.preferences_options_some_hint, visibility: sound_setting() == 1"></label>
          <label class="text-right" data-bind="l10n_text: z.string.preferences_options_none_hint, visibility: sound_setting() == 2"></label>
        </div>
      </div>
    </section>

    <section class="preferences-section">
      <header class="preferences-header" data-bind="l10n_text: z.string.preferences_contacts"></header>
      <div class="form-control">
        <div class="form-control-button button-icon" data-bind="click: connect_google, l10n_tooltip: z.string.tooltip_preferences_contacts" data-uie-name="do-share-contacts">
          <svg class="box-round">
            <use xlink:href="#icon-gmail"></use>
          </svg>
          <label data-bind="l10n_text: z.string.preferences_options_contacts_gmail"></label>
        </div>
        <!-- ko if: window.zAddressBook -->
          <div class="form-control-button button-icon" data-bind="click: connect_osx_contacts, l10n_tooltip: z.string.preferences_share_osx_contacts" data-uie-name="do-share-osx-contacts">
            <div class="box-round icon-contacts"></div>
            <label data-bind="l10n_text: z.string.preferences_options_contacts_osx"></label>
          </div>
        <!-- /ko -->
        <div class="preferences-detail"  data-bind="l10n_text: z.string.preferences_contacts_detail"></div>
      </div>
    </section>

    <section class="preferences-section">
      <header class="preferences-header" data-bind="l10n_text: z.string.preferences_options_data"></header>
      <div class="preferences-control">
        <div class="checkbox text-theme">
          <input type="checkbox" id="checkbox" data-bind="attr: {'data-uie-value': data_setting}, checked: data_setting">
          <label for="checkbox"><div class="label-xs" data-bind="l10n_text: z.string.preferences_options_data_checkbox"></div></label>
        </div>
      </div>
      <div class="preferences-detail" data-bind="l10n_text: z.string.preferences_options_data_detail"></div>
    </section>
  </div>
</div>
