<div id="preferences-account" class="preferences-page preferences-account" data-bind="with: $root.preferencesAccount, removed_from_view: $root.preferencesAccount.removedFromView">
  <div class="preferences-titlebar" data-bind="l10n_text: z.string.preferencesAccount"></div>
  <div class="preferences-content-wrapper">
    <div class="preferences-content" data-bind="antiscroll">
      <section class="preferences-section preferences-section-account-profile">
        <div class="preferences-account-user-data" data-bind="css: {'preferences-account-user-data-temporary': !isActivatedAccount()}">
          <!-- ko if: isActivatedAccount() -->
            <div class="preferences-account-name-wrapper">
              <input class="preferences-account-name preferences-account-input"
                     id="name" type="text"
                     data-bind="value: name, event: {blur: resetNameInput}, enter: changeName, l10n_placeholder: z.string.preferencesAccountUsernamePlaceholder"
                     data-uie-name="enter-name"
                     maxlength="64"
                     spellcheck="false" />
              <span class="preferences-account-input-icon" data-bind="css: nameSaved() ? 'checkmark' : 'preferences-account-input-icon-edit'"></span>
            </div>

            <!-- ko if: isTeam() -->
              <availability-state class="preferences-account-availability"
                                  data-bind="click: clickOnAvailability"
                                  data-uie-name="status-availability-in-profile"
                                  params="availability: availability, label: availabilityLabel, showArrow: true">
              </availability-state>
            <!-- /ko -->

            <div class="preferences-account-username-wrapper">
              <span class="preferences-account-username-atsign">@</span>
              <input class="preferences-account-username preferences-account-input"
                     id="username" type="text"
                     data-bind="textInput: username, event: {input: verifyUsername, keypress: checkUsernameInput, blur: resetUsernameInput}, enter: changeUsername, hasFocus: shouldFocusUsername()"
                     data-uie-name="enter-username"
                     maxlength="21"
                     spellcheck="false"
                     autocomplete="off" />
              <span class="preferences-account-input-icon" data-bind="css: usernameSaved() ? 'checkmark' : 'preferences-account-input-icon-edit'"></span>
              <!-- ko ifnot: usernameState() -->
                <div class="preferences-account-username-hint text-graphite font-size-xs"
                     data-bind="l10n_text: z.string.preferencesAccountUsernameHint"></div>
              <!-- /ko -->
              <!-- ko if: usernameState() === z.viewModel.content.PreferencesAccountViewModel.USERNAME_STATE.AVAILABLE -->
                <div class="preferences-account-username-error font-size-xs"
                     data-bind="l10n_text: z.string.preferencesAccountUsernameAvailable"></div>
              <!-- /ko -->
              <!-- ko if: usernameState() === z.viewModel.content.PreferencesAccountViewModel.USERNAME_STATE.TAKEN -->
                <div class="preferences-account-username-error font-size-xs"
                     data-bind="l10n_text: z.string.preferencesAccountUsernameErrorTaken, css: {'text-red': submittedUsername() === enteredUsername()}"></div>
              <!-- /ko -->
            </div>

            <!-- ko if: isTeam() -->
              <div class="preferences-account-team preferences-section-account-space-after" data-bind="text: teamName()" data-uie-name="status-team"></div>
            <!-- /ko -->

            <div class="preferences-account-mail" data-bind="text: selfUser().email()" data-uie-name="enter-email"></div>
            <div class="preferences-account-phone" data-bind="text: selfUser().phone()" data-uie-name="enter-phone"></div>
            <accent-color-picker class="preferences-account-accent-color preferences-section-account-space-before" params="user: selfUser(), selected: changeAccentColor" data-uie-name="enter-accent-color"></accent-color-picker>
          <!-- /ko -->

          <!-- ko ifnot: isActivatedAccount() -->
            <div class="preferences-account-name-wrapper">
              <div class="preferences-account-name" data-bind="text: name" data-uie-name="status-name"></div>
            </div>
            <hr class="preferences-separator">
            <div class="preferences-link text-theme" data-bind="click: clickOnLeaveGuestRoom, l10n_text: z.string.preferencesAccountLeaveGuestRoom" data-uie-name="do-leave-guest-room"></div>
            <div class="preferences-leave-disclaimer" data-bind="l10n_text: z.string.preferencesAccountLeaveGuestRoomDescription"></div>
          <!-- /ko -->
        </div>

        <!-- ko if: isActivatedAccount() -->
          <label class="preferences-account-picture-button" for="self-upload-file-input" data-bind="l10n_tooltip: z.string.tooltipPreferencesPicture">
            <participant-avatar params="participant: selfUser, size: z.components.ParticipantAvatar.SIZE.X_LARGE"></participant-avatar>
            <input id="self-upload-file-input"
                  type="file"
                  data-bind="attr: {accept: z.viewModel.content.PreferencesAccountViewModel.CONFIG.PROFILE_IMAGE.FILE_TYPES.join(',')}, file_select: clickOnChangePicture"
                  data-uie-name="do-select-picture"/>
            <span class="icon-camera"></span>
          </label>
        <!-- /ko -->

        <!-- ko ifnot: isActivatedAccount() -->
          <div>
            <participant-avatar params="participant: selfUser, size: z.components.ParticipantAvatar.SIZE.X_LARGE"></participant-avatar>
          </div>
        <!-- /ko -->
      </section>

      <section class="preferences-section preferences-section-privacy">
        <hr class="preferences-separator">
        <header class="preferences-header" data-bind="l10n_text: z.string.preferencesAccountData"></header>
        <div class="preferences-option">
          <div class="preferences-option-icon checkbox text-theme" data-bind="attr: {'data-uie-value': optionPrivacy}" data-uie-name="status-preference-privacy">
            <input type="checkbox" id="privacy-checkbox" data-bind="checked: optionPrivacy">
            <label class="preferences-options-checkbox-label" for="privacy-checkbox" data-bind="l10n_text: z.string.preferencesAccountDataCheckbox"></label>
          </div>
        </div>
        <div class="preferences-detail" data-bind="l10n_text: z.string.preferencesAccountDataDetail"></div>

        <!-- ko if: isActivatedAccount() -->
          <div class="preferences-option">
            <div class="preferences-option-icon checkbox text-theme" data-bind="attr: {'data-uie-value': optionMarketingConsent}" data-uie-name="status-preference-marketing">
              <input type="checkbox" id="marketing-checkbox" data-bind="checked: optionMarketingConsent">
              <label class="preferences-options-checkbox-label" for="marketing-checkbox" data-bind="l10n_text: z.string.preferencesAccountMarketingConsentCheckbox"></label>
            </div>
          </div>
          <div class="preferences-detail" data-bind="l10n_text: z.string.preferencesAccountMarketingConsentDetail"></div>
        <!-- /ko -->
      </section>

      <!-- ko if: isActivatedAccount() -->
        <section class="preferences-section preferences-section-conversation-history">
          <hr class="preferences-separator">
          <header class="preferences-header" data-bind="l10n_text: z.string.preferencesOptionsBackupHeader"></header>
          <div class="preferences-link text-theme" data-bind="click: clickOnBackupExport, l10n_text: z.string.preferencesOptionsBackupExportHeadline" data-uie-name="do-backup-export"></div>
          <div class="preferences-detail" data-bind="l10n_text: z.string.preferencesOptionsBackupExportSecondary"></div>
          <label class="preferences-link text-theme preferences-history-backup-import-field" data-uie-name="do-backup-import">
            <span data-bind="l10n_text: z.string.preferencesOptionsBackupImportHeadline"></span>
            <input type="file" data-bind="event: {change: onImportFileChange}, attr: {accept: `.${z.viewModel.content.HistoryExportViewModel.CONFIG.FILE_EXTENSION}`}" data-uie-name="input-import-file"/>
          </label>
          <div class="preferences-detail" data-bind="l10n_text: z.string.preferencesOptionsBackupImportSecondary"></div>
        </section>

        <section class="preferences-section preferences-section-account-security">
          <hr class="preferences-separator">

          <!-- ko if: isTeamManager() -->
            <div class="preferences-link text-theme" data-bind="click: clickOnManage, l10n_text: z.string.preferencesAccountManageTeam" data-uie-name="do-manage-team"></div>
          <!-- /ko -->

          <div class="preferences-link text-theme" data-bind="click: clickOnCreate, l10n_text: z.string.preferencesAccountCreateTeam" data-uie-name="do-create-team"></div>
          <div class="preferences-link text-theme" data-bind="click: clickOnResetPassword, l10n_text: z.string.preferencesAccountResetPassword, l10n_tooltip: z.string.tooltipPreferencesPassword" data-uie-name="do-reset-password"></div>

          <!-- ko ifnot: isTeam() -->
            <div class="preferences-link text-theme" data-bind="click: clickOnDeleteAccount, l10n_text: z.string.preferencesAccountDelete" data-uie-name="go-delete-account"></div>
          <!-- /ko -->
        </section>
      <!-- /ko -->

      <!-- ko if: isActivatedAccount() && !z.util.Environment.desktop -->
        <section class="preferences-section">
          <div class="preferences-link text-theme" data-bind="click: clickOnLogout, l10n_text: z.string.preferencesAccountLogOut" data-uie-name="do-logout"></div>
        </section>
      <!-- /ko -->
    </div>
  </div>
</div>
