<div id="preferences-devices" class="preferences-page preferences-devices" data-bind="with: $root.preferences_devices">
  <div class="preferences-titlebar" data-bind="l10n_text: z.string.preferences_devices"></div>
  <div class="preferences-content">
    <section class="preferences-section">
      <header class="preferences-header" data-bind="l10n_text: z.string.preferences_devices_current"></header>
      <!-- ko if: current_client() -->
        <div class="preferences-devices-model" data-bind="text: current_client().model"></div>
        <div class="preferences-devices-id"><span data-bind="l10n_text: z.string.preferences_devices_id"></span><span data-bind="text: current_client().id"></span></div>
        <div class="preferences-devices-activated" data-bind="l10n_html: {id: z.string.preferences_devices_activated_on, replace: {placeholder: '%time', content: '<span class=\'label-semibold\'>' + 'time' + '</span>'}}"></div>
        <div class="preferences-devices-activated" data-bind="l10n_html: {id: z.string.preferences_devices_activated_in, replace: {placeholder: '%location', content: '<span class=\'label-semibold\'>' + location + '</span>'}}"></div>
      <!-- /ko -->
    </section>

    <section class="preferences-section">
      <header class="preferences-header" data-bind="l10n_text: z.string.preferences_devices_active"></header>
    </section>
  </div>
</div>
