<div id="preferences-av" class="preferences-page preferences-av" data-bind="with: $root.preferencesAV">
  <div class="preferences-titlebar" data-bind="l10n_text: z.string.preferencesAV"></div>
  <div class="preferences-content-wrapper">
    <div class="preferences-content" data-bind="antiscroll">

      <!-- ko if: deviceSupport.audioInput() -->
        <section class="preferences-section">
          <header class="preferences-header preferences-av-header" data-bind="l10n_text: z.string.preferencesAVMicrophone"></header>
          <!-- ko if: permissionDenied() -->
            <div class="preferences-av-detail">
              <a rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_text: z.string.preferencesAVPermissionDetail, l10n_href: {support: z.config.SUPPORT.ID.DEVICE_ACCESS_DENIED}"></a>
            </div>
          <!-- /ko -->
          <div class="preferences-option" data-bind="css: {'preferences-av-select-disabled': permissionDenied}">
            <div class="preferences-option-icon preferences-av-select-icon">
              <div class="icon-microphone"></div>
            </div>
            <div class="input-select">
              <select class="preferences-av-select" name="select"
                      data-bind="attr: {'disabled': availableDevices.audioInput().length < 2 || permissionDenied},
                                 css: {'preferences-av-select-disabled': permissionDenied},
                                 options: availableDevices.audioInput,
                                 optionsText: function(item) {return item.label || z.string.preferencesAVMicrophone},
                                 optionsValue: 'deviceId',
                                 value: currentDeviceId.audioInput"
                      data-uie-name="enter-microphone">
              </select>
              <label class="icon-down preferences-av-label" data-bind="visible: availableDevices.audioInput().length >= 2"></label>
            </div>
          </div>
          <input-level class="preferences-av-meter text-theme" params="level: audioLevel, disabled: permissionDenied"></input-level>
        </section>
      <!-- /ko -->

      <!-- ko if: supportsAudioOutput() -->
        <section class="preferences-section">
          <header class="preferences-header preferences-av-header" data-bind="l10n_text: z.string.preferencesAVSpeakers"></header>
          <div class="preferences-option">
            <div class="preferences-option-icon preferences-av-select-icon">
              <div class="icon-speaker"></div>
            </div>
            <div class="input-select">
              <select class="preferences-av-select" name="select"
                      data-bind="enabled: availableDevices.audioOutput().length >= 2,
                                 options: availableDevices.audioOutput,
                                 optionsText: function(item) {return item.label || z.string.preferencesAVSpeakers},
                                 optionsValue: 'deviceId',
                                 value: currentDeviceId.audioOutput"
                      data-uie-name="enter-speaker">
              </select>
              <label class="icon-down preferences-av-label" data-bind="visible: availableDevices.audioOutput().length >= 2"></label>
            </div>
          </div>
        </section>
      <!-- /ko -->

      <!-- ko if: deviceSupport.videoInput() -->
        <section class="preferences-section">
          <header class="preferences-header preferences-av-header" data-bind="l10n_text: z.string.preferencesAVCamera"></header>
          <!-- ko if: permissionDenied() -->
            <div class="preferences-av-detail">
              <a rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_text: z.string.preferencesAVPermissionDetail, l10n_href: {support: z.config.SUPPORT.ID.DEVICE_ACCESS_DENIED}"></a>
            </div>
          <!-- /ko -->
          <div class="preferences-option" data-bind="css: {'preferences-av-select-disabled': permissionDenied}">
            <div class="preferences-option-icon preferences-av-select-icon">
              <camera-icon></camera-icon>
            </div>
            <div class="input-select">
              <select class="preferences-av-select" name="select"
                      data-bind="attr: {'disabled': availableDevices.audioInput().length < 2 || permissionDenied},
                                 css: {'preferences-av-select-disabled': permissionDenied},
                                 options: availableDevices.videoInput,
                                 optionsText: function(item) {return item.label || z.string.preferencesAVCamera},
                                 optionsValue: 'deviceId',
                                 value: currentDeviceId.videoInput"
                      data-uie-name="enter-camera">
              </select>
              <label class="icon-down preferences-av-label" data-bind="visible: availableDevices.videoInput().length >= 2"></label>
            </div>
          </div>
          <!-- ko if: isTemporaryGuest() -->
            <div class="preferences-detail" data-bind="l10n_text: z.string.preferencesAVTemporaryDisclaimer"></div>
          <!-- /ko -->
          <video class="preferences-av-video"
                 autoplay
                 playsinline
                 data-bind="css: {'preferences-av-video-disabled': permissionDenied},
                            muteMediaElement: mediaStream(),
                            sourceStream: mediaStream()">
          </video>
        </section>
      <!-- /ko -->

    </div>
  </div>
</div>
