<div id="modals">
  <modal
    params="isShown: isModalVisible(), onBgClick: content().onBgClick, onClosed: onModalHidden"
    data-bind="attr: {'data-uie-name': content().modalUie}"
  >
    <div class="modal__header" data-uie-name="status-modal-title">
      <div class="modal__header__title" data-bind="text: content().titleText"></div>
      <!-- ko if: content().showClose -->
        <close-icon class="modal__header__button" data-bind="click: hide" data-uie-name="do-close"></close-icon>
      <!-- /ko -->

    </div>
    <div class="modal__body" data-bind="fadingscrollbar">
      <div class="modal__text" data-uie-name="status-modal-text">
        <!-- ko if: content().messageHtml -->
          <div data-bind="html: content().messageHtml"></div>
        <!-- /ko -->
        <!-- ko if: content().messageText -->
          <div data-bind="text: content().messageText"></div>
        <!-- /ko -->
      </div>
      <!-- ko if: hasPassword() -->
        <form data-bind="submit: () => doAction(confirm, content().closeOnConfirm)">
          <input class="modal__input" type="password" data-bind="textInput: passwordValue, attr: {placeholder: content().inputPlaceholder}, hasFocus: inputFocus"/>
        </form>
      <!-- /ko -->
      <!-- ko if: hasInput() -->
        <form data-bind="submit: () => doAction(confirm, content().closeOnConfirm)">
          <input maxlength="64" class="modal__input" data-bind="textInput: inputValue, attr: {placeholder: content().inputPlaceholder}, hasFocus: inputFocus"/>
        </form>
      <!-- /ko -->
      <!-- ko if: errorMessage() -->
        <div class="modal__input__error" data-bind="text: errorMessage"></div>
      <!-- /ko -->
      <!-- ko if: hasOption() -->
        <div class="modal-option">
          <div class="checkbox accent-text">
            <input class="modal-checkbox" type="checkbox" id="clear-data-checkbox" data-bind="checked: optionChecked" data-uie-name="modal-option-checkbox" />
            <label class="label-xs" for="clear-data-checkbox">
              <span class="modal-option-text text-background" data-bind="text: content().checkboxLabel"></span>
            </label>
          </div>
        </div>
      <!-- /ko -->
      <div class="modal__buttons" data-bind="css: {'modal__buttons--column': hasMultipleSecondary()}">
        <!-- ko foreach: {data: content().secondaryAction, as: 'secondary', noChildContext: true} -->
          <input type="button" data-bind="value: secondary.text, click: () => doAction(secondary.action, true, true), css: {'modal__button--full': hasMultipleSecondary()}, attr: {'data-uie-name': secondary.uieName}" class="modal__button modal__button--secondary"></button>
        <!-- /ko -->
        <!-- ko if: content().primaryAction.text -->
          <input type="button" data-bind="value: content().primaryAction.text, click: () => doAction(confirm, content().closeOnConfirm), css: {'modal__button--full': hasMultipleSecondary()}, enable: actionEnabled()" class="modal__button modal__button--primary" data-uie-name="do-action"></inpu>
        <!-- /ko -->
      </div>
    </div>
  </modal>
</div>
