<div id="warnings">

  <!-- ko if: warnings().length > 0-->
    <div class="warning" data-bind="css:{'warning-dimmed': warningDimmed}">
      <!-- ko if: visibleWarning() === type.REQUEST_CAMERA -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestCamera', {}, {'icon': '<span class=\'warning-bar-icon icon-camera\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.DENIED_CAMERA -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedCamera')"></span>&nbsp;
            <a class="warning-bar-link" data-bind="attr: {href: Config.URL.SUPPORT.CAMERA_ACCESS_DENIED}, text: t('warningLearnMore')" rel="nofollow noopener noreferrer" target="_blank"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.REQUEST_MICROPHONE -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <mic-on-icon class="warning-bar-icon"></mic-on-icon>
            <span data-bind="html: t('warningPermissionRequestMicrophone',{},{icon: ''})"></span>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.DENIED_MICROPHONE -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedMicrophone')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.MICROPHONE_ACCESS_DENIED}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.REQUEST_SCREEN -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestScreen', {} , {'icon': '<span class=\'warning-bar-icon icon-screensharing\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.DENIED_SCREEN -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedScreen')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.SCREEN_ACCESS_DENIED}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.NOT_FOUND_CAMERA -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningNotFoundCamera')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.DEVICE_NOT_FOUND}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.NOT_FOUND_MICROPHONE -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningNotFoundMicrophone')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.DEVICE_NOT_FOUND}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.REQUEST_NOTIFICATION -->
        <div class="warning-bar warning-bar-feature">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestNotification', {}, {'icon': '<span class=\'warning-bar-icon icon-envelope\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning" data-uie-name="do-close-warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.UNSUPPORTED_INCOMING_CALL -->
        <div class="warning-bar warning-bar-feature">
          <!-- ko ifnot: Runtime.isChrome() -->
            <div class="warning-bar-message">
              <span data-bind="text: t('warningCallUnsupportedIncoming', name())"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.CALLING}, text: t('warningLearnMore')"></a>
            </div>
          <!-- /ko -->
          <!-- ko if: Runtime.isChrome() -->
            <!-- ko if: Runtime.isDesktopApp() -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallIssues', brandName)"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: window.wire.env.APP_BASE}, text: t('wire_for_web', brandName)"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: Runtime.isDesktopApp() -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallUpgradeBrowser')"></span>
              </div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.UNSUPPORTED_OUTGOING_CALL -->
        <div class="warning-bar warning-bar-feature">
          <!-- ko ifnot: Runtime.isChrome() -->
            <div class="warning-bar-message">
              <span data-bind="text: t('warningCallUnsupportedOutgoing')"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: Config.URL.SUPPORT.CALLING}, text: t('warningLearnMore')"></a>
            </div>
          <!-- /ko -->
          <!-- ko if: Runtime.isChrome() -->
            <!-- ko if: Runtime.isDesktopApp() -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallIssues', brandName)"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="attr: {href: window.wire.env.APP_BASE}, text: t('wire_for_web', brandName)"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: Runtime.isDesktopApp() -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallUpgradeBrowser')"></span>
              </div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.CONNECTIVITY_RECONNECT -->
        <div class="warning-bar warning-bar-connection">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningConnectivityConnectionLost', brandName)"></span>
            <loading-icon class="warning-bar-spinner" data-uie-name="status-loading"></loading-icon>
          </div>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.CALL_QUALITY_POOR -->
      <div class="warning-bar warning-bar-connection warning-bar-poor-call-quality">
        <div class="warning-bar-message">
          <span data-bind="text: t('warningCallQualityPoor')"></span>
        </div>
      </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.CONNECTIVITY_RECOVERY -->
        <div class="warning-bar warning-bar-progress"></div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.NO_INTERNET -->
        <div class="warning-bar warning-bar-connection">
          <div class="warning-bar-message" data-bind="text: t('warningConnectivityNoInternet')"></div>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === type.LIFECYCLE_UPDATE -->
        <div class="warning-bar warning-bar-connection">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningLifecycleUpdate', brandName)"></span>&nbsp;<a class="warning-bar-link" data-bind="attr: {href: Config.URL.WHATS_NEW}, text: t('warningLifecycleUpdateNotes')" rel="nofollow noopener noreferrer" target="_blank" data-uie-name="go-whats-new"></a>&nbsp;·&nbsp;<a class="warning-bar-link" data-bind="click: function(){amplify.publish(lifeCycleRefresh)}, text: t('warningLifecycleUpdateLink')" rel="nofollow noopener noreferrer" target="_blank" data-uie-name="do-update"></a>
          </div>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->

</div>
