<div id="warnings">

  <!-- ko if: warnings().length > 0-->
    <div class="warning" data-bind="css:{'warning-dimmed': warningDimmed}">
      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.REQUEST_CAMERA -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestCamera', {}, {'icon': '<span class=\'warning-bar-icon icon-camera\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.DENIED_CAMERA -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedCamera')"></span>&nbsp;
            <a class="warning-bar-link" data-bind="l10n_href: {support: z.config.SUPPORT.ID.CAMERA_ACCESS_DENIED}, text: t('warningLearnMore')" rel="nofollow noopener noreferrer" target="_blank"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.REQUEST_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestMicrophone', {}, {'icon': '<span class=\'warning-bar-icon icon-microphone\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.DENIED_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedMicrophone')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.MICROPHONE_ACCESS_DENIED}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.REQUEST_SCREEN -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestScreen', {} , {'icon': '<span class=\'warning-bar-icon icon-screensharing\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-icon" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.DENIED_SCREEN -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningPermissionDeniedScreen')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.SCREEN_ACCESS_DENIED}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.NOT_FOUND_CAMERA -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningNotFoundCamera')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.DEVICE_NOT_FOUND}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.NOT_FOUND_MICROPHONE -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningNotFoundMicrophone')"></span>&nbsp;
            <a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.DEVICE_NOT_FOUND}, text: t('warningLearnMore')"></a>
          </div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.REQUEST_NOTIFICATION -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <div class="warning-bar-message" data-bind="html: t('warningPermissionRequestNotification', {}, {'icon': '<span class=\'warning-bar-icon icon-envelope\'></span>'})"></div>
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning" data-uie-name="do-close-warning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.UNSUPPORTED_INCOMING_CALL -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <!-- ko ifnot: z.util.Environment.browser.chrome -->
            <div class="warning-bar-message">
              <span data-bind="text: t('warningCallUnsupportedIncoming', name())"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.CALLING}, text: t('warningLearnMore')"></a>
            </div>
          <!-- /ko -->
          <!-- ko if: z.util.Environment.browser.chrome -->
            <!-- ko if: z.util.Environment.desktop -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallIssues')"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {type: z.util.URLUtil.TYPE.WEBAPP, path: t('urlWebappRoot')}, text: t('wire_for_web')"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: z.util.Environment.desktop -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallUpgradeBrowser')"></span>
              </div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.UNSUPPORTED_OUTGOING_CALL -->
        <div class="warning-bar warning-bar-feature bg-theme">
          <!-- ko ifnot: z.util.Environment.browser.chrome -->
            <div class="warning-bar-message">
              <span data-bind="text: t('warningCallUnsupportedOutgoing')"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {support: z.config.SUPPORT.ID.CALLING}, text: t('warningLearnMore')"></a>
            </div>
          <!-- /ko -->
          <!-- ko if: z.util.Environment.browser.chrome -->
            <!-- ko if: z.util.Environment.desktop -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallIssues')"></span>&nbsp;<a class="warning-bar-link" rel="nofollow noopener noreferrer" target="_blank" data-bind="l10n_href: {type: z.util.URLUtil.TYPE.WEBAPP, path: t('urlWebappRoot')}, text: t('wire_for_web')"></a>
              </div>
            <!-- /ko -->
            <!-- ko ifnot: z.util.Environment.desktop -->
              <div class="warning-bar-message">
                <span data-bind="text: t('warningCallUpgradeBrowser')"></span>
              </div>
            <!-- /ko -->
          <!-- /ko -->
          <span class="warning-bar-close icon-close button-round button-round-dark" data-bind="click: closeWarning"></span>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.CONNECTIVITY_RECONNECT -->
        <div class="warning-bar warning-bar-connection bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningConnectivityConnectionLost')"></span>
            <svg class="warning-bar-spinner spin" width="11" height="11" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-uie-name="status-loading">
              <path fill="#fff" d="M12.416 12.417c-2.374 2.375-6.28 2.33-8.72-.112-2.444-2.442-2.488-6.347-.113-8.72 1.658-1.66 4.12-2.18 6.343-1.394.477.17 1-.08 1.17-.557.167-.477-.083-1-.56-1.17C7.658-.552 4.453.124 2.286 2.29-.808 5.384-.75 10.448 2.4 13.6c3.15 3.152 8.216 3.21 11.312.113 2.165-2.166 2.84-5.37 1.824-8.25-.168-.476-.692-.726-1.17-.558-.476.17-.726.692-.557 1.17.784 2.222.265 4.684-1.394 6.342z"></path>
            </svg>
          </div>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.CONNECTIVITY_RECOVERY -->
        <div class="warning-bar warning-bar-progress"></div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.NO_INTERNET -->
        <div class="warning-bar warning-bar-connection bg-theme">
          <div class="warning-bar-message" data-bind="text: t('warningConnectivityNoInternet')"></div>
        </div>
      <!-- /ko -->

      <!-- ko if: visibleWarning() === z.viewModel.WarningsViewModel.TYPE.LIFECYCLE_UPDATE -->
        <div class="warning-bar warning-bar-connection bg-theme">
          <div class="warning-bar-message">
            <span data-bind="text: t('warningLifecycleUpdate')"></span>&nbsp;<a class="warning-bar-link" href="https://medium.com/wire-news/desktop-updates" data-bind="text: t('warningLifecycleUpdateNotes')" rel="nofollow noopener noreferrer" target="_blank" data-uie-name="go-whats-new"></a>&nbsp;·&nbsp;<a class="warning-bar-link" data-bind="click: function(){amplify.publish(z.event.WebApp.LIFECYCLE.REFRESH)}, text: t('warningLifecycleUpdateLink')" rel="nofollow noopener noreferrer" target="_blank" data-uie-name="do-update"></a>
          </div>
        </div>
      <!-- /ko -->
    </div>
  <!-- /ko -->

</div>
