<main id="wire-main"
     class="off"
     data-bind="css: mainClasses()"
     data-uie-name="status-webapp"
     data-uie-value="is-loading">
  <!-- ko stopBinding: true -->
    <div id="app" class="app">
      <div id="left-column" class="left-column" data-bind="css: {'left-column--light-theme': !isActivatedAccount()}">
        <header><h1 class="visually-hidden" data-bind="text: t('accessibility.headings.sidebar')"></h1></header>
        <!-- ko if: webappLoaded -->
          <left-sidebar params="listViewModel: $root, selfUser: selfUser"></left-sidebar>
        <!-- /ko -->
      </div>

      <div id="center-column" class="center-column">
        <main-content params="contentViewModel: $root"></main-content>

        <!-- ko if: state() === State.CONNECTION_REQUESTS -->
          <h1 class="visually-hidden" data-bind="text: t('accessibility.headings.connectionRequests')"></h1>

          <connect-requests
            params="
                actionsViewModel: $root.mainViewModel.actions,
                userState: $root.userState,
                teamState: $root.teamState,
              "
          ></connect-requests>
        <!-- /ko -->
        <!-- ko if: state() === State.CONVERSATION -->
          <h1 class="visually-hidden" data-bind="text: t('accessibility.headings.conversation')"></h1>
          #include('content/conversation.htm')
        <!-- /ko -->
        <!-- ko if: state() === State.HISTORY_EXPORT -->
          <h1 class="visually-hidden" data-bind="text: t('accessibility.headings.historyExport')"></h1>

          <history-export
            style="height: 100%;"
            params="
              backupRepository: $root.repositories.backup,
              userState: $root.userState,
            "
          ></history-export>
        <!-- /ko -->

        <group-creation-modal params="
          conversationRepository: $root.repositories.conversation,
          searchRepository: $root.repositories.search,
          teamRepository: $root.repositories.team,
        "></group-creation-modal>
        #include('modal/legal-hold.htm')
        <div class="center-column__overlay"></div>
      </div>
    </div>

    #include('modals.htm')
    <!-- /ko -->

    <app-lock-container params="clientRepository: $root.content.repositories.client"></app-lock-container>
    <warnings-container></warnings-container>
    <calling-overlay-container params="
      multitasking: $root.multitasking,
      callingRepository: $root.content.repositories.calling,
      mediaRepository: $root.content.repositories.media,
      ">
    </calling-overlay-container>
</main>
