name: CI

on:
  pull_request:
    # we want to run the CI on every PR targetting those branches
    branches: [master, dev, release/*]

  push:
    # We also run CI on dev in order to update the coverage monitoring
    branches: [dev]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: buildjet-8vcpu-ubuntu-2204

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn --immutable

      - name: Lint
        run: yarn nx run-many -t lint --all

      - name: Test
        run: yarn nx run-many -t test --all -- --coverage --coverageReporters=lcov --detectOpenHandles=false

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          fail_ci_if_error: false
          directory: ./coverage
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
