name: CI

on:
  pull_request:
    # we want to run the CI on every PR targetting those branches
    branches: [master, dev, release/*]

  push:
    # We also run CI on dev in order to update the coverage monitoring
    branches: [dev]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: buildjet-8vcpu-ubuntu-2204

    steps:
      - name: Checkout (pull_request)
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v6
        with:
          # Uses the head commit (not merge commit) for PRs
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout (non-PR)
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install JS dependencies
        run: yarn --immutable

      - name: Build libraries
        run: yarn nx run-many -t build --projects=tag:type:lib

      - name: Lint
        run: yarn nx run-many -t lint --all

      - name: Test
        run: yarn nx run-many -t test --all --configuration=ci --detectOpenHandles=false

      - name: Upload webapp coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          files: ./apps/webapp/coverage/lcov.info
          flags: app_webapp
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload server coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          files: ./apps/server/coverage/lcov.info
          flags: app_server
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload core library coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          files: ./coverage/libraries/core/lcov.info
          flags: lib_core
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload api-client library coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          fail_ci_if_error: false
          files: ./coverage/libraries/api-client/lcov.info
          flags: lib_api_client
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build and package
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
        run: yarn nx run server:package

      - name: Push PR Docker image
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
        env:
          DOCKER_PASSWORD: ${{ secrets.WEBTEAM_QUAY_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.WEBTEAM_QUAY_USERNAME }}
          PR_TAG: pr-${{ github.event.pull_request.number }}
          GITHUB_SHA: ${{ github.event.pull_request.head.sha }}
        # The third and fourth positional parameters are uniqueTagOut and commitSha; they are intentionally left empty here.
        run: yarn docker "$PR_TAG" "" "" --pr
