name: Link and Lint PR with Jira Ticket Number
on:
  pull_request:
    types: [opened, edited, synchronize]
jobs:
  add-jira-description:
    # avoid triggering this action on dependabot PRs
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: cakeinpanic/jira-description-action@master
        name: jira-description-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-base-url: https://wearezeta.atlassian.net
          skip-branches: '^(dev|master|release\/*)$'
          fail-when-jira-issue-not-found: true
