name: Label PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    name: Label PR based on title
    runs-on: ubuntu-latest
    steps:
      - uses: srvaroa/labeler@v1.11
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
