name: Pull translations from crowdin

on:
  workflow_dispatch:

jobs:
  sync_translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{github.token}}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Authenticate git clone
        env:
          GH_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
        run: echo -e "machine github.com\n  login ${GH_TOKEN}" > ~/.netrc

      - name: Install JS dependencies
        run: yarn --immutable

      - name: Sync translations
        uses: crowdin/github-action@v2
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
          GITHUB_ACTOR: otto-the-bot
          CROWDIN_PROJECT_ID: 342359
          INPUT_DEBUG_MODE: true
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          push_translations: true
          create_pull_request: true
          localization_branch_name: 'pull_translations'
          pull_request_title: 'chore: Pull translations'
          commit_message: 'chore: Pull translations'
          token: ${{secrets.WEBTEAM_CROWDIN_TOKEN}}
          source: '/apps/webapp/src/i18n/en-US.json'
          translation: '/apps/webapp/src/i18n/%locale%.json'
          base_path: '.'
