name: Sync translations

on:
  push:
    branches: [dev]
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

concurrency:
  group: translations-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync_translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Authenticate git clone
        env:
          GH_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
        run: echo -e "machine github.com\n  login ${GH_TOKEN}" > ~/.netrc

      - name: Install JS dependencies
        run: yarn --immutable

      - name: Merge translations
        run: yarn nx run webapp:translate-merge

      - name: Download translations
        uses: crowdin/github-action@v2
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
          CROWDIN_PROJECT_ID: 342359
          INPUT_DEBUG_MODE: false
        with:
          upload_sources: true
          upload_translations: false
          github_user_name: otto-the-bot
          github_user_email: webapp+otto@wire.com
          download_translations: true
          push_translations: true
          create_pull_request: true
          localization_branch_name: 'translations'
          pull_request_title: 'chore: Update translations'
          commit_message: 'chore: Update translations'
          token: ${{secrets.WEBTEAM_CROWDIN_TOKEN}}
          source: '/apps/webapp/src/i18n/en-US.json'
          translation: '/apps/webapp/src/i18n/%locale%.json'
          base_path: '.'
