name: Sync translations

on:
  push:
    branches: [dev]
  schedule:
    - cron: '0 8 * * *'

jobs:
  sync_translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0

      - name: Yarn cache
        uses: c-hive/gha-yarn-cache@v2.1.0

      - name: Authenticate git clone
        env:
          GH_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
        run: echo -e "machine github.com\n  login ${GH_TOKEN}" > ~/.netrc

      - name: Install JS dependencies
        run: yarn --frozen-lockfile

      - name: Merge translations
        run: yarn translate:merge

      - name: Download translations
        uses: crowdin/github-action@1.3.3
        env:
          GITHUB_TOKEN: ${{secrets.OTTO_THE_BOT_GH_TOKEN}}
          CROWDIN_PROJECT_ID: 342359
          INPUT_DEBUG_MODE: false
        with:
          upload_sources: true
          github_user_name: otto-the-bot
          github_user_email: webapp+otto@wire.com
          upload_translations: false
          download_translations: true
          push_translations: true
          create_pull_request: true
          localization_branch_name: 'translations'
          pull_request_title: 'chore: Update translations'
          commit_message: 'chore: Update translations'
          token: ${{secrets.WEBTEAM_CROWDIN_TOKEN}}
          source: '/src/i18n/en-US.json'
          translation: '/src/i18n/%locale%.json'
          base_path: '.'
